<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>LIST OF EMPLOYEES</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add Employee
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    <div class="well">
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              method="<?php echo $form->getAttrib('method') ?>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->name->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->name->renderViewHelper(); ?>
                                        <?php echo $form->name->renderErrors(); ?>
                                    </div>
                                </div>
                            </div>
                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                        </form>

                    </div>
                </div>
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Employee Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Employee Name</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        //var_dump($this->details);die;
                        if (count($this->details) > 0) {
                            foreach ($this->details as $key => $value) {
                                ?>
                                <tr>
                                    <td><?php echo $value['id']; ?></td>
                                    <td><?php echo $value['name']; ?></td>
                                    <td> 
                                        <a href="#" onclick="Employee.edit(<?php echo $value['id']; ?>);">
                                            <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#" onclick="Employee.delete(<?php echo $value['id']; ?>);"> 
                                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>






<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [2] }]
        });
         <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });



</script>
