<?php
if ($this->flag == 1) {
    ?>
    <option value="">Please Select</option>
    <?php foreach ($this->countryData as $row) { ?>
        <option value="<?php echo $row['id']; ?>"><?php echo $row['country_name']; ?></option>
    <?php
    }
} 
else {
     foreach ($this->countryData as $row) { ?>
        <option value="<?php echo $row['id']; ?>"><?php echo $row['country_name']; ?></option>
    <?php
    }
}
?>