<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Update</button>
                        <button type="button"  onclick="State.GoToList();" class="btn btn-default li9 font-bold">
                            Back To States
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->state_name->renderLabel() ?></label>
                                    <?php echo $form->state_name->renderViewHelper(); ?>
                                    <?php echo $form->state_name->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->country->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->country->renderViewHelper(); ?>
                                    <?php echo $form->country->renderErrors(); ?>
                                </div>

                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>