<div class="container-fluid boxes">
    <div class="row">
        <div class="col-md-10 col-xs-12">
            <div class="cenerall">
                <?php
                $model = new Application_Model_Generic();
                $i = 1;
                foreach ($this->homeMenuData as $menu) {
                    $subMenuData = $model->getHomeSubMenu($menu['id']);
                    if (count($subMenuData) > 0) { ?>
                    <div class="flip <?php echo $menu['menu_class'];?>">
                        <div class="container">
                            <h3><?php echo $menu['type'];?></h3>
                            <div class="icons"><img src="/img/plus.png" /></div>
                        </div>
                        <div class="hov">
                            <h3><?php echo $menu['type'];?></h3>
                            <ul>
                                <?php foreach ($subMenuData as $submenu) { ?>
                                     <a href="<?php echo $submenu['url']; ?>"><li><?php echo $submenu['screen_name']; ?></li></a>
                                 <?php }?>
                            </ul>
                        </div>
                    </div>
                  
                   <?php }
                    if(count($this->homeMenuData)<>$i){ ?>
                    <div class="arrow-right"></div>
                    
                   <?php } 
                    $i++;
                    }?>
            </div>
        </div>
    </div>
</div>