<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="container-fluid btn-back">
                <div class="well">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4 mt-15" >
                                <label class="required" for="exampleInputName2">Lines</label>
                                <select id="line_select" selected="<?php echo $this->line_selected; ?>" class="form-control custom-select">
                                    <?php foreach ($this->lines_option as $products) { ?>                                
                                        <option value="<?php echo $products['value']; ?>" <?php echo ($this->line_selected == $products['value']) ? 'selected' : ''; ?>><?php echo $products['text']; ?></option>
                                    <?php } ?>                         
                                </select>
                                <div class="error-inner" id="lines_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="exampleInputName2">Date From</label>
                                <input class="form-control" value="<?php echo $this->from_selected == '' ? '' : $this->from_selected; ?>" type="text" id="date_from">
                                <div class="error-inner" id="from_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="exampleInputName2">Date To</label>
                                <input class="form-control" value="<?php echo $this->to_selected == '' ? '' : $this->to_selected; ?>" type="text" id="date_to">
                                <div class="error-inner" id="to_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="required" for="exampleInputName2">Group</label>
                                <select id="group_by" class="form-control custom-select">
                                    <?php foreach ($this->group_by as $products) { ?>                                
                                        <option value="<?php echo $products['value']; ?>" <?php echo ($this->group == $products['value']) ? 'selected' : ''; ?>><?php echo $products['text']; ?></option>
                                    <?php } ?>                         
                                </select>
                                <div class="error-inner" id="group_error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-1 mt-20">
                                <button class="btn btn-success" onclick="Dashboard.Filter();" type="text" id="filter">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <input type="hidden" id="lines" value="<?php echo $this->lines; ?>">
                        <input type="hidden" id="from" value="<?php echo $this->from; ?>">
                        <input type="hidden" id="to" value="<?php echo $this->to; ?>">
                        <input type="hidden" id="group" value="<?php echo $this->group; ?>">
                        <div class="col-md-6 dash-chart-a-b" id='chartContainer'></div>
                        <div class="col-md-6  dash-chart-a-b" id='chartContainer_1'></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 dash-chart-c" id='chartContainer_2'></div>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well">
                                <div class="row">
                                    <div><h3>Outstanding</h3></div>
                                    <div id="outstanding_details">
                                        <button class="btn btn-success" onclick="Dashboard.DisplayDetails();">Details</button>
                                    </div>
                                    <div id="outstanding_summary" style="display:none">
                                        <button class="btn btn-success" onclick="Dashboard.DisplaySummary();">Summary</button>
                                    </div>
                                    <div id="outstanding_div">
                                        <?php
                                        if (count($this->outstanding) > 0) {
                                            $orders = $this->outstanding;
                                            ?>                                               
                                            <div class="time-view mt-20">
                                                <div class="col-md-2 text-center tree-margin">
                                                    <div class="boxss view-green"><a target="_blank" href="/sales-order"><?php echo $orders['sales_count']; ?></a></div>
                                                    <p>SALES ORDERS</p>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2 text-center tree-margin">
                                                    <div class="boxss view-yellow"><a target="_blank" href="/purchase-order"><?php echo $orders['purchase_count']; ?></a></div>
                                                    <p>PURCHASE ORDERS</p>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2 text-center tree-margin">
                                                    <div class="boxss view-blue"><a target="_blank" href="/inventory/reorder-stock"><?php echo $orders['reorder_count']; ?></a></div>
                                                    <p>PRODUCTS TO REORDER</p>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2 text-center tree-margin">
                                                    <div class="boxss view-blue-light"><a target="_blank" href="/work-order"><?php echo $orders['work_count']; ?></a></div>
                                                    <p>WORK ORDERS</p>
                                                </div>
                                                <div class="col-md-1"></div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            <label class="required" for="exampleInputName2">Select Option</label>
                                            <select id="top_bottom_option" class="form-control custom-select">
                                                <option value="">Please Select</option>
                                                <?php foreach ($this->topList as $products) { ?>                                
                                                    <option value="<?php echo $products['id']; ?>" <?php echo ($this->top_selected == $products['name']) ? 'selected' : ''; ?>><?php echo $products['name']; ?></option>
                                                <?php } ?>                         
                                            </select>
                                            <div class="error-inner" id="top_bottom_option_error"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="required" for="exampleInputName2">Top/Bottom</label>
                                            <select id="top_bottom" selected="<?php echo $this->line_selected; ?>" class="form-control custom-select">
                                                <option value="">Please Select</option>
                                                <option value="Top">Top</option>
                                                <option value="Bottom">Bottom</option>                         
                                            </select>
                                            <div class="error-inner" id="top_bottom_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="exampleInputName2">Limit</label>
                                            <input class="form-control" value="" type="text" id="top_bottom_limit">
                                            <div class="error-inner" id="top_bottom_limit_error"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="exampleInputName2">Date From</label>
                                            <input class="form-control" value="" type="text" id="date_from_top_bottom">
                                            <div class="error-inner" id="date_from_top_bottom_error"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="exampleInputName2">Date To</label>
                                            <input class="form-control" value="" type="text" id="date_to_top_bottom">
                                            <div class="error-inner" id="date_to_top_bottom_error"></div>
                                        </div>
                                        <div class="col-md-2 mt-20">
                                            <button class="btn btn-success" onclick="Dashboard.TopBottom();" type="text" id="filter">Filter</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div id="top_bottom_display"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // prepare chart data as an array
        Dashboard.PieChart();
        Dashboard.BarChart();
        Dashboard.LineChart();

        $("#date_from").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
        $("#date_to").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd-mm-yy'
        });
        $("#date_from_top_bottom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
        $("#date_to_top_bottom").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
        //        $('#list-grid-outstanding').dataTable({
        //            "paging": true,
        //            "ordering": true,
        //            "info": true,
        //            "order": [[0, "desc"]]
        //        });
    });
</script>
