<div class="time-view-second mt-20">
    <table id="list-grid-outstanding" class="" cellspacing="0" width="100%">
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-green">
                        <a target="_blank" href="/sales-quote"><?php echo $this->salesDetails['sales_quote']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>SALES QUOTE</p></td>
        </tr>    
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-green">
                        <a target="_blank" href="/sales-order/sales-order-by-status/status/<?php echo "open"; ?>"><?php echo $this->salesDetails['open']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>OPEN SALES ORDERS</p></td>
        </tr>    
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-green">
                        <a target="_blank" href="/sales-order/sales-order-by-status/status/<?php echo "started"; ?>"><?php echo $this->salesDetails['started']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>STARTED SALES ORDERS</p></td>
        </tr>    
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-green">
                        <a target="_blank" href="/sales-order/sales-order-by-status/status/<?php echo "Uninvoiced"; ?>"><?php echo $this->salesDetails['Uninvoiced']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>UNINVOICED SALES ORDER</p></td>
        </tr>    
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-green">
                        <a target="_blank" href="/sales-order/sales-order-by-status/status/<?php echo "paid"; ?>"><?php echo $this->salesDetails['paid']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>PAID SALES ORDER</p></td>
        </tr>    
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-yellow">
                        <a target="_blank" href="/purchase-order/purchase-order-by-status/status/<?php echo "open"; ?>"><?php echo $this->purchaseDetails['open']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>OPEN PURCHASE ORDERS</p></td>
        </tr>
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-yellow">
                        <a target="_blank" href="/purchase-order/purchase-order-by-status/status/<?php echo "started"; ?>"><?php echo $this->purchaseDetails['started']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>IN PROGRESS PURCHASE ORDERS</p></td>
        </tr>    
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-yellow">
                        <a target="_blank" href="/purchase-order/purchase-order-by-status/status/<?php echo "unpaid"; ?>"><?php echo $this->purchaseDetails['unpaid']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>NOT PAID PURCHASE ORDERS</p></td>
        </tr>     
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-blue">
                        <a target="_blank" href="/inventory/reorder-stock"><?php echo $this->reOrder['reorder_orders']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>REORDER PRODUCTS</p></td>
        </tr>      
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-blue-light">
                        <a target="_blank" href="/work-order/work-order-by-status/status/<?php echo "open"; ?>"><?php echo $this->workorders['open']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>OPEN WORK ORDERS</p></td>
        </tr>       
        <tr>  
            <td>
                <div class="col-md-2 text-center tree-margin">
                    <div class="boxss view-blue-light">
                        <a target="_blank" href="/work-order/work-order-by-status/status/<?php echo "completed"; ?>"><?php echo $this->workorders['completed']; ?></a>
                    </div>
                </div>
            </td>
            <td><p>COMPLETED WORK ORDERS</p></td>
        </tr>       
    </table>
</div>
