<?php
if (count($this->outstanding) > 0) {
    $orders = $this->outstanding;
    ?>                                               
    <div class="time-view mt-20">
        <div class="col-md-2 text-center tree-margin">
            <div class="boxss view-green"><a target="_blank" href="/sales-order"><?php echo $orders['sales_count']; ?></a></div>
            <p>SALES ORDERS</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center tree-margin">
            <div class="boxss view-yellow"><a target="_blank" href="/purchase-order"><?php echo $orders['purchase_count']; ?></a></div>
            <p>PURCHASE ORDERS</p>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center tree-margin">
            <div class="boxss view-blue"><a target="_blank" href="/inventory/reorder-stock"><?php echo $orders['reorder_count']; ?></a></div>
            <p>PRODUCTS TO REORDER</p>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center tree-margin">
            <div class="boxss view-blue-light"><a target="_blank" href="/work-order"><?php echo $orders['work_count']; ?></a></div>
            <p>WORK ORDERS</p>
        </div>
        <div class="col-md-1"></div>
    </div>
<?php } ?>