<div class="col-md-12"><h3><?php echo $this->list ; ?></h3></div>
<table id="list-grid-dashboard" class="table table-striped" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th><?php echo $this->head; ?></th>
            <th><?php echo $this->second_head; ?></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Serial Number</th>
            <th><?php echo $this->head; ?></th>
            <th><?php echo $this->second_head; ?></th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        //var_dump($this->details);die;
        $i = 1;
        if (count($this->orders) > 0) {
            foreach ($this->orders as $key => $value) {
                    ?>
                    <tr>
                        <td><?php echo $i ;?></td>    
                        <td><a href= "<?php echo $value['url']; ?>" target="_blank"><?php echo $value['name']; ?></a></td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="<?php echo $value['total_amount']; ?>"
                                aria-valuemin="" aria-valuemax="" style="<?php echo  $value['percentage'] ;?>"><?php echo $value['total_amount']; ?>
                                  <span class="sr-only"></span>
                                </div>
                              </div>
                        </td>
                        
                    </tr>    
                <?php
                $i++;
        }
    }
    ?>

    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#list-grid-dashboard').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "asc"]]
            
        });
    });
</script>