<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Update</button>
                        <button type="button"  onclick="Users.GoToList();" class="btn btn-default li9 font-bold">
                            Back To Users
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->uname->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->uname->renderViewHelper(); ?>
                                    <?php echo $form->uname->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->upassword->renderLabel() ?></label>
                                    <?php echo $form->upassword->renderViewHelper(); ?>
                                    <?php echo $form->upassword->renderErrors(); ?>
                                </div>
                            </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label ><?php echo $form->cpassword->renderLabel() ?></label>
                                <?php echo $form->cpassword->renderViewHelper(); ?>
                                <?php echo $form->cpassword->renderErrors(); ?>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->name->renderLabel() ?></label>
                                    <?php echo $form->name->renderViewHelper(); ?>
                                    <?php echo $form->name->renderErrors(); ?>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->email->renderLabel() ?></label>
                                    <?php echo $form->email->renderViewHelper(); ?>
                                    <?php echo $form->email->renderErrors(); ?>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->phoneno->renderLabel() ?></label>
                                    <?php echo $form->phoneno->renderViewHelper(); ?>
                                    <?php echo $form->phoneno->renderErrors(); ?>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->role_id->renderLabel() ?></label>
                                    <?php echo $form->role_id->renderViewHelper(); ?>
                                    <?php echo $form->role_id->renderErrors(); ?>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->isactive->renderLabel() ?></label>
                                    <?php echo $form->isactive->renderViewHelper(); ?>
                                    <?php echo $form->isactive->renderErrors(); ?>
                                </div>
                            </div>


                        </div> 

                    </div>

                </div>


            </div>

        </div>

    </div>

</form>