<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>LIST OF USERS</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add User
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    <div class="well">
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              method="<?php echo $form->getAttrib('method') ?>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->uname->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->uname->renderViewHelper(); ?>
                                        <?php echo $form->uname->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->upassword->renderLabel() ?></label>
                                        <?php echo $form->upassword->renderViewHelper(); ?>
                                        <?php echo $form->upassword->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->cpassword->renderLabel() ?></label>
                                        <?php echo $form->cpassword->renderViewHelper(); ?>
                                        <?php echo $form->cpassword->renderErrors(); ?>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->name->renderLabel() ?></label>
                                        <?php echo $form->name->renderViewHelper(); ?>
                                        <?php echo $form->name->renderErrors(); ?>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->email->renderLabel() ?></label>
                                        <?php echo $form->email->renderViewHelper(); ?>
                                        <?php echo $form->email->renderErrors(); ?>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->phoneno->renderLabel() ?></label>
                                        <?php echo $form->phoneno->renderViewHelper(); ?>
                                        <?php echo $form->phoneno->renderErrors(); ?>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->role_id->renderLabel() ?></label>
                                        <?php echo $form->role_id->renderViewHelper(); ?>
                                        <?php echo $form->role_id->renderErrors(); ?>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->isactive->renderLabel() ?></label>
                                        <?php echo $form->isactive->renderViewHelper(); ?>
                                        <?php echo $form->isactive->renderErrors(); ?>
                                    </div>
                                </div>
                            </div>
                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                        </form>

                    </div>
                </div>
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>User Name</th>
                            <th>Role Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>User Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>User Name</th>
                            <th>Role Name</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->usersData) > 0) {
                            foreach ($this->usersData as $usersData) {
                                ?>
                                <tr id="tr-<?php echo $usersData['id']; ?>">
                                    <td><?php echo $usersData['id']; ?></td>
                                    <td><?php echo $usersData['name']; ?></td>
                                    <td><?php echo $usersData['email']; ?></td>
                                    <td><?php echo $usersData['username']; ?></td>
                                    <td> <?php echo $usersData['role_name']; ?></td>
                                    <td>
                                        <a htef="#" onclick="Users.edit(<?php echo $usersData['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
                                        <a htef="#" onclick="Users.deleteUser(<?php echo $usersData['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                        </a>
                                    </td>
                                </tr>
                            <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [5] }]
        });
        
        <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });
   
</script>
