<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>LIST OF ROLES</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add Role
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    <div class="well">
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              method="<?php echo $form->getAttrib('method') ?>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->rolename->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->rolename->renderViewHelper(); ?>
                                        <?php echo $form->rolename->renderErrors(); ?>
                                    </div>
                                </div>
                            </div>
                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                        </form>

                    </div>
                </div>
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Role Id</th>
                            <th>Role Name</th>
                             <th>Set Permissions</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Role Id</th>
                            <th>Role Name</th>
                            <th>Set Permissions</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->rolesData) > 0) {
                            foreach ($this->rolesData as $roles) {
                                ?>
                                <tr id="tr-<?php echo $roles['id']; ?>">
                                    <td><?php echo $roles['id']; ?></td>
                                    <td><?php echo $roles['role_name']; ?></td>
                                    <td>
                                        <a href="/roles/permissions/id/<?php echo $roles['id']; ?>">
                                            <button id="permissions" class="btn btn-info" type="button" >Set Permissions</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a htef="#" onclick="Roles.edit(<?php echo $roles['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
                                        <a htef="#" onclick="Roles.delete(<?php echo $roles['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                        </a>
                                    </td>
                                </tr>
                            <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>


<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[ 0, "desc" ]]
        });
        
        <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?> 
    });
   
</script>
