    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="button" onclick="Roles.SavePermissions('<?php echo count($this->screenData);?>','<?php echo $this->roleId;?>')" class="btn btn-default li2">Save permission</button>
                        <button type="button"  onclick="Roles.GoToList();" class="btn btn-default li9 font-bold">
                            Back To Roles
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Screen Name </th>
                                    <th>Is Access <span style="float:right;"><input type="checkbox" id="checkAll" value="ON"> &nbsp;Select All </span></th>
<!--                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>-->
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Screen Name </th>
                                    <th>Is Access</th>
<!--                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>-->
                                </tr>
                            </tfoot>

                            <tbody>
                                <?php
                                if (count($this->screenRoleData) > 0) {
                                    for ($i = 0; $i < count($this->screenRoleData); $i++) {
                                        if (count($this->screenRoleData[$i]) > 1) {
                                            ?>

                                            <tr>
                                                <td><input type="hidden" id="screen<?php echo $i + 1; ?>" name="attribute2" size="50"
                                                           value="<?php echo $this->screenRoleData[$i]["screen_id"]; ?>"/>
                                                    <?php echo $this->screenRoleData[$i]["screen_name"]; ?></td>
                                                <td><input class="chkbox" type="checkbox" id="chkview<?php echo $i + 1; ?>" <?php if ($this->screenRoleData[$i]["view"] == '1')
                                            echo 'checked';
                                        else
                                            '';
                                                    ?> value="ON"></td>
<!--                                                <td><input class="chkbox" type="checkbox" id="chkadd<?php echo $i + 1; ?>" <?php if ($this->screenRoleData[$i]["add"] == '1')
                                                   echo 'checked';
                                               else
                                                   '';
                                               ?> value="ON"></td>
                                                <td><input class="chkbox" type="checkbox" id="chkedit<?php echo $i + 1; ?>" <?php if ($this->screenRoleData[$i]["edit"] == '1')
                                                   echo 'checked';
                                               else
                                                   '';
                                               ?> value="ON"></td>
                                                <td><input class="chkbox" type="checkbox" id="chkdel<?php echo $i + 1; ?>" <?php if ($this->screenRoleData[$i]["delete"] == '1')
                                                   echo 'checked';
                                               else
                                                   '';
                                               ?> value="ON"></td>-->
                                            </tr>
                                        <?php
                                        }
                                    }
                                }
                                else {
                                    for ($i = 0; $i < count($this->screenData); $i++) {
                                        if (count($this->screenData[$i]) > 1) {
                                            ?>

                                            <tr>
                                                <td><input type="hidden" id="screen<?php echo $i + 1; ?>" name="attribute2" size="50" value="<?php echo $this->screenData[$i]["id"]; ?>"/><?php echo $this->screenData[$i]["screen_name"]; ?></td>
                                                <td><input class="chkbox" type="checkbox" id="chkview<?php echo $i + 1; ?>"  value="ON"></td>
                                                <td><input class="chkbox" type="checkbox" id="chkadd<?php echo $i + 1; ?>"  value="ON"></td>
                                                <td><input class="chkbox" type="checkbox" id="chkedit<?php echo $i + 1; ?>"  value="ON"></td>
                                                <td><input class="chkbox" type="checkbox" id="chkdel<?php echo $i + 1; ?>"  value="ON"></td>
                                            </tr>
                                        <?php
                                        }
                                    }
                                }
                                ?>

                            </tbody>
                        </table> 

                    </div>

                </div>


            </div>

        </div>

    </div>


<script>
$(document).ready(function() {
    $('#checkAll').click(function(event) {  //on click 
        if(this.checked) { // check select status
            $('.chkbox').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"               
            });
        }else{
            $('.chkbox').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                       
            });         
        }
    });
    
});
</script>