<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Update</button>
                        <button type="button"  onclick="Timesheet.GoToList();" class="btn btn-default li9 font-bold">
                            Back To Time sheet list
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->emp_name->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->emp_name->renderViewHelper(); ?>
                                        <?php echo $form->emp_name->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->timesheet_date->renderLabel() ?></label>
                                        <?php echo $form->timesheet_date->renderViewHelper(); ?>
                                        <?php echo $form->timesheet_date->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->job_card->renderLabel() ?></label>
                                        <?php echo $form->job_card->renderViewHelper(); ?>
                                        <?php echo $form->job_card->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->hourly_rate->renderLabel() ?></label>
                                        <?php echo $form->hourly_rate->renderViewHelper(); ?>
                                        <?php echo $form->hourly_rate->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->ord->renderLabel() ?></label>
                                        <?php echo $form->ord->renderViewHelper(); ?>
                                        <?php echo $form->ord->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->ord_15->renderLabel() ?></label>
                                        <?php echo $form->ord_15->renderViewHelper(); ?>
                                        <?php echo $form->ord_15->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->ord_20->renderLabel() ?></label>
                                        <?php echo $form->ord_20->renderViewHelper(); ?>
                                        <?php echo $form->ord_20->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->total->renderLabel() ?></label>
                                        <?php echo $form->total->renderViewHelper(); ?>
                                        <?php echo $form->total->renderErrors(); ?>
                                    </div>
                                </div>
                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->rate_type->renderLabel() ?></label>
                                        <?php echo $form->rate_type->renderViewHelper(); ?>
                                        <?php echo $form->rate_type->renderErrors(); ?>
                                    </div>
                                </div>
                            
                                
                            </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    
     $("#timesheet_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        

</script>