<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <a target="blank" href="/timesheet/print-timesheet-summary?emp_id=<?php echo $this->emp_id; ?>&date_from=<?php echo $this->date_from; ?>&date_to=<?php echo $this->date_to; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>                        
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>

<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Total Ord</th>
            <th>Total 1.5</th>
            <th>Total 2.2</th>
            <th>Total</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Total Ord</th>
            <th>Total 1.5</th>
            <th>Total 2.2</th>
            <th>Total</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->timesheetData) > 0) {
            foreach ($this->timesheetData as $key => $value) {
                ?>
                <tr>
                    <td><?php echo $value['empname']; ?></td>
                    <td><?php echo $value['timesheet_date']; ?></td>
                    <td><?php echo $value['total_ord']; ?></td>
                    <td><?php echo $value['total_1_5']; ?></td>
                    <td><?php echo $value['total_2_0']; ?></td>
                    <td><?php echo $value['sub_total']; ?></td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>

<script>
  $(document).ready(function () {
    $('#list-grid').dataTable({
        "paging": true,
        "ordering": true,
        "info": true
    });
  });
</script>