<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>LIST OF TIME SHEET</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add Time sheet
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    <div class="well">
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              method="<?php echo $form->getAttrib('method') ?>">
                            <div class="row">
                                <div class="col-md-4 min-h-97">
                                    <div class="form-group">
                                        <label><?php echo $form->emp_name->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->emp_name->renderViewHelper(); ?>
                                        <?php echo $form->emp_name->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 min-h-97">
                                    <div class="form-group">
                                        <label><?php echo $form->timesheet_date->renderLabel() ?></label>
                                        <?php echo $form->timesheet_date->renderViewHelper(); ?>
                                        <?php echo $form->timesheet_date->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 min-h-97">
                                    <div class="form-group">
                                        <label><?php echo $form->job_card->renderLabel() ?></label>
                                        <?php echo $form->job_card->renderViewHelper(); ?>
                                        <?php echo $form->job_card->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->hourly_rate->renderLabel() ?></label>
                                        <?php echo $form->hourly_rate->renderViewHelper(); ?>
                                        <?php echo $form->hourly_rate->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->ord->renderLabel() ?></label>
                                        <?php echo $form->ord->renderViewHelper(); ?>
                                        <?php echo $form->ord->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->ord_15->renderLabel() ?></label>
                                        <?php echo $form->ord_15->renderViewHelper(); ?>
                                        <?php echo $form->ord_15->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->ord_20->renderLabel() ?></label>
                                        <?php echo $form->ord_20->renderViewHelper(); ?>
                                        <?php echo $form->ord_20->renderErrors(); ?>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->total->renderLabel() ?></label>
                                        <?php echo $form->total->renderViewHelper(); ?>
                                        <?php echo $form->total->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label><?php echo $form->rate_type->renderLabel() ?></label>
                                        <?php echo $form->rate_type->renderViewHelper(); ?>
                                        <?php echo $form->rate_type->renderErrors(); ?>
                                    </div>
                                </div>
                                
                            </div>
                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                        </form>

                    </div>
                </div>
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Employee Name</th>
                            <th>Date</th>
                             <th>Job No</th>
                            <th>Hourly Rate</th>
                            <th>Total Ord</th>
                            <th>Total 1.5</th>
                            <th>Total 2.2</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Employee Name</th>
                            <th>Date</th>
                            <th>Job No</th>
                            <th>Hourly Rate</th>
                            <th>Total Ord</th>
                            <th>Total 1.5</th>
                            <th>Total 2.2</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        //var_dump($this->details);die;
                        if (count($this->timesheetData) > 0) {
                            foreach ($this->timesheetData as $key => $value) {
                                ?>
                                <tr>
                                    <td><?php echo $value['id']; ?></td>
                                    <td><?php echo $value['empname']; ?></td>
                                    <td><?php echo $value['timesheet_date']; ?></td>
                                    <td><?php echo $value['job_no']; ?></td>
                                    <td><?php echo $value['hourly_rate']; ?></td>
                                    <td><?php echo $value['total_ord']; ?></td>
                                    <td><?php echo $value['total_1_5']; ?></td>
                                    <td><?php echo $value['total_2_0']; ?></td>
                                    <td><?php echo $value['sub_total']; ?></td>
                                    
                                    <td> 
                                        <a href="#" onclick="Timesheet.edit(<?php echo $value['id']; ?>);">
                                            <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#" onclick="Timesheet.delete(<?php echo $value['id']; ?>);"> 
                                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>






<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[2, "desc"]],
            "columnDefs": [ { orderable: false, targets: [9] }]
        });
         <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
            
        $("#timesheet_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
    });



</script>
