<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Timesheet Summary</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Date</th>
                    <th>Total Ord</th>
                    <th>Total 1.5</th>
                    <th>Total 2.2</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Employee Name</th>
                    <th>Date</th>
                    <th>Total Ord</th>
                    <th>Total 1.5</th>
                    <th>Total 2.2</th>
                    <th>Total</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->timesheetData) > 0) {
                    foreach ($this->timesheetData as $key => $value) {
                        ?>
                        <tr>
                            <td><?php echo $value['empname']; ?></td>
                            <td><?php echo $value['timesheet_date']; ?></td>
                            <td><?php echo $value['total_ord']; ?></td>
                            <td><?php echo $value['total_1_5']; ?></td>
                            <td><?php echo $value['total_2_0']; ?></td>
                            <td><?php echo $value['sub_total']; ?></td>
                        </tr>
                        <?php
                    }
                }
                ?>

            </tbody>
        </table>
    </div> </div>



