<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Timesheet Details</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Job No</th>
                    <th>Hourly Rate</th>
                    <th>Ord</th>
                    <th>1.5</th>
                    <th>2.2</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <?php
                if (count($this->timesheetData) > 0) {
                    foreach ($this->timesheetData as $key => $value) {
                        if (count($value) > 0) {
                            ?>
                            <tr>
                                <td colspan="7"><b><?php echo $key; ?></b></td>
                            </tr>
                            <?php foreach ($value as $masData) { ?>
                                <tr style="background-color: #ccc;font-weight: bold;">
                                    <td colspan="7"><?php echo $masData['timesheet_date']; ?></td>
                                </tr>
                                <?php foreach ($masData['details'] as $data) { ?>
                                    <tr>
                                        <td></td>
                                        <td><?php echo $data['job_no']; ?></td>
                                        <td><?php echo $data['hourly_rate']; ?></td>
                                        <td><?php echo $data['total_ord']; ?></td>
                                        <td><?php echo $data['total_1_5']; ?></td>
                                        <td><?php echo $data['total_2_0']; ?></td>
                                        <td><?php echo $data['sub_total']; ?></td>
                                    </tr>
                                    <?php }
                                ?>
                                <tr style="background-color: #ccc;font-weight: bold;">
                                    <td></td>
                                    <td></td>
                                    <td> Total</td>
                                    <td><?php echo $masData['total_ord']; ?></td>
                                    <td><?php echo $masData['total_1_5']; ?></td>
                                    <td><?php echo $masData['total_2_0']; ?></td>
                                    <td><?php echo $masData['sub_total']; ?></td>
                                </tr>
                            <?php
                            }
                        }
                    }
                }
                ?>

            </tbody>
        </table>
    </div> 
</div>



