<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-8"><h3>TimeSheet Details</h3></div>
                    </div> 
                </div>
                                
                <div class="row">
                    <fieldset style="margin-left: 15px;">
                        <legend>Filters</legend>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label>Employee Name</label>
                                <select class="left-texts custom-select" id="emp_id" name="emp_id">
                                    <option value="">Select Employee</option>
                                    <?php foreach ($this->employee as $employee) { ?>                                
                                        <option value="<?php echo $employee['id']; ?>"><?php echo $employee['name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label>Date From</label>
                                <input name="date_from" id="date_from" type="text" class="form-control" placeholder="Date From" value=''/>
                            </div>
                        </div>
                        
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <label>Date To</label>
                                <input name="date_to" id="date_to" type="text" class="form-control" placeholder="Date to" value=''/>
                            </div>
                        </div>

                        <div class="col-md-3 mt-20 ">
                            <button id="addNew" class="btn btn-info" type="button" onclick="TimesheetReport.getTimesheetDetails();">
                              Generate Report
                            </button>
                        </div>
                    </fieldset>
                </div> 
                <div class="col-md-12" id="tbl-rpt">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Timesheet Date</th>
                                <th>Total Ord</th>
                                <th>Total 1.5</th>
                                <th>Total 2.0</th>
                                <th>Total</th>
                            </tr>
                        </thead>


                        <tbody>
                            <?php
                            if (count($this->details) > 0) {
                                foreach ($this->details as $key => $value) {
                                    ?>
                                    <tr>
                                        <td><?php echo $value['id']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>






<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
        
        $("#date_from").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
        
        $("#date_to").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });

      });
</script>
