
<?php
$form = $this->form;
?>
<div class="well">
    <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
          method="<?php echo $form->getAttrib('method') ?>">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label ><?php echo $form->name->renderLabel() ?></label>
                    <?php echo $form->name->renderViewHelper(); ?>
                    <?php echo $form->name->renderErrors(); ?>
                </div>
                <div class="form-group">
                    <label><?php echo $form->currency_name->renderLabel() ?></label>
                    <?php echo $form->id->renderViewHelper(); ?>
                    <?php echo $form->currency_name->renderViewHelper(); ?>
                    <?php echo $form->currency_name->renderErrors(); ?>
                </div>

            </div>
        </div>
    </form>

</div>