<div>
    <?php
    if ($this->productCostData) {
        $flag = 0;
        $i = 0;
        foreach ($this->pricingCurrency as $k => $v) {
            ?>
            <div class="col-md-12">
                <?php if ($flag == '0') { ?>   
                    <div class="col-md-4">           
                        <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" title="Only Numbers" type="text" name="pricing<?php echo $v['id']; ?>" class="pricingAll" 
                                value='<?php echo $this->productCostData[$v['id']]['price'] ?>'>
                        <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                            <span aria-hidden="true"  class="glyphicon glyphicon-trash"></span>
                        </a>

                    </div>
                    <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                        Markup:<input id="markup<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" type="text" name="markup<?php echo $v['id']; ?>" readonly="true" class="markupAll" value='<?php echo $this->productCostData[$v['id']]['markup'] ?>' />
                    </div>
                    <div class="col-md-4">
                        Cost:<input id="costAll" pattern="^\d+\.?\d{0,2}$" type="text" name="cost" class="form-control" value='<?php echo $this->productCostData[$v['id']]['cost'] ?>' />
                    </div>

                </div>

                <?php
                $i++;
                $flag = 1;
            } else {
                if ($this->productCostData[$v['id']] == '') {
                    
                } else {
                    ?>
                    <div class="col-md-4">


                        <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" title="Only Numbers" type="text" pattern="^\d+\.?\d{0,2}$" name="pricing<?php echo $v['id']; ?>" class="pricingAll" value='<?php echo $this->productCostData[$v['id']]['price']; ?>' >
                        <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                        </a> 
                    </div>


                    <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                        Markup:       <input id="markup<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" title="Only Numbers" type="text" readonly="true" name="markup<?php echo $v['id']; ?>" class="markupAll" value='<?php $this->productCostData[$v['id']]['markup'] == "" ? "0.00" : $this->productCostData[$v['id']]['markup']; ?>' >
                    </div>
                </div>
                <?php
                $i++;
            }
        }
    }
} else {
    $flag = 0;
    $i = 0;
    foreach ($this->pricingCurrency as $k => $v) {
        ?>
        <div class="col-md-12">
            <?php if ($flag == '0') { ?>   
                <div class="col-md-4">           
                    <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" type="text" name="pricing<?php echo $v['id']; ?>" class="pricingAll" 
                            value=''>
                    <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                        <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                    </a>

                </div>
                <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                    Markup:       <input id="markup<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" readonly="true" type="text" name="markup<?php echo $v['id']; ?>" class="markupAll" value='' />
                </div>
                <div class="col-md-4">
                    Cost:         <input id="costAll" type="text" pattern="^\d+\.?\d{0,2}$" title="Only Numbers" name="cost" class="form-control" value='' />
                </div>

            </div>

            <?php
            $i++;
            $flag = 1;
        } else {
            ?>    

            <div class="col-md-4">


                <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" type="text" name="pricing<?php echo $v['id']; ?>" class="pricingAll" value='' >
                <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                    <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                </a> 
            </div>


            <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                Markup:       <input id="markup<?php echo $i; ?>" readonly="true" type="text" name="markup<?php echo $v['id']; ?>" class="markupAll" value='' >
            </div>
</div>
        <?php
        }
    }
}
?>
<div class="col-md-6">
    <div class="form-group">
        <a href="#" class="btn btn-success" onClick="Inventoryproduct.currencyPopup();" id="addNew">Add New Pricing Currency</a>
    </div>

</div>