<div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    
                    <div class="page-header" style="margin:0 0 10px 0;">
                        <div class="row">
                            <div class="col-md-6"><h3>LIST OF CURRENCY</h3></div>
                            <div class="col-md-6 btn-top-right">
                                <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                    Add Currency
                                </button>
                            </div>
                        </div> 
                    </div>
                    <div class="collapse" id="collapse-user">
                        <?php
                        $form = $this->form;
                        ?>
                        <div class="well">
                            <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                                  method="<?php echo $form->getAttrib('method') ?>">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label><?php echo $form->currency_name->renderLabel() ?></label>
                                            <?php echo $form->id->renderViewHelper(); ?>
                                            <?php echo $form->currency_name->renderViewHelper(); ?>
                                            <?php echo $form->currency_name->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->currency_code->renderLabel() ?></label>
                                            <?php echo $form->currency_code->renderViewHelper(); ?>
                                            <?php echo $form->currency_code->renderErrors(); ?>
                                        </div>
                                    </div>
                                </div>
                                <?php echo $form->submitbtn->renderViewHelper(); ?>
                            </form>

                        </div>
                    </div>
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Currency Name</th>
                                <th>Currency Code</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Currency Name</th>
                                <th>Currency Code</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <?php
                            //var_dump($this->details);die;
                            if (count($this->details) > 0) {
                                foreach ($this->details as $key => $value) {
                                    ?>
                                    <tr>
                                        <td><?php echo $value['id']; ?></td>
                                        <td><?php echo $value['currency_name']; ?></td>
                                        <td><?php echo $value['currency_code']; ?></td>
                                        <td> 
                                            <a href="#" onclick="Currencies.edit(<?php echo $value['id']; ?>);">
                                                <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                            </a>
                                            <a href="#" onclick="Currencies.delete(<?php echo $value['id']; ?>);"> 
                                                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                <?php
                                }
                            }
                            ?>

                        </tbody>
                    </table>

                </div>


            </div>

        </div>

    </div>
<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [3] }]
        });
         <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });
</script>
