<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Update</button>
                        <button type="button"  onclick="Taxing.GoToList();" class="btn btn-default li9 font-bold">
                            Back To Taxing Scheme
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->tax_scheme_name->renderLabel() ?></label>
                                        <?php echo $form->tax_scheme_name->renderViewHelper(); ?>
                                        <?php echo $form->tax_scheme_name->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->tax_name->renderLabel() ?></label>
                                        <?php echo $form->tax_name->renderViewHelper(); ?>
                                        <?php echo $form->tax_name->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?php echo $form->tax_rate->renderLabel() ?>
                                        <?php echo $form->tax_rate->renderViewHelper(); ?>
                                        <?php echo $form->tax_rate->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               <div class="form-group">
                                                <?php echo $form->tax_on_shipping->renderLabel() ?>
                                                <?php echo $form->tax_on_shipping->renderViewHelper(); ?>
                                                <?php echo $form->tax_on_shipping->renderErrors(); ?>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <?php echo $form->show_secondary_tax_name->renderLabel() ?>
                                                <?php echo $form->show_secondary_tax_name->renderViewHelper(); ?>
                                                <?php echo $form->show_secondary_tax_name->renderErrors(); ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" id="secondary" style="display:none">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?php echo $form->secondary_tax_name->renderLabel() ?>
                                        <?php echo $form->secondary_tax_name->renderViewHelper(); ?>
                                        <?php echo $form->secondary_tax_name->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?php echo $form->secondary_tax_rate->renderLabel() ?>
                                        <?php echo $form->secondary_tax_rate->renderViewHelper(); ?>
                                        <?php echo $form->secondary_tax_rate->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                               <div class="form-group">
                                                <?php echo $form->secondary_tax_on_shipping->renderLabel() ?>
                                                <?php echo $form->secondary_tax_on_shipping->renderViewHelper(); ?>
                                                <?php echo $form->secondary_tax_on_shipping->renderErrors(); ?>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <?php echo $form->compound_secondary->renderLabel() ?>
                                                <?php echo $form->compound_secondary->renderViewHelper(); ?>
                                                <?php echo $form->compound_secondary->renderErrors(); ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?php echo $form->sub_total->renderLabel() ?>
                                        <?php echo $form->sub_total->renderViewHelper(); ?>
                                        <?php echo $form->sub_total->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?php echo $form->freight->renderLabel() ?>
                                        <?php echo $form->freight->renderViewHelper(); ?>
                                        <?php echo $form->freight->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6" id="tax_1div" style="display:none">
                                    <div class="form-group">
                                        <?php echo $form->tax_1->renderLabel() ?>
                                        <?php echo $form->tax_1->renderViewHelper(); ?>
                                        <?php echo $form->tax_1->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display:none" id="tax_2div">
                                    <div class="form-group">
                                        <?php echo $form->tax_2->renderLabel() ?>
                                        <?php echo $form->tax_2->renderViewHelper(); ?>
                                        <?php echo $form->tax_2->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <?php echo $form->total->renderLabel() ?>
                                        <?php echo $form->total->renderViewHelper(); ?>
                                        <?php echo $form->total->renderErrors(); ?>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
<?php if ($this->colStatus == 'Y') { ?>
            $('#addNew').click();
<?php } ?>
    });

    if ($.trim($('#tax_rate').val()).length != 0) {
        var tax1 = $("#tax_rate").val();
        $("#tax_1").val(tax1);
        $("#tax_1div").show("fast");
    }
    if ($.trim($('#secondary_tax_rate').val()).length != 0) {
        var tax2 = $("#secondary_tax_rate").val();
        $("#tax_2").val(tax2);
        $("#tax_2div").show("fast");
    }
    $(document).ready(function () {
        $("#show_secondary_tax_name").click(function () {
            // If checked
            if ($("#show_secondary_tax_name").is(":checked"))
            {
                //show the hidden div
                $("#secondary").show("fast");

            }
            else
            {
                //otherwise, hide it
                $("#secondary").hide("fast");
            }
        });

    });

    $(document).ready(function () {
        // Add onclick handler to checkbox 
        // If checked
        if ($("#show_secondary_tax_name").is(":checked")) {
            $("#secondary").show("fast");
        } else {
            $("#secondary").hide("fast");
        }


    });
    $(document).ready(function () {
        calcTaxOnShipping();
        // Add onclick handler to checkbox w/id checkme
        $("#tax_on_shipping").click(function () {
            // If checked
            calcTaxOnShipping();
        });

    });

        function calcTaxOnShipping(){
            if ($("#tax_on_shipping").is(":checked")) {
                if ($("#secondary_tax_on_shipping").is(":checked")) {
                    var tax1 = $("#tax_rate").val();
                    var tax2 = $("#secondary_tax_rate").val();
                    var sectaxonshipping = '1';
                    var secondary = '1';
                    var taxonshipping = '1';
                    var subtotal = $("#sub_total").val();
                    var freight = $("#freight").val();
                    var shipping = $("#tax_on_shipping").val();
                    $.ajax({
                        type: "POST",
                        url: "/taxing-scheme/calculation-primary",
                        data: {sectaxonshipping: sectaxonshipping, tax2: tax2, secondary: secondary, taxonshipping: taxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, shipping: shipping},
                        success: function (data) {
                            data = JSON.parse(data);
                            $("#tax_1").val(data.tax1);
                            $("#tax_2").val(data.tax2);
                            $("#total").val(data.total);
                        }
                    });

                }
                else {
                    var tax1 = $("#tax_rate").val();
                    var tax2 = $("#secondary_tax_rate").val();
                    var sectaxonshipping = '0';
                    var secondary = '1';
                    var taxonshipping = '1';
                    var subtotal = $("#sub_total").val();
                    var freight = $("#freight").val();
                    var shipping = $("#tax_on_shipping").val();
                    $.ajax({
                        type: "POST",
                        url: "/taxing-scheme/calculation-primary",
                        data: {sectaxonshipping: sectaxonshipping, tax2: tax2, secondary: secondary, taxonshipping: taxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, shipping: shipping},
                        success: function (data) {
                            data = JSON.parse(data);
                            $("#tax_1").val(data.tax1);
                            $("#tax_2").val(data.tax2);
                            $("#total").val(data.total);
                        }
                    });
                }
            }
            else
            {
                if ($("#secondary_tax_on_shipping").is(":checked")) {
                    var tax1 = $("#tax_rate").val();
                    var tax2 = $("#secondary_tax_rate").val();
                    var sectaxonshipping = '1';
                    var secondary = '1';
                    var taxonshipping = '0';
                    var subtotal = $("#sub_total").val();
                    var freight = $("#freight").val();
                    var shipping = $("#tax_on_shipping").val();
                    $.ajax({
                        type: "POST",
                        url: "/taxing-scheme/calculation-primary",
                        data: {sectaxonshipping: sectaxonshipping, tax2: tax2, secondary: secondary, taxonshipping: taxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, shipping: shipping},
                        success: function (data) {
                            data = JSON.parse(data);
                            $("#tax_1").val(data.tax1);
                            $("#tax_2").val(data.tax2);
                            $("#total").val(data.total);
                        }
                    });

                }
                else {
                    var tax1 = $("#tax_rate").val();
                    var tax2 = $("#secondary_tax_rate").val();
                    var sectaxonshipping = '0';
                    var secondary = '1';
                    var taxonshipping = '0';
                    var subtotal = $("#sub_total").val();
                    var freight = $("#freight").val();
                    var shipping = $("#tax_on_shipping").val();
                    $.ajax({
                        type: "POST",
                        url: "/taxing-scheme/calculation-primary",
                        data: {sectaxonshipping: sectaxonshipping, tax2: tax2, secondary: secondary, taxonshipping: taxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, shipping: shipping},
                        success: function (data) {
                            data = JSON.parse(data);
                            $("#tax_1").val(data.tax1);
                            $("#tax_2").val(data.tax2);
                            $("#total").val(data.total);
                        }
                    });
                }
            }
}

    $(document).ready(function () {
        $("#tax_rate").change(function () {
            var tax1 = $("#tax_rate").val();
            $("#tax_1").val(tax1);
            $("#tax_1div").show("fast");
            if ($("#tax_on_shipping").is(":checked"))
            {
                var tax1 = $("#tax_rate").val();
                var secondary = '1';
                var taxonshipping = '1';
                var subtotal = $("#sub_total").val();
                var freight = $("#freight").val();
                var shipping = $("#tax_on_shipping").val();
                $.ajax({
                    type: "POST",
                    url: "/taxing-scheme/calculation-primary",
                    data: {secondary: secondary, taxonshipping: taxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, shipping: shipping},
                    success: function (data) {
                        data = JSON.parse(data);
                        $("#tax_1").val(data.tax1);
                        $("#tax_2").val(data.tax2);
                        $("#total").val(data.total);
                    }
                });

            }
            else
            {
                var secondary = '1';
                var taxonshipping = '0';
                var subtotal = $("#sub_total").val();
                var freight = $("#freight").val();
                var shipping = $("#tax_on_shipping").val();
                $.ajax({
                    type: "POST",
                    url: "/taxing-scheme/calculation-primary",
                    data: {secondary: secondary, taxonshipping: taxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, shipping: shipping},
                    success: function (data) {
                        data = JSON.parse(data);
                        $("#tax_1").val(data.tax1);
                        $("#tax_2").val(data.tax2);
                        $("#total").val(data.total);
                    }
                });
            }
        });
    });

    $(document).ready(function () {
        $("#secondary_tax_rate").change(function () {
            var tax2 = $("#secondary_tax_rate").val();
            $("#tax_2").val(tax2);
            $("#tax_2div").show("fast");
            var tax1 = $("#tax_rate").val();
            var subtotal = $("#sub_total").val();
            var freight = $("#freight").val();
            $.ajax({
                type: "POST",
                url: "/taxing-scheme/calculation-secondary",
                data: {subtotal: subtotal, freight: freight, tax2: tax2, tax1: tax1},
                success: function (data) {
                    data = JSON.parse(data);
                    $("#tax_1").val(data.tax1);
                    $("#tax_2").val(data.tax2);
                    $("#total").val(data.total);
                }
            });
        });
    });
//    $(document).ready(function () {
//        $("#secondary_tax_rate").change(function () {
//            var a = $("#secondary_tax_rate").val();
//            $("#tax_2").val(a);
//            if ($("#secondary_tax_rate").val() != '') {
//                $("#tax_2div").show("fast");
//            }
//            else {
//                $("#tax_2div").hide("fast");
//            }
//        });
//    });



    $(document).ready(function () {
        // Add onclick handler to checkbox w/id checkme
        $("#compound_secondary").click(function () {
            // If checked
            if ($("#compound_secondary").is(":checked")) {
                //
                if ($("#tax_on_shipping").is(":checked")) {
                    if ($("#secondary_tax_on_shipping").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '1';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '1';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                }
                else {

                    if ($("#secondary_tax_on_shipping").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '0';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '0';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }

                }
            }
            else
            {
                if ($("#tax_on_shipping").is(":checked")) {
                    if ($("#secondary_tax_on_shipping").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '1';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '1';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                }
                else {

                    if ($("#secondary_tax_on_shipping").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '0';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '0';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }

                }
            }
        });

    });

    $(document).ready(function () {
        // Add onclick handler to checkbox w/id checkme
        $("#secondary_tax_on_shipping").click(function () {
            // If checked
            if ($("#secondary_tax_on_shipping").is(":checked")) {
                //
                if ($("#tax_on_shipping").is(":checked")) {
                    if ($("#compound_secondary").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '1';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '1';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                }
                else {
                    if ($("#compound_secondary").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '0';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '0';
                        var sectaxonshipping = '1';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }

                }
            }
            else
            {
                if ($("#tax_on_shipping").is(":checked")) {
                    if ($("#compound_secondary").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '1';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '1';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                }
                else {
                    if ($("#compound_secondary").is(":checked")) {
                        var secondary = '0';
                        var compound_secondary = '1';
                        var taxonshipping = '0';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }
                    else {
                        var secondary = '0';
                        var compound_secondary = '0';
                        var taxonshipping = '0';
                        var sectaxonshipping = '0';
                        var subtotal = $("#sub_total").val();
                        var freight = $("#freight").val();
                        var tax1 = $("#tax_rate").val();
                        var tax2 = $("#secondary_tax_rate").val();
                        $.ajax({
                            type: "POST",
                            url: "/taxing-scheme/calculation-primary",
                            data: {compound_secondary: compound_secondary, secondary: secondary, taxonshipping: taxonshipping, sectaxonshipping: sectaxonshipping, subtotal: subtotal, freight: freight, tax1: tax1, tax2: tax2},
                            success: function (data) {
                                data = JSON.parse(data);
                                $("#tax_1").val(data.tax1);
                                $("#tax_2").val(data.tax2);
                                $("#total").val(data.total);
                            }
                        });
                    }

                }
            }
        });

    });
</script>
