<table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Vendor name</th>
            <th>Vendor product code</th>
            <th>Cost</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Vendor name</th>
            <th>Vendor product code</th>
            <th>Cost</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->vendorList) > 0) {
            foreach ($this->vendorList as $vendorList) {
                ?>
                <tr id="tr-<?php echo $vendorList['id']; ?>">
                    <td><?php echo $vendorList['name']; ?></td>
                    <td><?php echo $vendorList['vendor_product_code']; ?></td>
                    <td><?php echo $vendorList['cost']; ?></td>
                    <td>
                        <a htef="#" onclick="Inventoryproduct.editVendor(<?php echo $vendorList['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>
                        <a htef="#" onclick="Inventoryproduct.deleteVendor(<?php echo $vendorList['id']; ?>,<?php echo $vendorList['product_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid1').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
                "columnDefs": [ { orderable: false, targets: [3] }]
            });
        });
</script>