<table id="list-grid2" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
            <tr>
                <th>Location</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Location</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </tfoot>

        <tbody>
            <?php
//            var_dump($this->locList);die;
            if (count($this->locList) > 0) {
                foreach ($this->locList as $locList) {
                    ?>
                    <tr id="tr-<?php echo $locList['id']; ?>">
                        <td><?php echo $locList['location_name']; ?></td>
                        <td><?php echo $locList['quantity']; ?></td>
                        <td>
                            <a htef="#" onclick="Inventoryproduct.editInventoryLocation(<?php echo $locList['id']; ?>);"> 
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                            </a>
                            <a htef="#" onclick="Inventoryproduct.deleteInventoryLocation(<?php echo $locList['id']; ?>,<?php echo $locList['product_id']; ?>); "> 
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>

        </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid2').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [2] }]
            });
        });
</script>