<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<link rel='stylesheet' type='text/css' href='/css/jquery.fileupload.css'>
<script src='/js/jquery.fileupload.js'></script>
<script src='/js/jquery.immybox.min.js'></script>

<?php
$form = $this->form;
?>
<form id="frmuser"  enctype="multipart/form-data" action="<?php echo $form->getAttrib('action') ?>"
   onsubmit="return Inventoryproduct.ValidateCost();"   method="<?php echo $form->getAttrib('method') ?>"> 

    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="button"  onclick="Inventoryproduct.Add();" class="btn btn-default li1">New</button>
                        <button type="submit" class="btn btn-default li2">Save</button>
                      <?php if($this->id != '') { ?>
                            <input type="hidden" id="is_active" value="<?php echo $this->is_active;?>">
                            <?php    if($this->is_active == '1') {  ?>
                                    <button type="button" onclick="Inventoryproduct.DeactivateProduct();" class="btn btn-default li7">Deactivate</button>
                                    
                        <?php     }
                                else { ?>
                                    <button type="button" id="activate_button" onclick="Inventoryproduct.ActivateProduct();" class="btn btn-default li7">Activate</button>
                <?php           }
                            } ?>
                        
                        <button type="button" id="back_to_list"  onclick="Inventoryproduct.GoToList();" class="btn btn-default li9">Back to Products</button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#customer" aria-controls="customer" role="tab" data-toggle="tab">Product Info</a></li>
                                <li role="presentation"><a href="#extra" aria-controls="extra" role="tab" data-toggle="tab">Extra Info</a></li>
                                <li role="presentation"><a href="#inventory" aria-controls="extra" role="tab" data-toggle="tab">Inventory</a></li>
                                <li role="presentation"><a href="#bill" aria-controls="bill" role="tab" data-toggle="tab">Bill of materials</a></li>
                                <li role="presentation"><a href="#product_vendor" aria-controls="product_vendor" role="tab" data-toggle="tab">Product vendors</a></li>
                                <li role="presentation"><a href="#movement" aria-controls="movement" role="tab" data-toggle="tab">Movement History</a></li>
                                <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Order History</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="customer">
                                    <div class="row">
                                        <fieldset>
                                            <legend>Basic</legend>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label ><?php echo $form->product_name->renderLabel() ?></label>
                                                    <?php echo $form->id->renderViewHelper(); ?>
                                                    <?php echo $form->product_name->renderViewHelper(); ?>
                                                    <?php echo $form->product_name->renderErrors(); ?>
                                                    <div id="producterror" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label ><?php echo $form->product_type->renderLabel() ?></label>
                                                    <?php echo $form->product_type->renderViewHelper(); ?>
                                                    <?php echo $form->product_type->renderErrors(); ?>
                                                    <div id="product_type_error" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label ><?php echo $form->product_category->renderLabel() ?></label>
													<?php //echo $form->product_category->renderViewHelper();  ?>
													<select class="form-control custom-select" name="product_category" id="product_category">
                                                    <?php 
													$cat = $this->pCategory;
													
													foreach($cat as $val ){ ?>
														<optgroup label="<?php echo $val['name']; ?>">
														<?php $cat1 = Application_Model_ProductPeer::getCatRec($val['id']); 
															foreach($cat1 as $val1 ){ ?>
																<option style="margin-left:2px;" value="<?php echo $val1['id']; ?>"><?php echo $val1['name']; ?></option>
																<?php $cat2 = Application_Model_ProductPeer::getCatRec($val1['id']); 
																foreach($cat2 as $val2 ){ ?>
																	<option style="margin-left:25px;" value="<?php echo $val2['id']; ?>"><?php echo $val2['name']; ?></option>
																	<?php $cat3 = Application_Model_ProductPeer::getCatRec($val2['id']); 
																		foreach($cat3 as $val3 ){ ?>
																			<option style="margin-left:15px;" value="<?php echo $val3['id']; ?>"><?php echo $val3['name']; ?></option>
																			<?php $cat4 = Application_Model_ProductPeer::getCatRec($val3['id']); 
																			foreach($cat4 as $val4 ){ ?>
																				<option style="margin-left:15px;" value="<?php echo $val4['id']; ?>"><?php echo $val4['name']; ?></option>
															<?php } } } }
													} ?>
													
													</select>
													
                                                    <?php echo $form->product_category->renderErrors(); ?>
                                                    <div id="product_category_error" class="error-inner"></div>
                                                </div>
                                            </div>                                            
                                        </fieldset>
                                        <fieldset>
                                            <legend>Picture</legend>
                                            <div class="col-md-4">
                                                <!-- The file input field used as target for the file upload widget -->
                                                <?php // echo $form->browse->renderFile() ; ?>
                                                <?php //echo $form->browse->renderErrors(); ?>
                                               <input id="imgInp" type="file" name="files" value='<?php echo ($this->file_name == '')?'':$this->file_name; ?>'>
                                               <div id="pic_error" class="error-inner"></div>
                                            </div>  
                                            <div class="col-md-4">
                                                <img width="200px" height="200px;" id="image_display" src="<?php echo ($this->fileUpload == '')?'':$this->fileUpload; ?>" alt=" " />
                                            </div>
                                                
                                        </fieldset>
                                        <fieldset>
                                            <legend>Cost and Price</legend>
                                            <div id="cost_div">
                                            <div>
                                                <?php
                                            if ($this->productCostData) {
                                                $flag = 0;
                                                $i = 0;
                                                foreach ($this->pricingCurrency as $k => $v) {
                                                    ?>
                                                    <div class="col-md-12">
                                                        <?php if ($flag == '0') { ?>   
                                                            <div class="col-md-4">           
                                                                <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" title="Only Numbers" type="text" name="pricing<?php echo $v['id']; ?>" class="pricingAll" 
                                                                        value='<?php echo $this->productCostData[$v['id']]['price'] ?>'>
                                                                <div id="pricing_error" class="error-inner"></div>  
                                                            </div>
                                                            <div class="col-md-1 mt-20">
                                                                <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                                                                    <span aria-hidden="true"  class="glyphicon glyphicon-trash"></span>
                                                                </a>
                                                            </div>    
                                                                                                                          </div>
                                                        <div>
                                                            
                                                        </div>
                                                            <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                                                                Markup:<input id="markup<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" type="text" name="markup<?php echo $v['id']; ?>" readonly="true" class="markupAll" value='<?php echo $this->productCostData[$v['id']]['markup'] ?>' />
                                                            </div>
                                                            <div class="col-md-4">
                                                                Cost:<input id="costAll" pattern="^\d+\.?\d{0,2}$" type="text" name="cost" class="form-control" value='<?php echo $this->productCostData[$v['id']]['cost'] ?>' />
                                                           <div id="costerror" class="error-inner"></div>
                                                            </div>
                                                            

                                                        </div>

                                                        <?php
                                                        $i++;
                                                        $flag = 1;
                                                    } else {
                                                        if($this->productCostData[$v['id']] == '') {  
                                                           
                                                        }
                                                            else {
                                                        ?>
                                                        <div class="col-md-3">
                                                            <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" title="Only Numbers" type="text" pattern="^\d+\.?\d{0,2}$" name="pricing<?php echo $v['id']; ?>" class="pricingAll" value='<?php echo $this->productCostData[$v['id']]['price']; ?>' >
                                                        </div>
                                                        <div class="col-md-1 mt-20">
                                                            <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                                                                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                                            </a> 
                                                        </div>


                                                        <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                                                            Markup:       <input id="markup<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" title="Only Numbers" type="text" readonly="true" name="markup<?php echo $v['id']; ?>" class="markupAll" value='<?php $this->productCostData[$v['id']]['markup']==""?"0.00":$this->productCostData[$v['id']]['markup']; ?>' >
                                                        </div>
                                                </div>
                                                <?php
                                                $i++;
                                            }
                                            
                                            
                                                    }
                                        }
                                    } else {
                                        $flag = 0;
                                        $i = 0;
                                        foreach ($this->pricingCurrency as $k => $v) {
                                            ?>
                                            <div class="col-md-12">
                                                <?php if ($flag == '0') { ?>   
                                                    <div class="col-md-3">           
                                                        <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" type="text" name="pricing<?php echo $v['id']; ?>" class="pricingAll" 
                                                                value=''>
                                                        <div id="pricing_error" class="error-inner"></div>
                                                    </div>
                                                    <div class="col-md-1 mt-20">
                                                        <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                                                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                                        </a>
                                                        
                                                    </div>
                                                    <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                                                        Markup:       <input id="markup<?php echo $i; ?>" pattern="^\d+\.?\d{0,2}$" readonly="true" type="text" name="markup<?php echo $v['id']; ?>" class="markupAll" value='' />
                                                    </div>
                                                    <div class="col-md-4">
                                                        Cost:         <input id="costAll" type="text" pattern="^\d+\.?\d{0,2}$" title="Only Numbers" name="cost" class="form-control" value='' />
                                                    <div id="cost_error" class="error-inner"></div>
                                                    </div>
                                                    
                                                </div>

                                                <?php
                                                $i++;
                                                $flag = 1;
                                            } else {
                                                ?>    
                                                <div class="col-md-3">
                                                    <?php echo $v['name'] ?>:<input id="pricing<?php echo $i; ?>" type="text" name="pricing<?php echo $v['id']; ?>" class="pricingAll" value='' >
                                                </div>
                                                <div class="col-md-1 mt-20">
                                                    <a href="#" onclick="Inventoryproduct.DeletecurrencyPopup(<?php echo $v['id']; ?>);"> 
                                                        <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                                    </a> 
                                                </div>
                                                <div class="col-md-4" style="display:none" id="markup_div<?php echo $i; ?>">
                                                    Markup:       <input id="markup<?php echo $i; ?>" readonly="true" type="text" name="markup<?php echo $v['id']; ?>" class="markupAll" value='' >
                                                </div>

                                            </div>
                                            <?php
                                            $i++;
                                        }
                                    }
                                }
                                ?>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <a href="#" class="btn btn-success" onClick="Inventoryproduct.currencyPopup();" id="addNew">Add New Pricing Currency</a>
                                    </div>

                                </div>
                                </div>
                                </fieldset>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane p-10" id="extra">
                            <!-- Add product Code here-->
                            <div class="row" >
                                <fieldset>
                                    <legend>Storage Info</legend>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->bar_code->renderLabel() ?></label>

                                            <?php echo $form->bar_code->renderViewHelper(); ?>
                                            <?php echo $form->bar_code->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->reorder_point->renderLabel() ?></label>

                                            <?php echo $form->reorder_point->renderViewHelper(); ?>
                                            <?php echo $form->reorder_point->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->reorder_quantity->renderLabel() ?></label>

                                            <?php echo $form->reorder_quantity->renderViewHelper(); ?>
                                            <?php echo $form->reorder_quantity->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->storage_location->renderLabel() ?></label>

                                            <?php echo $form->storage_location->renderViewHelper(); ?>
                                            <?php echo $form->storage_location->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->last_vendor->renderLabel() ?></label>

                                            <?php echo $form->last_vendor->renderViewHelper(); ?>
                                            <?php echo $form->last_vendor->renderErrors(); ?>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Measurements</legend>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->length->renderLabel() ?></label>

                                            <?php echo $form->length->renderViewHelper(); ?>
                                            <?php echo $form->length->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->width->renderLabel() ?></label>

                                            <?php echo $form->width->renderViewHelper(); ?>
                                            <?php echo $form->width->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->height->renderLabel() ?></label>

                                            <?php echo $form->height->renderViewHelper(); ?>
                                            <?php echo $form->height->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->weight->renderLabel() ?></label>
                                            <?php echo $form->weight->renderViewHelper(); ?>
                                            <?php echo $form->weight->renderErrors(); ?>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend>Unit Of Measurement</legend>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->standard_uom_id->renderLabel() ?></label>
                                            <?php echo $form->standard_uom_id->renderViewHelper(); ?>
                                            <?php echo $form->standard_uom_id->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->sales_uom_id->renderLabel() ?></label>
                                            <?php echo $form->sales_uom_id->renderViewHelper(); ?>
                                            <?php echo $form->sales_uom_id->renderErrors(); ?>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->purchasing_uom_id->renderLabel() ?></label>

                                            <?php echo $form->purchasing_uom_id->renderViewHelper(); ?>
                                            <?php echo $form->purchasing_uom_id->renderErrors(); ?>
                                        </div>
                                    </div>      

                                </fieldset>
                                <fieldset>
                                    <legend>Remarks</legend>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label ><?php echo $form->remarks->renderLabel() ?></label>

                                            <?php echo $form->remarks->renderViewHelper(); ?>
                                            <?php echo $form->remarks->renderErrors(); ?>
                                        </div>
                                    </div>  
                                </fieldset>
                            </div> 

                            <!-- list of products-->

                        </div>
                        <div role="tabpanel" class="tab-pane p-10" id="inventory">
                            <div class="row" >
                                <fieldset>
                                    <legend>Add Inventory Location</legend>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Location</label>
                                            <input id="location_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                            <input id="location_id" type="text" class="form-control" value='' placeholder="" />
                                            <div id="ilerror" class="error-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Quantity</label>
                                            <input id="location_quantity" type="text" class="form-control" value='' placeholder="Add quantity" />
                                            <div id="ilqerror" class="error-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 mb-10">
                                        <button type="button"  onclick="Inventoryproduct.AddInvenotryLocation();" class="btn btn-success">Add Location</button>
                                        <br>
                                    </div>

                                </fieldset>
                            </div> 

                            <!-- list of products-->
                            <div id="location-list">
                                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Location</th>
                                            <th>Quantity</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <?php
                                        //var_dump($this->locList);die;
                                        if (count($this->locList) > 0) {
                                            foreach ($this->locList as $locList) {
                                                ?>
                                                <tr id="tr-<?php echo $locList['id']; ?>">
                                                    <td><?php echo $locList['location_name']; ?></td>
                                                    <td><?php echo $locList['quantity']; ?></td>
                                                    <td>
                                                        <a htef="#" onclick="Inventoryproduct.editInventoryLocation(<?php echo $locList['id']; ?>);"> 
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                        </a>
                                                        <a htef="#" onclick="Inventoryproduct.deleteInventoryLocation(<?php echo $locList['id']; ?>,<?php echo $locList['product_id']; ?>);"> 
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <?php
                                            }
                                        }
                                        ?>

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane p-10" id="bill">
                            <!-- Add product Code here-->
                            <div class="row" >
                                <fieldset>
                                    <legend>Add vendor products</legend>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Component Item</label>
                                            <input id="bom_id" type="hidden" class="form-control" value='' placeholder="" />
                                            <input id="item_id" type="text" class="form-control" value='' placeholder="" />
                                            <div id="comperror" class="error-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Quantity</label>
                                            <input id="quantity" type="text" class="form-control" value='' placeholder="Add quantity" />
                                            <div id="qerror" class="error-inner"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Cost</label>
                                            <input id="cost" type="text" class="form-control" value='' placeholder="Add Cost" />
                                            <div id="costerror" class="error-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 mb-10">
                                        <button type="button"  onclick="Inventoryproduct.AddComponent();" class="btn btn-success">Add Component</button>
                                        <br>
                                    </div>

                                </fieldset>
                            </div> 

                            <!-- list of products-->
                            <div id="bill-list">
                                <table id="list-grid2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Component Item</th>
                                            <th>Quantity</th>
                                            <th>Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Component Item</th>
                                            <th>Quantity</th>
                                            <th>Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <?php
                                        if (count($this->bomList) > 0) {
                                            foreach ($this->bomList as $bomList) {
                                                ?>
                                                <tr id="tr-<?php echo $bomList['id']; ?>">
                                                    <td><?php echo $bomList['product_name']; ?></td>
                                                    <td><?php echo $bomList['quantity']; ?></td>
                                                    <td><?php echo $bomList['cost']; ?></td>
                                                    <td>
                                                        <a htef="#" onclick="Inventoryproduct.editComponent(<?php echo $bomList['id']; ?>);"> 
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                        </a>
                                                        <a htef="#" onclick="Inventoryproduct.deleteComponent(<?php echo $bomList['id']; ?>,<?php echo $bomList['product_id']; ?>);"> 
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <?php
                                            }
                                        }
                                        ?>

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane  p-10" id="product_vendor">
                            <!-- Add product Code here-->
                            <div class="row" >
                                <fieldset>
                                    <legend>Add vendor products</legend>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Vendor name</label>
                                            <input id="vendor_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                            <input id="vendor_id" type="text" class="form-control" value='' placeholder="" />
                                            <div id="perror" class="error-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Vendor product code</label>
                                            <input id="vendor_pcode" type="text" class="form-control" value='' placeholder="Add Vendor product code" />
                                            <div id="vpcerror" class="error-inner"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="required">Cost</label>
                                            <input id="product_cost" type="text" class="form-control" value='' placeholder="Add Cost" />
                                            <div id="cerror" class="error-inner"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-9 mb-10">
                                        <button type="button"  onclick="Inventoryproduct.AddVendors();" class="btn btn-success">Add Vendor</button>
                                        <br>
                                    </div>

                                </fieldset>
                            </div> 

                            <!-- list of products-->
                            <div id="vendor-list">
                                <table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Vendor name</th>
                                            <th>Vendor product code</th>
                                            <th>Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>Vendor name</th>
                                            <th>Vendor product code</th>
                                            <th>Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <?php
                                        if (count($this->vendorList) > 0) {
                                            foreach ($this->vendorList as $vendorList) {
                                                ?>
                                                <tr id="tr-<?php echo $vendorList['id']; ?>">
                                                    <td><?php echo $vendorList['name']; ?></td>
                                                    <td><?php echo $vendorList['vendor_product_code']; ?></td>
                                                    <td><?php echo $vendorList['cost']; ?></td>
                                                    <td>
                                                        <a htef="#" onclick="Inventoryproduct.editVendor(<?php echo $vendorList['id']; ?>);"> 
                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                        </a>
                                                        <a htef="#" onclick="Inventoryproduct.deleteVendor(<?php echo $vendorList['id']; ?>,<?php echo $vendorList['product_id']; ?>);"> 
                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <?php
                                            }
                                        }
                                        ?>

                                    </tbody>
                                </table> 
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="movement">
                            <div style="min-height:400px">
                                <div id="movement-list">
                                    <table id="list-grid-movement" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Product name</th>
                                                <th>Source</th>
                                                <th>Movement Date</th>
                                                <th>Before Qty</th>
                                                <th>Qty</th>
                                                <th>After Quantity</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th>Product name</th>
                                                <th>Source</th>
                                                <th>Movement Date</th>
                                                <th>Before Qty</th>
                                                <th>Qty</th>
                                                <th>After Quantity</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                            <?php
                                            if (count($this->moveData) > 0) {
                                                foreach ($this->moveData as $mData) {
                                                    ?>
                                                    <tr id="tr">
                                                        <td><?php echo $mData['product_name']; ?></td>
                                                        <td><?php echo $mData['type']; ?></td>
                                                        <td><?php echo $mData['mdate']; ?></td>
                                                        <td><?php echo $mData['qty_before']; ?></td>
                                                        <td><?php echo $mData['qty']; ?></td>
                                                        <td><?php echo $mData['qty_after']; ?></td>
                                                       
                                                    </tr>
                                                    <?php
                                                }
                                            }
                                            ?>

                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="orders">
                            <div>
                                <table id="list-grid-movement" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Customer/Vendor</th>
                                                <th>Order Date</th>
                                                <th>Order Status</th>
                                                <th>Sub total</th>
                                                <th>Quantity</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>

                                        <tfoot>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Customer/Vendor</th>
                                                <th>Order Date</th>
                                                <th>Order Status</th>
                                                <th>Sub total</th>
                                                <th>Quantity</th>
                                                <th>Type</th>
                                            </tr>
                                        </tfoot>

                                        <tbody>
                                            <?php
                                            if (count($this->orderHistory) > 0) {
                                                foreach ($this->orderHistory as $orderList) {
                                                    ?>
                                                    <tr id="tr-<?php echo $orderList['id']; ?>">
                                                        <td><?php echo $orderList['order_id']; ?></td>
                                                        <td><?php echo $orderList['representative']; ?></td>
                                                        <td><?php echo $orderList['order_date']; ?></td>
                                                        <td><?php echo $orderList['order_status']; ?></td>
                                                        <td><?php echo $orderList['sub_total']; ?></td>
                                                        <td><?php echo $orderList['quantity']; ?></td>
                                                        <td><?php echo $orderList['type']; ?></td>
                                                    </tr>
                                                    <?php
                                                }
                                            }
                                            ?>

                                        </tbody>
                                    </table> 
                            </div>
                        </div>
                        <?php if (count($this->locList) > 0) {
                            ?>
                            <input type="hidden" id="flag" value="<?php echo $this->locList[0]['product_id']; ?>">
                        <?php } else {
                            ?>
                            <input type="hidden" id="flag" value="">
                        <?php } ?>
                    </div>

                </div>

            </div>

        </div>


    </div>

</div>

</div>
</form>


<script>
    $("#costAll").change(function () {
        Inventoryproduct.CostCalculation();
    });


    $(".pricingAll").change(function () {
        Inventoryproduct.CostCalculation();
    });


    $(document).ready(function () {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
        $('#list-grid1').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
        $('#list-grid2').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
        $('#list-grid3').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
        $('#list-grid-movement').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
        $('#list-grid-order').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
    });
    // simple example
    $('#vendor_id').immybox({
        choices: <?php echo $this->vendorsData; ?>,
        defaultSelectedValue: '1'
    });
    $('#item_id').immybox({
        choices: <?php echo $this->componentsData; ?>,
        defaultSelectedValue: '1'
    });
    $('#location_id').immybox({
        choices: <?php echo $this->locationsData; ?>,
        defaultSelectedValue: '1'
    });
    if ($.trim($('#costAll').val()).length != 0) {
        $(".col-md-4").show("fast");
        Inventoryproduct.CostCalculation();
    }
    
    function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#image_display').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

        $("#imgInp").change(function(){
            readURL(this);
        });
        
//    $(document).ready(function() {
////        alert(<?php //echo $this->id_json; ?>);
        //var id = <?php //echo $this->id_json ?> ;
////        
////        if(id) {
//            var file_upload =  ;
//            if(file_upload) {
//               $('#image_display').attr('src',file_upload);
//            }
//        //}
//    });   

    $(document).ready(function() {
        Inventoryproduct.CancelledCheck();
    });
</script>

