<table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
            <tr>
                <th>Component Item</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Action</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Component Item</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Action</th>
            </tr>
        </tfoot>

        <tbody>
            <?php
            if (count($this->bomList) > 0) {
                foreach ($this->bomList as $bomList) {
                    ?>
                    <tr id="tr-<?php echo $bomList['id']; ?>">
                        <td><?php echo $bomList['product_name']; ?></td>
                        <td><?php echo $bomList['quantity']; ?></td>
                        <td><?php echo $bomList['cost']; ?></td>
                        <td>
                            <a htef="#" onclick="Inventoryproduct.editComponent(<?php echo $bomList['id']; ?>);"> 
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                            </a>
                            <a htef="#" onclick="Inventoryproduct.deleteComponent(<?php echo $bomList['id']; ?>,<?php echo $bomList['product_id']; ?>);"> 
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>

        </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid1').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
                "columnDefs": [ { orderable: false, targets: [3] }]
            });
        });
</script>