<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">
                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>List of Products</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button onclick="Inventoryproduct.Add();" id="addNew"class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add Product
                            </button>
                        </div>
                    </div> 
                </div>

                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Product Category</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Product Type</th>
                            <th>Product Category</th>
                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->productData) > 0) {
                            foreach ($this->productData as $product) {
                                ?>
                                <tr id="tr-<?php echo $product['id']; ?>">
                                    <td><?php echo $product['id']; ?></td>
                                    <td><?php echo $product['product_name']; ?></td>
                                    <td><?php echo $product['product_type_name']; ?></td>
                                    <td><?php echo $product['product_category_name']; ?></td>
                                    <td><?php echo $product['remarks']; ?></td>
                                    <td>
                                        <a htef="#" onclick="Inventoryproduct.Edit(<?php echo $product['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
<!--                                        <a htef="#" onclick="Inventoryproduct.delete(<?php// echo $product['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                        </a>-->
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
    });


</script>

