<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Product name</th>
            <th>Vendor product code</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Sub total</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th></th>
            <th>Product name</th>
            <th>Vendor product code</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Sub total</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productList) > 0) {
            foreach ($this->productList as $productList) {
                ?>
                <tr id="tr-<?php echo $productList['id']; ?>">
                    <td><?php if($productList['orderType']=='Order'){ ?> <span class="badge progress-bar-warning">&nbsp;</span> <?php } else {?> <span class="badge progress-bar-danger">&nbsp;</span> <?php }?></td>
                    <td><?php echo $productList['product_name']; ?></td>
                    <td><?php echo $productList['vendor_product_code']; ?></td>
                    <td><?php echo $productList['quantity']; ?></td>
                    <td><?php echo $productList['unit_price']; ?></td>
                    <td><?php echo $productList['discount']; ?></td>
                    <td><?php echo $productList['sub_total']; ?></td>
                    <td>
                        <a htef="#" onclick="PurchaseOrder.editProduct(<?php echo $productList['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>

                        <a htef="#" onclick="PurchaseOrder.deleteProduct(<?php echo $productList['id']; ?>,<?php echo $productList['order_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[1, "desc"]],
                "columnDefs": [ { orderable: false, targets: [0,7] }]
            });
        });
</script>