<table id="list-grid3" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Receive Date</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Receive Date</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->unstockOrderData) > 0) {
            foreach ($this->unstockOrderData as $unstockProduct) {
                ?>
                <tr id="tr-<?php echo $unstockProduct['id']; ?>">
                    <td><?php echo $unstockProduct['product_name']; ?></td>
                    <td><?php echo $unstockProduct['quantity']; ?></td>
                    <td><?php echo $unstockProduct['transaction_date']; ?></td>
                    <td><?php echo $unstockProduct['location_name']; ?></td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid3').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]]
            });
        });
</script>