<div id="payment-list" style=" width: 99%;">
    <table id="list-grid-delete" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Payment Date</th>
                <th>Payment Type</th>
                <th>Payment Method</th>
                <th>Payment Ref</th>
                <th>Payment Remarks</th>
                <th>Payment Amount</th>
                <th>Action</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Payment Date</th>
                <th>Payment Type</th>
                <th>Payment Method</th>
                <th>Payment Ref</th>
                <th>Payment Remarks</th>
                <th>Payment Amount</th>
                <th>Action</th>
            </tr>
        </tfoot>

        <tbody>
            <?php
            if (count($this->paymentList) > 0) {
                foreach ($this->paymentList as $paymentList) {
                    ?>
                    <tr id="tr-<?php echo $paymentList['id']; ?>">
                        <td><?php echo $paymentList['payment_date']; ?></td>
                        <td><?php echo $paymentList['payment_type']; ?></td>
                        <td><?php echo $paymentList['payment_method_name']; ?></td>
                        <td><?php echo $paymentList['payment_ref']; ?></td>
                        <td><?php echo $paymentList['payment_remarks']; ?></td>
                        <td><?php echo $paymentList['amount']; ?></td>
                        <td>
                            <a htef="#" onclick="PurchaseOrder.editPurchaseOrderPayment(<?php echo $paymentList['id']; ?>);"> 
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                            </a>
                            <a htef="#" onclick="PurchaseOrder.deletePurchaseOrderPayment(<?php echo $paymentList['id']; ?>,<?php echo $paymentList['order_id']; ?>);"> 
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>

        </tbody>
    </table>
    <div>
        <div class="form-group">
            <?php 
            if($this->salesPaymentStatus == 'Paid') { ?>
            <button type="button" onclick="PurchaseOrder.IssueRefund();" class="btn btn-warning">Issue Refund</button>
           <?php  }
            else { ?>
                <button type="button" onclick="PurchaseOrder.PayOrderPopup();" class="btn btn-success">Pay Order Balance</button>
         <?php   }
            ?>
        </div>
    </div>
    <div class="tab-form-right">
        <div class="col-md-2 col-md-offset-10" >
            Total Paid:<input type="text" class="form-control" readonly="true" id="total_paid" value="<?php echo number_format($this->paid_amount,2, '.', ''); ?>"/>
            Balance:<input type="text" class="form-control" readonly="true"  id="payment_balance" value="<?php echo number_format($this->balance,2,'.',''); ?>"/>
            Ordered Total:<input type="text" readonly="true" class="form-control" id="paid_total" value="<?php echo number_format($this->order_total,2,'.',''); ?>"/>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#list-grid-delete').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        $("#payment_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy'
        });
//        $("#paid_amount").val(<?php //echo number_format($this->paid_amount,2, '.', '');?>);
    });
    
</script>