<?php $orderData = $this->orderMasData; ?>
<form id="frmorder"  enctype="application/x-www-form-urlencoded" action="/purchase-order/add"
      method="post"> 
<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="container-fluid btn-back">
                <div class="btn-group" role="group" style="padding:0px;">
                    <button type="button" onclick="PurchaseOrder.Add();" class="btn btn-default li1">New</button>
                    <button type="submit" class="btn btn-default li2">Update</button>
                    <button type="button" onclick="PurchaseOrder.CopyPurchaseOrder(<?php echo $this->id;?>)" class="btn btn-default li3">Copy</button>
                    
                    <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default li4" data-toggle="dropdown" aria-expanded="false">
                                Print
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a style="padding-bottom: 10px !important;" class="btn btn-default " target="_blank" href="/purchase-order/print-order/id/<?php echo $this->id;?>" role="button">Print Purchase Order</a></li>
                                <li><a style="padding-bottom: 10px !important;" class="btn btn-default " target="_blank" href="/purchase-order/print-invoice-purchase/id/<?php echo $this->id;?>" role="button">Print Purchase Invoice</a></li>
                                <li><a style="padding-bottom: 10px !important;" class="btn btn-default " target="_blank" href="/purchase-order/print-receive-purchase/id/<?php echo $this->id;?>" role="button">Print Receiving Note</a></li>
                            </ul>
                    </div>
                    <?php if($orderData['order_status'] == 'Cancelled')  {   ?>
                    <button type="button" id="reopen_button" onclick="PurchaseOrder.ReopenCancelledOrder(<?php echo $this->id; ?>)" class="btn btn-default li6">Reopen Order</button>
                    <?php } else { ?>
                            <button type="button" onclick="PurchaseOrder.CancelPurchaseOrder(<?php echo $this->id;?>)" class="btn btn-default li6">Cancel Order</button>
                    <?php }  ?>
                    <button type="button" id="back_to_order" onclick="PurchaseOrder.GoToList();" class="btn btn-default li9 font-bold">Back to Order List</button>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="main-left">
                        <div class="form-group">
                            <label for="exampleInputName2">Vendor</label>
                             <input type="hidden" class="form-control" id="id" name="id" value="<?php echo $this->id; ?>">
                            <select onchange="PurchaseOrder.getvendorDetails();" id="vendor_id" name="vendor_id" class="left-texts custom-select">
                                 <option value="">Please Select</option>
                                <?php foreach($this->vendors as $vendor){ ?>                                
                                     <option value="<?php echo $vendor['id']; ?>" <?php echo ($orderData['vendor_id']== $vendor['id'])?'selected':''; ?>><?php echo $vendor['name']; ?></option>
                                <?php }?>
                            </select>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2">Contact</label>
                            <input type="text" class="form-control" id="vendor_contact" name="vendor_contact" value="<?php echo $orderData['vendor_contact']; ?>">
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" value="<?php echo $orderData['vendor_phone']; ?>">
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">                             
                                <select onchange="Customers.ChangeAddress()" class="form-control" id="address_type" name="address_type">
                                    <option value="Business Address" <?php if($orderData['address_type']=='Business Address') { echo 'selected'; }?>>Business Address</option>
                                    <option value="Billing Address" <?php if($orderData['address_type']=='Billing Address') { echo 'selected'; }?>>Billing Address</option>
                                    <option value="Shipping Address" <?php if($orderData['address_type']=='Shipping Address') { echo 'selected'; }?>>Shipping Address</option>
                                </select>                                                        
                                <textarea class="form-control" rows="4" cols="40" id="address" name="address" ><?php echo $orderData['address1']; ?></textarea>                                                        
                                <textarea class="form-control dnone" rows="4" cols="40" id="address1" name="address1"><?php echo $orderData['address1']; ?></textarea>                                                        
                                <textarea class="form-control dnone" rows="4" cols="40" id="address2" name="address2"><?php echo $orderData['address2']; ?></textarea>                                                                                                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-md-offset-2">
                    <div class="form-group" id="terms_div" style="display:none;">
                        <label for="exampleInputName2">Terms</label>
                        <select id="terms" name="terms" class="left-texts  custom-select">
                            <option value="">Select Terms</option>
                                <?php foreach($this->terms as $terms){ ?>                                
                                     <option value="<?php echo $terms['id']; ?>" <?php echo ($orderData['terms_id']== $terms['id'])?'selected':''; ?>><?php echo $terms['name']; ?></option>
                                <?php }?>
                        </select>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group" id="vorder_div" style="display:none;">
                        <label for="exampleInputEmail2">V. Order #</label>
                        <input type="text" class="form-control" id="v_order" name="v_order" value="<?php echo $orderData['v_order']; ?>">

                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <label for="exampleInputEmail2 ">Location</label>
                        <select id="location_id" name="location_id" class="left-texts  custom-select">
                                <?php foreach($this->locations as $location){ ?>                                
                                     <option value="<?php echo $location['id']; ?>" <?php echo ($orderData['location_id']== $location['id'])?'selected':''; ?>><?php echo $location['name']; ?></option>
                                <?php }?>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-md-offset-1">
                    <div class="form-right">
                        <div class="form-group">
                            <label for="exampleInputName2">Order#</label>
                            <input type="text" readonly class="form-control" id="order_id" name="order_id" value="<?php echo $orderData['po_id']; ?>">
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2">Date</label>
                            <input readonly type="text" class="form-control" id="order_date" name="order_date" value="<?php echo $orderData['po_date']; ?>">
                        </div>
                        <div class="clearfix"></div>
                        <?php  if($orderData['order_status'] == 'Cancelled')  { ?>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Status</label>
                            <input readonly value="<?php echo $orderData['order_status'];?>" class="form-control" type="text" id="status" name="status">
                        </div>
                        <?php }
                        else {?>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Status</label>
                            <input readonly value="<?php echo $orderData['order_status']; ?>,<?php echo $orderData['payment_status']; ?>" class="form-control" type="text" id="status" name="status">
                        </div>
                        <?php  }   ?>  
                        <div class="clearfix"></div>
                        
                        <div id="ship_address" class="form-group" style="display:none;">
                            <label for="exampleInputEmail2">Ship-To Address <br>
                                <a href="#" onclick="PurchaseOrder.noShipping();">No shipping</a>
                                <input value="<?php echo $orderData['ship_req']; ?>" class="form-control" type="hidden" id="ship_req" name="ship_req">
                            </label>
                            <textarea id="shipping_address" name="shipping_address" class="form-control" rows="2"><?php echo $orderData['ship_to_address']; ?></textarea>
                        </div>
                        
                        <div id="add_address" class="form-group">
                            <label for="exampleInputEmail2">
                                 <a href="#" onclick="PurchaseOrder.addShipping();">Add shipping</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="padding:0px;">
                <div class="tab_container">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Purchase</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Recieve</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Return</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Unstock</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="container-fluid" style="padding-left:0px;">
                                    <div class="row" >
                                        <fieldset>
                                        <legend>Add products</legend>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="required">Product name</label>
                                                    
                                                    <input id="purchase_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                                    <select class="left-texts custom-select" id="product_code" name="product_code" onchange="PurchaseOrder.getProductData();">
                                                    <option value="">Please Select</option>
                                                    <?php foreach($this->productData as $products){ ?>                                
                                                         <option value="<?php echo $products['id']; ?>" ><?php echo $products['product_name']; ?></option>
                                                    <?php }?>
                                                </select>
                                                    <div id="perror" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label >Vendor product code</label>
                                                    <input id="availQuantity" name="AvailQuantity" type="hidden" class="form-control" value=''/>
                                                    <input id="vendor_pcode" type="text" class="form-control" value='' placeholder="Add Vendor product code" />
                                                    <div id="vpcerror" class="error-inner"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="required">Quantity</label>
                                                    <input id="quantity" type="text" class="form-control" value='' onchange=" PurchaseOrder.calcSubTotal();" placeholder="Add Quantity" />
                                                    <div style="margin-top:13px" id="qtyerror" class="error-inner"></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="required">Unit price</label>
                                                    <input id="unit_price" type="text" class="form-control" value='' onchange=" PurchaseOrder.calcSubTotal();" placeholder="Add Cost" />
                                                    <div style="margin-top:13px" id="cerror" class="error-inner"></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label >Discount</label>
                                                    <input id="discount" type="text" class="form-control" value='' onchange=" PurchaseOrder.calcSubTotal();" placeholder="Add Discount" />
                                                    <div style="margin-top:13px" id="diserror" class="error-inner"></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label >Sub Total</label>
                                                    <input id="sub_total" type="text" class="form-control" value='' readonly />
                                                    <div id="subTotError" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-10">
                                                <button type="button"  onclick="PurchaseOrder.AddProduct();" class="btn btn-success">Add Product</button>
                                                <br>
                                            </div>

                                        <div id="product-list" class="col-md-12">
                                            <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Product name</th>
                                                        <th>Vendor product code</th>
                                                        <th>Quantity</th>
                                                        <th>Unit price</th>
                                                        <th>Discount</th>
                                                        <th>Sub total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                                <tfoot>
                                                    <tr>
                                                        <th></th>
                                                        <th>Product name</th>
                                                        <th>Vendor product code</th>
                                                        <th>Quantity</th>
                                                        <th>Unit price</th>
                                                        <th>Discount</th>
                                                        <th>Sub total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>

                                                <tbody>
                                                    <?php
                                                    if (count($this->productList) > 0) {
                                                        foreach ($this->productList as $productList) {
                                                            ?>
                                                            <tr id="tr-<?php echo $productList['id']; ?>">
                                                                <td><?php if($productList['orderType']=='Order'){ ?> <span class="badge progress-bar-warning">&nbsp;</span> <?php } else {?> <span class="badge progress-bar-danger">&nbsp;</span> <?php }?></td>
                                                                <td><?php echo $productList['product_name']; ?></td>
                                                                <td><?php echo $productList['vendor_product_code']; ?></td>
                                                                <td><?php echo $productList['quantity']; ?></td>
                                                                <td><?php echo $productList['unit_price']; ?></td>
                                                                <td><?php echo $productList['discount']; ?></td>
                                                                <td><?php echo $productList['sub_total']; ?></td>
                                                                <td>
                                                                    <a htef="#" onclick="PurchaseOrder.editProduct(<?php echo $productList['id']; ?>);"> 
                                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                    </a>
                                                                    <a htef="#" onclick="PurchaseOrder.deleteProduct(<?php echo $productList['id']; ?>,<?php echo $productList['order_id']; ?>);"> 
                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <?php
                                                        }
                                                    }
                                                    ?>

                                                </tbody>
                                            </table> 
                                          </div>
                                        </fieldset>
                                    </div> 
                                    
                                <div class="tab-form">
                                    <div class="row" style="padding-left:0px;">
                                        <div class="col-md-3 col-sm-5 col-xs-3">
                                            <div class="form-group">
                                                <label>Carrier</label>
                                                <select class="left-texts custom-select" id="carrier" name="carrier">
                                                    <option value="">Please Select</option>
                                                    <?php foreach($this->carrier as $carrier){ ?>                                
                                                         <option value="<?php echo $carrier['id']; ?>" <?php echo ($orderData['carrier_id']== $carrier['id'])?'selected':''; ?>><?php echo $carrier['carrier_name']; ?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label>Due Date</label>
                                               <input readonly type="text" class="form-control" id="due_date" name="due_date" value="<?php echo $this->general()->ValidateNullDate($orderData['due_date']); ?>">
                                            </div>
                                            <div class="clearfix"></div>
                                            
                                            <div class="form-group">
                                                <label for="exampleInputName2">Taxing Scheme</label>
                                                <select onchange="PurchaseOrder.calculateTax(<?php echo $this->id; ?>);" class="left-texts custom-select" id="taxing_scheme" name="taxing_scheme">
                                                     <option value="">Please Select</option>
                                                    <?php foreach($this->taxingSchemes as $taxingSchemes){ ?>                                
                                                         <option  value="<?php echo $taxingSchemes['id']; ?>" <?php echo ($orderData['taxing_scheme_id']== $taxingSchemes['id'])?'selected':''; ?>><?php echo $taxingSchemes['tax_scheme_name']; ?></option>
                                                    <?php }?>
                                                </select>


                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label for="exampleInputName2">Non Vendor
                                                    Cost</label>
                                               <input type="text" class="form-control" id="non_vendor_cost" name="non_vendor_cost" value="<?php echo $orderData['non_vendor_costs']; ?>">


                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <label for="exampleInputName2">Currency</label>
                                                <select class="left-texts custom-select" id="currency_id" name="currency_id">
                                                   <option value="">Select Currency</option>
                                                    <?php foreach($this->currency as $currency){ ?>                                
                                                         <option value="<?php echo $currency['id']; ?>" <?php echo ($orderData['currency_id']== $currency['id'])?'selected':''; ?>><?php echo $currency['currency_name']; ?></option>
                                                    <?php }?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-4 col-xs-6 col-md-offset-2">
                                            <div class="tab-middle-main">
                                                <div class="form-group">
                                                    <label for="exampleInputName2">Req. Ship Date</label>
                                                    <input readonly type="text" class="form-control" id="ship_date" name="ship_date" value="<?php echo $this->general()->ValidateNullDate($orderData['req_shipping_date']); ?>">


                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Remarks</label>
                                                    <textarea id="remarks" name="remarks" class="form-control" rows="2"><?php echo $orderData['remarks']; ?></textarea>
                                                </div>

                                                <div class="clearfix"></div>

                                                <div class="form-group" style="display:flex;">
                                                    <div><button style=" height: 34px;" type="submit" class="btn btn-primary margn-right10px">Save</button></div>
                                                    <div id="order-btn">
                                                    <?php if($this->id >0){ 
                                                        if($orderData['order_status']=='Fulfilled'){
                                                        ?>                                                        
                                                            <button type="button" onclick="PurchaseOrder.UnfulfilledOrder();" class="btn btn-warning margn-right10px">Unfulfilled</button>
                                                        <?php } else { ?>    
                                                            <button type="button" onclick="PurchaseOrder.fulfilledOrder();" class="btn btn-success margn-right10px">Fulfilled</button>
                                                        <?php }                                                    
                                                    }?>
                                                    </div>
                                                    <div id="pay-btn">
                                                        <?php if($this->id >0){ 

                                                             if($orderData['payment_status']=='Unpaid' || $orderData['payment_status']=='Partial'){
                                                            ?>                                                        
                                                                <button type="button" onclick="PurchaseOrder.PayOrder();" class="btn btn-success">Pay</button>
                                                            <?php } elseif($orderData['payment_status']=='Paid'){?>    
                                                                <button type="button" onclick="PurchaseOrder.UnpayOrder();" class="btn btn-warning">Un Pay</button>
                                                            <?php } elseif($orderData['payment_status']=='Owing'){ ?>    
                                                                <button type="button" onclick="PurchaseOrder.RefundPayOrder();" class="btn btn-danger">Refund</button>

                                                        <?php } 

                                                        }?>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>


                                        <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1" id="totals_div">

                                            <div class="tab-form-right">  
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Sub-Total</label>
                                                    <input type="text" class="form-control"  id="sub_total_products" name="sub_total_products" value="<?php echo ($orderData['sub_total'])? $orderData['sub_total']: '0.00'; ?>">
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Total</label>
                                                    <input type="text" class="form-control" id="total_amount" name="total_amount" value="<?php echo $orderData['total_amount']; ?>">
                                                </div>
                                                <?php if($orderData['ship_req']==1){ ?>
                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Freight</label>
                                                    <input type="text" class="form-control" id="freight" name="freight" value="<?php echo $orderData['freight']; ?>">
                                                </div>
                                                <?php } ?>
                                                <div class="clearfix"></div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Paid</label>
                                                    <input type="text" onchange="PurchaseOrder.calculateBalance();" class="form-control" id="paid_amount" name="paid_amount" value="<?php echo $orderData['paid_amount']; ?>">
                                                </div>
                                                <div class="clearfix"></div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Balance</label>
                                                    <input type="text" class="form-control" id="balance" name="balance" value="<?php echo $orderData['balance']; ?>">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                            
                            <!-- Tab 2-->
                            <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                            <legend>Add products</legend>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Product name</label>

                                                        <input id="rec_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        <select class="left-texts custom-select" id="rec_product_code" name="rec_product_code" onchange="PurchaseOrder.getReceiveProductData();">
                                                        <option value="">Please Select</option>
                                                        <?php foreach($this->recProductData as $products){ ?>                                
                                                             <option value="<?php echo $products['id']; ?>" ><?php echo $products['product_name']; ?></option>
                                                        <?php }?>
                                                    </select>
                                                        <div id="rperror" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label >Vendor product code</label>
                                                        <input id="rec_vendor_pcode" type="text" class="form-control" value='' placeholder="Add Vendor product code" />
                                                        <div style="margin-top:13px" id="rvpcerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="rec_quantity" type="text" class="form-control" value='' onchange=" PurchaseOrder.calcSubTotal();" placeholder="Add Quantity" />
                                                        <div style="margin-top:13px" id="rqtyerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                       <label class="required" for="exampleInputEmail2 ">Location</label>
                                                        <select disabled id="receive_location_id" name="receive_location_id" class="left-texts  custom-select">
                                                            <option value="">Select Location</option>
                                                                <?php foreach($this->locations as $location){ ?>                                
                                                                     <option value="<?php echo $location['id']; ?>" <?php echo ($orderData['location_id']== $location['id'])?'selected':''; ?>><?php echo $location['name']; ?></option>
                                                                <?php }?>
                                                        </select>
                                                       <div id="rlerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Receive Date</label>
                                                        <input id="receive_date" name="receive_date" type="text" class="form-control" value='' placeholder="Add Date" />
                                                        <div style="margin-top:13px" id="rderror" class="error-inner"></div>
                                                    </div>
                                                </div> 
                                                <div class="col-md-2 mb-10 mt-20">
                                                    <button type="button"  onclick="PurchaseOrder.AddReceiveProduct();" class="btn btn-success">Add Product</button>
                                                    <br>
                                                </div>
                                            
                                            <div class="col-md-12" id="receive-product-list">
                                                <table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Product name</th>
                                                            <th>Vendor product code</th>
                                                            <th>Quantity</th>
                                                            <th>Location</th>
                                                            <th>Receive Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tfoot>
                                                        <tr>
                                                            <th>Product name</th>
                                                            <th>Vendor product code</th>
                                                            <th>Quantity</th>
                                                            <th>Location</th>
                                                            <th>Receive Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>

                                                    <tbody>
                                                        <?php
                                                        if (count($this->receivedOrderData) > 0) {
                                                            foreach ($this->receivedOrderData as $productReceived) {
                                                                ?>
                                                                <tr id="tr-<?php echo $productReceived['id']; ?>">
                                                                    <td><?php echo $productReceived['product_name']; ?></td>
                                                                    <td><?php echo $productReceived['vendor_product_code']; ?></td>
                                                                    <td><?php echo $productReceived['quantity']; ?></td>
                                                                    <td><?php echo $productReceived['location_name']; ?></td>
                                                                    <td><?php echo $productReceived['transaction_date']; ?></td>
                                                                    <td>
                                                                        <a htef="#" onclick="PurchaseOrder.editReceiveProduct(<?php echo $productReceived['id']; ?>);"> 
                                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                        </a>
                                                                        <a htef="#" onclick="PurchaseOrder.deleteReceiveProduct(<?php echo $productReceived['id']; ?>,<?php echo $productReceived['order_id']; ?>);"> 
                                                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <?php
                                                            }
                                                        }
                                                        ?>

                                                    </tbody>
                                                </table> 
                                              </div>
                                            </fieldset>
                                        </div> 

                                    <div class="tab-form">
                                        <div class="row" style="padding-left:0px;"> 
                                            <div class="col-md-7 col-sm-7 col-xs-7">
                                                <div class="tab-middle-main">
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Remarks</label>
                                                        <textarea id="receive_remark" name="receive_remark" class="form-control" rows="2"><?php echo $orderData['receive_remark']; ?></textarea>
                                                    </div>

                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <button type="button" onclick="PurchaseOrder.AutofillReceiveProducts();" class="btn btn-warning">Auto fill</button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-2" id="qty_div">

                                                <div class="tab-form-right">  
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Total Ordered</label>
                                                        <input type="text" readonly class="form-control"  id="total_ordered" name="total_ordered" value="<?php echo ($this->orderQty)?$this->orderQty:0; ?>">
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Total Received</label>
                                                        <input type="text" readonly class="form-control" id="total_received" name="total_received" value="<?php echo ($this->receiveQty)?$this->receiveQty:0; ?>">
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab 3-->
                            <div role="tabpanel" class="tab-pane" id="messages"> 
                                <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                        <fieldset>
                                        <legend>Add products</legend>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="required">Product name</label>
                                                    
                                                    <input id="ret_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                                    <select class="left-texts custom-select" id="ret_product_code" name="ret_product_code" onchange="PurchaseOrder.getReturnProductData();">
                                                    <option value="">Please Select</option>
                                                    <?php foreach($this->productData as $products){ ?>                                
                                                         <option value="<?php echo $products['id']; ?>" ><?php echo $products['product_name']; ?></option>
                                                    <?php }?>
                                                </select>
                                                    <div id="ret_perror" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Vendor product code</label>
                                                    <input id="ret_vendor_pcode" type="text" class="form-control" value='' placeholder="Add Vendor product code" />
                                                    <div id="ret_vpcerror" class="error-inner"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label class="required">Quantity</label>
                                                    <input id="ret_quantity" type="text" class="form-control" value='0' onchange="PurchaseOrder.calcRetTotal();" placeholder="Add Quantity" />
                                                    <div id="ret_qtyerror" class="error-inner"></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="required">Return Date</label>
                                                    <input id="ret_date" type="text" class="form-control" value='' placeholder="Add Date" />
                                                    <div id="ret_dateerror" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Unit price</label>
                                                    <input id="ret_unit_price" type="text" class="form-control" value='0.00' onchange="PurchaseOrder.calcRetTotal();" placeholder="Add Cost" />
                                                    <div id="ret_cerror" class="error-inner"></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <label>Discount</label>
                                                    <input id="ret_discount" type="text" class="form-control" value='0.00' onchange="PurchaseOrder.calcRetTotal();" placeholder="Add Discount" />
                                                    <div id="ret_diserror" class="error-inner"></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Sub Total</label>
                                                    <input id="ret_sub_total" type="text" class="form-control" value='0.00' readonly />
                                                    <div id="ret_subTotError" class="error-inner"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-10">
                                                <button type="button"  onclick="PurchaseOrder.AddReturnProduct();" class="btn btn-success">Add Product</button>
                                                <br>
                                            </div>

                                        <div id="ret-product-list" class="col-md-12">
                                            <table id="list-grid2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Product name</th>
                                                        <th>Vendor product code</th>
                                                        <th>Quantity</th>
                                                        <th>Return Date</th>
                                                        <th>Unit price</th>
                                                        <th>Discount</th>
                                                        <th>Sub total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                                <tfoot>
                                                    <tr>
                                                        <th>Product name</th>
                                                        <th>Vendor product code</th>
                                                        <th>Quantity</th>
                                                        <th>Return Date</th>
                                                        <th>Unit price</th>
                                                        <th>Discount</th>
                                                        <th>Sub total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>

                                                <tbody>
                                                    <?php
                                                    if (count($this->returnProductList) > 0) {
                                                        foreach ($this->returnProductList as $retProductList) {
                                                            ?>
                                                            <tr id="tr-<?php echo $retProductList['id']; ?>">
                                                                <td><?php echo $retProductList['product_name']; ?></td>
                                                                <td><?php echo $retProductList['vendor_product_code']; ?></td>
                                                                <td><?php echo $retProductList['quantity']; ?></td>
                                                                <td><?php echo $retProductList['transaction_date']; ?></td>
                                                                <td><?php echo $retProductList['unit_price']; ?></td>
                                                                <td><?php echo $retProductList['discount']; ?></td>
                                                                <td><?php echo $retProductList['sub_total']; ?></td>
                                                                <td>
                                                                    <a htef="#" onclick="PurchaseOrder.editReturnProduct(<?php echo $retProductList['id']; ?>);"> 
                                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                    </a>
                                                                    <a htef="#" onclick="PurchaseOrder.deleteReturnProduct(<?php echo $retProductList['id']; ?>,<?php echo $retProductList['order_id']; ?>);"> 
                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            <?php
                                                        }
                                                    }
                                                    ?>

                                                </tbody>
                                            </table> 
                                          </div>
                                        </fieldset>
                                    </div> 

                                    <div class="tab-form">
                                        <div class="row" style="padding-left:0px;"> 
                                            <div class="col-md-7 col-sm-7 col-xs-7">
                                                <div class="tab-middle-main">
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Remarks</label>
                                                        <textarea id="ret_remarks" name="ret_remarks" class="form-control" rows="2"><?php echo $orderData['return_remark']; ?></textarea>
                                                    </div>

                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-info">Save</button>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <button type="button" onclick="PurchaseOrder.AutofillReturn();" class="btn btn-warning">Auto fill</button>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-2" id="qty_div">

                                                <div class="tab-form-right">  
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Sub total</label>
                                                        <input type="text" readonly class="form-control"  onchange="PurchaseOrder.calcRetNetTotal();" id="ret_net_sub_total" name="ret_net_sub_total" value="<?php echo ($this->returnSubTotal)?$this->returnSubTotal:'0.00' ?>">
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Fee</label>
                                                        <input type="text" class="form-control" onchange="PurchaseOrder.calcRetNetTotal();" id="ret_fee" name="ret_fee" value="0.00">
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Total</label>
                                                        <input type="text" readonly class="form-control" id="ret_total" name="ret_total" value="0.00">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Tab 4-->
                            <div role="tabpanel" class="tab-pane" id="settings">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                            <legend>Unstock products</legend>
                                            <div id="unstock-product-list" class="col-md-12">
                                                <table id="list-grid3" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Product name</th>
                                                            <th>Quantity</th>
                                                            <th>Unstock Date</th>
                                                            <th>Location</th>
                                                        </tr>
                                                    </thead>

                                                    <tfoot>
                                                        <tr>
                                                            <th>Product name</th>
                                                            <th>Quantity</th>
                                                            <th>Unstock Date</th>
                                                            <th>Location</th>
                                                        </tr>
                                                    </tfoot>

                                                    <tbody>
                                                        <?php
                                                        if (count($this->unstockOrderData) > 0) {
                                                            foreach ($this->unstockOrderData as $unstock) {
                                                                ?>
                                                                <tr id="tr-<?php echo $unstock['id']; ?>">
                                                                    <td><?php echo $unstock['product_name']; ?></td>
                                                                    <td><?php echo $unstock['quantity']; ?></td>
                                                                    <td><?php echo $unstock['transaction_date']; ?></td>
                                                                    <td><?php echo $unstock['location_name']; ?></td>
                                                                </tr>
                                                                <?php
                                                            }
                                                        }
                                                        ?>

                                                    </tbody>
                                                </table> 
                                              </div>
                                            </fieldset>
                                        </div> 

                                    <div class="tab-form">
                                        <div class="row" style="padding-left:0px;"> 
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="tab-middle-main">
                                                    
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Remarks</label>
                                                        <textarea id="unstock_remark" name="unstock_remark" class="form-control" rows="2"><?php echo $orderData['unstock_remark']; ?></textarea>
                                                    </div>

                                                    <div class="clearfix"></div>

                                                    <?php  if (count($this->returnProductList) > 0) {
                                                        $style="block";                                                        
                                                    }else {
                                                        $style="none";
                                                    }
?>
                                                    <div class="form-group" id="ret_autofill" style="display:<?php echo $style; ?>">
                                                        <button type="button" onclick="PurchaseOrder.AutofillReturnProducts();" class="btn btn-warning">Auto fill</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab panes End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<script>
    $(document).ready(function() {
        PurchaseOrder.calculateTax(<?php echo $this->id; ?>);
        
        <?php if($orderData['ship_req']==1){ ?>
            PurchaseOrder.addShipping();
        <?php } ?>
        
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[1, "desc"]],
            "columnDefs": [ { orderable: false, targets: [0,7] }]
        });
        
        $('#list-grid1').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [5] }]
        });
        
        $('#list-grid2').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [7] }]
        });
        
        $('#list-grid3').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        
        $("#order_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate:0
        });
        
        $("#due_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate:0
        });
        
        $("#ship_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate:0
        });
        
    $("#receive_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate:0
        });
        
    $("#ret_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate:0
        });
        
    });
    
    $(document).ready(function() {
        PurchaseOrder.CancelledCheck();
    });
</script>