<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>List of Purchase</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button onclick="PurchaseOrder.Add();" id="addNew"class="btn btn-info" type="button">
                                Create purchase order
                            </button>
                        </div>
                    </div> 
                </div>
                
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Order date</th>
                            <th>Status</th>
                            <th>Payment status</th>
                            <th>Vendor</th>
                            <th>Vendor order#</th>
                            <th>Location</th>
                            <th>Ship date#</th>
                            <th>Vendor Order#</th>
                            <th>Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Order#</th>
                            <th>Order date</th>
                            <th>Status</th>
                            <th>Payment status</th>
                            <th>Vendor</th>
                            <th>Vendor order#</th>
                            <th>Location</th>
                            <th>Ship date#</th>
                            <th>Due Date</th>
                            <th>Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->purchaseData) > 0) {
                            foreach ($this->purchaseData as $purchase) {
                                ?>
                                <tr id="tr-<?php echo $purchase['id']; ?>">
                                    <td><?php echo $purchase['po_id']; ?></td>
                                    <td><?php echo $purchase['po_date']; ?></td>
                                    <td><?php echo $purchase['order_status']; ?></td>
                                    <td><?php echo $purchase['payment_status']; ?></td>
                                    <td><?php echo $purchase['vendor_name']; ?></td>
                                    <td><?php echo $purchase['v_order']; ?></td>
                                    <td><?php echo $purchase['location']; ?></td>
                                    <td><?php echo $purchase['ship_date']; ?></td>
                                    <td><?php echo $purchase['due_date']; ?></td>
                                    <td><?php echo $purchase['total_amount']; ?></td>
                                    <td><?php echo $purchase['paid_amount']; ?></td>
                                    <td><?php echo $purchase['balance']; ?></td>
                                    <td>
                                        <a htef="#" onclick="PurchaseOrder.Edit(<?php echo $purchase['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
                                       
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>


<script>
                $(document).ready(function() {
                    $('#list-grid').dataTable({
                        "processing": true,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "order": [[0, "desc"]],
                        columnDefs: [
                            { type: 'natural', targets: 0 }
                          ]
                    });
                });

</script>
