<?php $orderData = $this->orderMasData; ?>

<div class="row " style="margin:0px;">
    <div class="col-md-12">
        <div class="page-header" style="margin:0 0 10px 0;">
            <div class="row">
                <div class="col-md-6" style="margin-top:10px;">
                    <img src="/img/blue_chip_logo.png"  width="120px"><br><br>
                    <span>
                        <strong><?php echo $this->companyInfo['name']; ?></strong><br>
                        <?php echo nl2br($this->companyInfo['address']); ?>-
                        <?php echo $this->companyInfo['zip_code']; ?><br>
                        <?php echo $this->companyInfo['website']; ?><br>
                        <b>Phone:</b> <?php echo $this->companyInfo['phone']; ?><br>
                        <b>Email:</b> <?php echo $this->companyInfo['email']; ?>
                    </span>
                </div>
                <div class="col-md-6 btn-top-right" style="color:#e96739;"><h2>PURCHASE ORDER</h2></div>
            </div>  
            <div class="btn-top-right">
                <button type="button" class="btn btn-success" onclick="window.print();">Print</button>
            </div>
        </div>  
        
    </div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-bordered" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td><b>Vendor Address</b></td>
                    <td colspan="2">
                        <?php echo $orderData['vendor_name']; ?>
                    </td>
                    <td></td>
                    <td><b>Order</b></td>
                    <td><?php echo $orderData['po_id']; ?></td>
                </tr>
                <tr>
                    <td><b>Vendor Address</b></td>
                    <td colspan="2">
                        <?php echo $orderData['vendor_address']; ?><br>
                        <?php echo $orderData['address_type']; ?>
                    </td>
                    <td></td>
                    <td><b>Order Date</b></td>
                    <td><?php echo $orderData['po_date']; ?></td>
                </tr>
                <tr>
                    <td><b>Contact</b></td>
                    <td colspan="2"><?php echo $orderData['vendor_contact']; ?></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td colspan="2"><?php echo $orderData['vendor_phone']; ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Requested Ship Date</b></td>
                    <td colspan="2"><?php echo $orderData['req_shipping_date']; ?></td>
                    <td></td>
                    <td><b>Payment term</b></td>
                    <td><?php echo $orderData['term']; ?></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Vendor product code</th>
                    <th class="talign-right">Quantity</th>
                    <th class="talign-right">Location</th>

                </tr>
            </thead>

            <tbody>
                <?php
                if (count($this->productList) > 0) {
                    foreach ($this->productList as $productList) {
                        ?>
                        <tr>                          
                            <td><?php echo $productList['product_name']; ?></td>
                            <td><?php echo $productList['vendor_product_code']; ?></td>
                            <td class="talign-right"><?php echo $productList['quantity']; ?></td>
                            <td class="talign-right"><?php echo $productList['location_name']; ?></td>
                        </tr>
                        <?php
                    }
                }
                ?>

            </tbody>
        </table> 
    </div>
    <div class="col-md-4 btn-top-right" style="float: right;">
        <table id="list-grid" class="table" cellspacing="0" width="30%">
            <tbody>
                <tr>
                    <td><b>TOTAL Quantity</b></td>
                    <td ><?php echo $this->total_quantity; ?></td>
                </tr>

            </tbody>
        </table>


    </div>
</div>