<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="print" >
<link rel="stylesheet" href="/css/styles.css" type="text/css" media="print" >

<?php $orderData = $this->orderMasData; ?>
<div class="row " style="margin:0px;font-family: arial;font-size:12px;">
    <div class="col-md-12">
        <div class="page-header" style="margin:0 0 10px 0;">
            <div class="row">
                <div class="col-md-6 col-sm-9" style="margin-top:10px;">
                    <img src="/img/nix_logo.png">
                </div>
                <div class="col-md-6 col-sm-3 btn-top-right">
                    <span style="font-family: tahoma;font-size:9px; line-height: 11px;">
                        <?php echo nl2br($this->companyInfo['address']); ?>
                    </span>
                </div>
            </div>
        </div>        
    </div>
    
    <div class="col-md-12 text-center">
        <h2 style="margin:0px;"> Purchase Order <?php echo $orderData['po_id']; ?></h2>
    </div>
    
    <div class="col-md-12">
        <table id="list-grid" class="table" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" width="30px" align="right">Date:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"><b><?php echo $orderData['po_date']; ?></b></td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" width="100px" align="right">Ordered By:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"><b><?php echo $orderData['ordered_by']; ?></b></td>
                </tr>
                <tr>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" align="right">Job:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"><b><b></td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" align="right">Contact:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"><b><?php echo $orderData['vendor_contact']; ?></b></td>
                </tr>
                <tr>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" rowspan="3" align="right">Supplier:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" rowspan="3"><b>
                            <?php echo nl2br($orderData['vendor_address']); ?><br>
                            <?php echo $orderData['address_type']; ?>
                        </b>
                    </td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" align="right">Phone:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"><b><?php echo $orderData['vendor_phone']; ?></b></td>
                </tr>
                
                <tr>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" align="right">Fax</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"><b><?php echo $orderData['vendor_phone']; ?></b></td>
                </tr>
                <tr>
                    <td style="border-top: 0px solid #ddd;padding: 3px;" align="right">Reference:</td>
                    <td style="border-top: 0px solid #ddd;padding: 3px;"></td>
                </tr>
                
            </tbody>
        </table>

    </div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Product name</th>
                    <th class="talign-right">Quantity</th>
                    <th class="talign-right">Quoted price</th>
                    <th class="talign-right">Discount</th>
                    <th class="talign-right">Sub total</th>

                </tr>
            </thead>

            <tbody>
                <?php
                if (count($this->productList) > 0) {
                    foreach ($this->productList as $productList) {
                        ?>
                        <tr>                          
                            <td><?php echo $productList['vendor_product_code']; ?></td>
                            <td><?php echo $productList['product_name']; ?></td>
                            <td class="talign-right"><?php echo $productList['quantity']; ?></td>
                            <td class="talign-right"><?php echo $productList['unit_price']; ?></td>
                            <td class="talign-right"><?php echo $productList['discount']; ?></td>
                            <td class="talign-right"><?php echo $productList['sub_total']; ?></td>
                        </tr>
                        <?php
                    }
                }
                ?>

            </tbody>
        </table> 
    </div>
    
    
    <div class="col-md-12">
        <div class="col-md-4 btn-top-right" style="float: right;">
        <table id="list-grid" class="table table-bordered" cellspacing="0" width="30%">
            <tbody>
                <tr>
                    <td><b>Sub Total</b></td>
                    <td ><?php echo ($this->subtotal); ?></td>
                </tr>

                <?php
                $tax1 = '';
                $tax2 = '';
                if ($this->ship_req == 1) {
                    $showFreight = 'block';
                } else {
                    $showFreight = 'none';
                }
                if ($this->schemeData['tax_on_shipping'] == 0 && $this->schemeData['secondary_tax_on_shipping'] == 0) {
                    $tax1 = number_format($this->subtotal * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                    if ($this->schemeData['compound_secondary']) {
                        $total = $this->subtotal + $tax1;
                        $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    } else {
                        $tax2 = number_format($this->subtotal * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    }
                    ?>
                    <?php if ($this->schemeData['tax_name']) { ?>
                        <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                        </tr> 
                    <?php } if ($this->schemeData['secondary_tax_name']) { ?>

                        <tr>
                            <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                            <td ><?php echo $tax2; ?></td>
                        </tr>
                    <?php } ?>
                        <tr>
                            <td><b>Freight</b></td>
                            <td ><?php echo $this->freight; ?></td>
                        </tr>
                        <?php
                    } else if ($this->schemeData['tax_on_shipping'] == 1 && $this->schemeData['secondary_tax_on_shipping'] == 0) {
                        $tax1 = number_format(($this->subtotal + $this->freight ) * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                        if ($this->schemeData['compound_secondary']) {
                            $total = $this->subtotal + $tax1;
                            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        } else {
                            $tax2 = number_format($this->subtotal * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        }
                        ?>
                        <?php if ($this->schemeData['secondary_tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                            <td ><?php echo $tax2; ?></td>
                            </tr>
                        <?php } ?>
                        <tr >
                        <td><b>Freight</b></td>
                        <td ><?php echo $this->freight; ?></td>
                    </tr>

                    <?php if ($this->schemeData['tax_name']) { ?>
                        <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                        </tr>
                    <?php } ?>

                    <?php
                } else if ($this->schemeData['tax_on_shipping'] == 1 && $this->schemeData['secondary_tax_on_shipping'] == 1) {
                    $total = $this->subtotal + $this->freight;
                    $tax1 = number_format($total * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                    if ($this->schemeData['compound_secondary']) {
                        $total = $total + $tax1;
                        $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    } else {
                        $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    }
                    ?>
                    <tr>
                        <td><b>Freight</b></td>
                        <td ><?php echo $this->freight; ?></td>
                        </tr>
                        <?php if ($this->schemeData['tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                            </tr>
                        <?php } if ($this->schemeData['secondary_tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                            <td ><?php echo $tax2; ?></td>
                            </tr>
                        <?php } ?>
                        <?php
                    } else if ($this->schemeData['tax_on_shipping'] == 0 && $this->schemeData['secondary_tax_on_shipping'] == 1) {
                        $total = $this->subtotal + $this->freight;
                        $tax1 = number_format($this->subtotal * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                        if ($this->schemeData['compound_secondary']) {
                            $total = $total + $tax1;
                            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        } else {
                            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        }
                        ?>
                        <?php if ($this->schemeData['tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                            </tr>
                        <?php } ?>
                        <tr>
                        <td><b>Freight</b></td>
                        <td ><?php echo $this->freight; ?></td>
                    </tr>

                    <tr>
                        <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                        <td ><?php echo $tax2; ?></td>
                    </tr>

                    <?php
                }
                $totalWithTax = number_format($this->subtotal + $tax1 + $tax2 + $this->freight, 2, '.', '');
                ?>

                <tr>
                    <td><b>TOTAL</b></td>
                    <td ><?php echo $totalWithTax; ?></td>
                </tr>

            </tbody>
        </table>


    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
         <br>
    </div>
    <div class="col-md-12">
        <table width="100%">
            <tbody>
                <tr>                          
                    <td align="center">
                        <div class="col-md-12">
                            <strong>
                            Delivery to be not later than <?php echo $this->general()->ValidateNullDate($orderData['due_date']); ?>
                        </strong>  
                       </div>
                    </td>  
                </tr>
                <tr>                          
                    <td>
                        <h4>Notes:</h4>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>  
                </tr>
                <tr>                          
                    <td>
                        <div class="col-md-12">
                            <h4>Conditions of Purchase:</h4>
                       </div>
                        <div class="col-md-12">
                           <p>1. If delivery of service cannot be effected in accordance with these instructions please notify immediately.</p>
                           <p>2. Nix Sheet Metal Engineering reserves the right to cancel this purchase order if delivery of service is not completed within the time specified. Nix Sheet Metal Engineering only obligation shall be to pay for the goods delivered prior to cancellation.</p>
                           <p>3. Materials differing in quality, quality or price will not be accepted without Nix Sheet Metal Engineerings prior written approval.</p>
                       </div> 
                    </td>  
                </tr>
            </tbody>
        </table> 
    </div>
</div>