<?php
$form = $this->form;
if($this->balance < 0 ){
    $form->payment_type->setValue('refund');
} else {
    $form->payment_type->setValue('payment');
}

?>
<div>
    <fieldset>
        <legend>Payment</legend>
        <div class="col-md-2">
            <div class="form-group">                          
                <label class="required"><?php echo $form->payment_method_id->renderLabel() ?></label>
                <?php echo $form->id->renderViewHelper(); ?>
                <?php echo $form->payment_method_id->renderViewHelper(); ?>
                <?php echo $form->payment_method_id->renderErrors(); ?>
                <input id="sales_payment_order_id" type="hidden" class="form-control" value="" placeholder="" />
                <div id="methoderror" class="error-inner"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label><?php echo $form->payment_ref->renderLabel() ?></label>
                <?php echo $form->id->renderViewHelper(); ?>
                <?php echo $form->payment_ref->renderViewHelper(); ?>
                <?php echo $form->payment_ref->renderErrors(); ?>
                <div id="referror" class="error-inner"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label><?php echo $form->payment_type->renderLabel() ?></label>
                <?php echo $form->id->renderViewHelper(); ?>
                <?php echo $form->payment_type->renderViewHelper(); ?>
                <?php echo $form->payment_type->renderErrors(); ?>
                <div id="typeerror" class="error-inner"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label class="required"><?php echo $form->payment_date->renderLabel() ?></label>
                <?php echo $form->id->renderViewHelper(); ?>
                <?php echo $form->payment_date->renderViewHelper(); ?>
                <?php echo $form->payment_date->renderErrors(); ?>
                <div id="dateerror" class="error-inner"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label><?php echo $form->payment_remarks->renderLabel() ?></label>
                <?php echo $form->id->renderViewHelper(); ?>
                <?php echo $form->payment_remarks->renderViewHelper(); ?>
                <?php echo $form->payment_remarks->renderErrors(); ?>
                <div id="remarkserror" class="error-inner"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label class="required"><?php echo $form->payment_amount->renderLabel() ?></label>
                <?php echo $form->id->renderViewHelper(); ?>
                <?php echo $form->payment_amount->renderViewHelper(); ?>
                <?php echo $form->payment_amount->renderErrors(); ?>
                <div id="amounterror" class="error-inner"></div>
            </div>
        </div>
        <div class="col-md-12 mb-12">
            <button type="button"  onclick="PurchaseOrder.AddPurchaseOrderPayment();" class="btn btn-success">Add Payment</button>
            <br>
        </div>
    </fieldset>
</div>
<div id="payment-list" style=" width: 99%;">
    <table style="margin-left:20px" id="list-grid7" class="table table-striped table-bordered" cellspacing="0" width="95%">
        <thead>
            <tr>
                <th>Payment Date</th>
                <th>Payment Type</th>
                <th>Payment Method</th>
                <th>Payment Ref</th>
                <th>Payment Remarks</th>
                <th>Payment Amount</th>
                <th>Action</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Payment Date</th>
                <th>Payment Type</th>
                <th>Payment Method</th>
                <th>Payment Ref</th>
                <th>Payment Remarks</th>
                <th>Payment Amount</th>
                <th>Action</th>
            </tr>
        </tfoot>

        <tbody>
            <?php
            if (count($this->paymentList) > 0) {
                foreach ($this->paymentList as $paymentList) {
                    ?>
                    <tr id="tr-<?php echo $paymentList['id']; ?>">
                        <td><?php echo $paymentList['payment_date']; ?></td>
                        <td><?php echo $paymentList['payment_type']; ?></td>
                        <td><?php echo $paymentList['payment_method_name']; ?></td>
                        <td><?php echo $paymentList['payment_ref']; ?></td>
                        <td><?php echo $paymentList['payment_remarks']; ?></td>
                        <td><?php echo $paymentList['amount']; ?></td>
                        <td>
                            <a htef="#" onclick="PurchaseOrder.editPurchaseOrderPayment(<?php echo $paymentList['id']; ?>);"> 
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                            </a>
                            <a htef="#" onclick="PurchaseOrder.deletePurchaseOrderPayment(<?php echo $paymentList['id']; ?>,<?php echo $paymentList['order_id']; ?>);"> 
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                            </a>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>

        </tbody>
    </table>
    <div>
        <div class="form-group">
            <?php 
            if($this->purchaePaymentStatus == 'Paid') { ?>
            <button type="button" onclick="PurchaseOrder.IssueRefund();" class="btn btn-warning">Issue Refund</button>
           <?php  }
            else { ?>
                <button type="button" onclick="PurchaseOrder.PayOrderPopup();" class="btn btn-success">Pay Order Balance</button>
         <?php   }
            ?>
        </div>
    </div>
    <div class="tab-form-right">
        <div class="col-md-2 col-md-offset-10" >
            Total Paid:<input type="text" class="form-control" readonly="true" id="total_paid" value="<?php echo number_format($this->paid_amount,2, '.', ''); ?>"/>
            Balance:<input type="text" class="form-control" readonly="true"  id="payment_balance" value="<?php echo number_format($this->balance,2,'.',''); ?>"/>
            Ordered Total:<input type="text" readonly="true" class="form-control" id="paid_total" value="<?php echo number_format($this->order_total,2,'.',''); ?>"/>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list-grid7').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        $("#payment_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate:0
        });
    });
</script>