
<table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->fulfilledOrderData) > 0) {
            foreach ($this->fulfilledOrderData as $productFulfilled) {
                ?>
                <tr id="tr-<?php echo $productFulfilled['id']; ?>">
                    <td><?php echo $productFulfilled['product_name']; ?></td>
                    <td><?php echo $productFulfilled['quantity']; ?></td>
                    <td><?php echo $productFulfilled['location_name']; ?></td>
                    <td>
                        <a htef="#" onclick="SalesOrder.editFulfillProduct(<?php echo $productFulfilled['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>
                        <a htef="#" onclick="SalesOrder.deleteFulfillProduct(<?php echo $productFulfilled['id']; ?>,<?php echo $productFulfilled['order_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
           $('#list-grid1').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        });
</script>