<table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Vendor product code</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Receive Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product name</th>
            <th>Vendor product code</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Receive Date</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->receivedOrderData) > 0) {
            foreach ($this->receivedOrderData as $productReceived) {
                ?>
                <tr id="tr-<?php echo $productReceived['id']; ?>">
                    <td><?php echo $productReceived['product_name']; ?></td>
                    <td><?php echo $productReceived['vendor_product_code']; ?></td>
                    <td><?php echo $productReceived['quantity']; ?></td>
                    <td><?php echo $productReceived['location_name']; ?></td>
                    <td><?php echo $productReceived['transaction_date']; ?></td>
                    <td>
                        <a htef="#" onclick="PurchaseOrder.editReceiveProduct(<?php echo $productReceived['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>
                        <a htef="#" onclick="PurchaseOrder.deleteReceiveProduct(<?php echo $productReceived['id']; ?>,<?php echo $productReceived['order_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid1').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [5] }]
            });
        });
</script>