
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
             <th>Product name</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Sub total</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Sub total</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productList) > 0) {
            foreach ($this->productList as $productList) {
                ?>
                <tr id="tr-<?php echo $productList['id']; ?>">
                    <td><?php echo $productList['product_name']; ?></td>
                    <td><?php echo $productList['quantity']; ?></td>
                    <td><?php echo $productList['unit_price']; ?></td>
                    <td><?php echo $productList['discount']; ?></td>
                    <td><?php echo $productList['sub_total']; ?></td>
                    <td>
                        <a htef="#" onclick="SalesOrder.editProduct(<?php echo $productList['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>
                        <a htef="#" onclick="SalesOrder.deleteProduct(<?php echo $productList['id']; ?>,<?php echo $productList['order_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [5] }]
            });
        });
        

</script>