
<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<form id="frmorder"  enctype="application/x-www-form-urlencoded" action="/sales-order/add"
     onsubmit="return SalesOrder.ValidateOrder();"  method="POST"> 
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button onclick="SalesOrder.Add();" type="button" class="btn btn-default li1">New</button>
                        <button type="submit" class="btn btn-default li2">Save</button> 
                        <button type="button"  onclick="SalesOrder.GoToList();" class="btn btn-default li9 font-bold">Back to Order List</button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="main-left">
                            <div class="form-group">
                                <label for="exampleInputName2">Customer</label>
                                <input name="id" type="hidden" class="form-control" id="id" >
                                <select name="customer_id" onchange="SalesOrder.getcustomerDetails();" id="customer_id" class="left-texts custom-select">
                                    <option value="">Please Select</option>
                                    <?php foreach ($this->customers as $customer) { ?>      
                                        <option value="<?php echo $customer['id']; ?>"><?php echo $customer['name']; ?></option>
                                    <?php } ?>
                                </select>
                                <div id="cusError" class="error-inner"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Contact</label>
                                <input name="contact" type="text" class="form-control" id="customer_contact" placeholder="">
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Phone</label>
                                <input name="phone" type="text" class="form-control" id="phone" placeholder="">
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Customer Address</label>
                                <textarea name="customer_address" id="customer_address" class="form-control" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-offset-2">
                        <div class="form-group" id="terms_div" style="display:none;">
                            <label for="exampleInputName2">Terms</label>
                            <select name="terms" id="terms" class="left-texts  custom-select">
                                <option value="">Select Terms</option>
                                <?php foreach ($this->terms as $terms) { ?>                                
                                    <option value="<?php echo $terms['id']; ?>"><?php echo $terms['name']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group" id="vorder_div" style="display:none;">
                            <label for="exampleInputEmail2">P.O #</label>
                            <input name="p_order" type="text" class="form-control" id="p_order" placeholder="">

                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2 ">Sales Rep</label>
                            <select name="sales_reps" id="sales_reps" class="left-texts  custom-select">
                                <option value="">Select Rep</option>
                                <?php foreach ($this->reps as $reps) { ?>                                
                                    <option value="<?php echo $reps['id']; ?>"><?php echo $reps['name']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2 ">Location</label>
                            <select name="location_id" id="location_id" class="left-texts  custom-select">
<!--                                <option value="">Select Location</option>-->
                                <?php foreach ($this->locations as $location) { ?>                                
                                    <option value="<?php echo $location['id']; ?>"><?php echo $location['name']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-md-offset-2">
                        <div class="form-right">
                            <div class="form-group">
                                <label for="exampleInputName2">Order#</label>
                                <input name="order_id" readonly="true" type="text" class="form-control" id="order_id" placeholder="">
                                <div id="order_error" class="error-inner"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Order Date</label>
                                <input value="<?php echo date('d/m/Y')?>" name="order_date" type="text" class="form-control" id="order_date" readonly>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Status</label>
                                <input name="status" value="Unfulfilled, Uninvoiced" class="form-control" id="disabledInput" type="text" id="status" disabled>
                            </div>

                            <div class="clearfix"></div>

                            <div id="ship_address" class="form-group" style="display:none;">
                                <label for="exampleInputEmail2">Ship-To Address <br>
                                    <a href="#" onclick="SalesOrder.noShipping();">No shipping</a>
                                    <input value="0" class="form-control" type="hidden" id="ship_req">
                                </label>
                                <textarea name="ship_to_address"  id="shipping_address" class="form-control" rows="2"></textarea>
                            </div>

                            <div id="add_address" class="form-group">
                                <label for="exampleInputEmail2"></label>
                                <a href="#" onclick="SalesOrder.addShipping();">Add shipping</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sales</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Fulfilled</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Return</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Restock</a></li>
                                <!--                                <li role="presentation"><a href="#setting" aria-controls="setting" role="tab" data-toggle="tab"></a></li>-->
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Add products</legend>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Item</label>

                                                        <input id="sales_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        <select class="left-texts custom-select" id="product_code" name="product_code" onchange="SalesOrder.getProductData();">
                                                            <option value="">Please Select</option>
                                                            <?php foreach ($this->productData as $products) { ?>                                
                                                                <option value="<?php echo $products['id']; ?>"><?php echo $products['name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                        <input type="hidden" id="hidden_quantity">
                                                        <div id="perror" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="quantity" type="text" class="form-control" value='' onchange=" SalesOrder.calcSubTotal();" placeholder="Add Quantity" />
                                                        <div id="qtyerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Unit price</label>
                                                        <input id="unit_price" type="text" class="form-control" value='' onchange=" SalesOrder.calcSubTotal();" placeholder="Add Cost" />
                                                        <div id="cerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Discount</label>
                                                        <input id="discount" type="text" class="form-control" value='' onchange=" SalesOrder.calcSubTotal();" placeholder="Add Discount" />
                                                        <div id="diserror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Sub Total</label>
                                                        <input id="sub_total" type="text" class="form-control" value='' readonly />
                                                        <div id="subTotError" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 mt-20">
                                                    <button type="button"  onclick="SalesOrder.AddProduct();" class="btn btn-success">Add Product</button>
                                                    <br>
                                                </div>

                                                <div id="product-list">
                                                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Item</th>
                                                                <th>Quantity</th>
                                                                <th>Unit price</th>
                                                                <th>Discount</th>
                                                                <th>Sub total</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Item</th>
                                                                <th>Quantity</th>
                                                                <th>Unit price</th>
                                                                <th>Discount</th>
                                                                <th>Sub total</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <?php
//                                                    var_dump($this->productList);die;
                                                            if (count($this->productList) > 0) {
                                                                foreach ($this->productList as $productList) {
                                                                    ?>
                                                                    <tr id="tr-<?php echo $productList['id']; ?>">
                                                                        <td><?php echo $productList['product_name']; ?></td>
                                                                        <td><?php echo $productList['quantity']; ?></td>
                                                                        <td><?php echo $productList['unit_price']; ?></td>
                                                                        <td><?php echo $productList['discount']; ?></td>
                                                                        <td><?php echo $productList['sub_total']; ?></td>
                                                                        <td>
                                                                            <a htef="#" onclick="SalesOrder.editProduct(<?php echo $productList['id']; ?>);"> 
                                                                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                            </a>
                                                                            <a htef="#" onclick="SalesOrder.deleteProduct(<?php echo $productList['id']; ?>,<?php echo $productList['order_id']; ?>);"> 
                                                                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </fieldset>
                                        </div> 

                                        <div class="tab-form">
                                            <div class="row" style="padding-left:0px;">
                                                <div class="col-md-3 col-sm-5 col-xs-3">
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Non Customer
                                                            Cost</label>
                                                        <input name="non_customer_costs" type="text" class="form-control" id="non_vendor_cost" placeholder="">


                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="form-group">
                                                        <label>Due Date</label>
                                                        <input name="due_date" type="text" class="form-control" id="due_date" placeholder="">
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Taxing Scheme</label>
                                                        <select name="taxing_scheme" onchange="SalesOrder.calculateTax();" class="left-texts custom-select" id="taxing_scheme">
                                                            <option value="">Please Select</option>
                                                            <?php foreach ($this->taxingSchemes as $taxingSchemes) { ?>                                
                                                                <option value="<?php echo $taxingSchemes['id']; ?>"><?php echo $taxingSchemes['tax_scheme_name']; ?></option>
                                                            <?php } ?>
                                                        </select>


                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Currency</label>
                                                        <select name="pricing_currency" class="left-texts custom-select" id="currency_id">
                                                            <option value="">Select Currency</option>
                                                            <?php foreach ($this->currency as $currency) { ?>                                
                                                                <option value="<?php echo $currency['id']; ?>"><?php echo $currency['name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-6 col-md-offset-2">
                                                    <div class="tab-middle-main">
                                                        <div class="form-group">
                                                            <label for="exampleInputName2">Req. Ship Date</label>
                                                            <input name="req_shipping_date" type="text" class="form-control" id="ship_date" placeholder="">


                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Remarks</label>
                                                            <textarea name="remarks" id="remarks" class="form-control" rows="2"></textarea>
                                                        </div>

                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1" id="totals_div">

                                                    <div class="tab-form-right">  
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Sub-Total</label>
                                                            <input name="sub_total" type="text" class="form-control" id="sub_total_products" value="<?php echo ($this->subTotal) ? $this->subTotal : '0.00'; ?>">
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Total</label>
                                                            <input name="total_amount" type="text" class="form-control" id="total_amount" value="<?php echo ($this->subTotal) ? $this->subTotal : '0.00'; ?>">
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2"></label>
                                                            <input name="paid_amount" type="text" class="form-control" id="paid_amount" value="0.00">
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Balance</label>
                                                            <input name="balance" type="text" class="form-control" id="balance" value="<?php echo $this->subTotal; ?>">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Tab 2-->
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Add Fulfill products</legend>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Product name</label>

                                                        <input id="rec_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        <select class="left-texts custom-select" id="rec_product_code" name="rec_product_code" onchange="SalesOrder.getProductData();">
                                                            <option value="">Please Select</option>
                                                            <?php foreach ($this->fulfillproductData as $products) { ?>                                
                                                                <option value="<?php echo $products['id']; ?>" ><?php echo $products['product_name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                        <div id="rperror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="rec_quantity" type="text" class="form-control" value='' onchange="SalesOrder.calcSubTotal();" placeholder="Add Quantity" />
                                                        <div id="rqtyerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2 ">Location</label>
                                                        <select id="receive_location_id" name="receive_location_id" class="left-texts  custom-select">
                                                            <option value="">Select Location</option>
                                                            <?php foreach ($this->locations as $location) { ?>                                
                                                                <option value="<?php echo $location['id']; ?>" ><?php echo $location['name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                        <div id="rlerror" class="error-inner"></div>
                                                    </div>
                                                </div>
<!--                                                <div class="col-md-2 mb-10 mt-20">
                                                    <button type="button"  onclick="SalesOrder.AddFulfillProduct();" class="btn btn-success">Add Product</button>
                                                    <br>
                                                </div>-->

                                                <div id="receive-product-list" class="col-md-12">
                                                    <table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Location</th>                      
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Location</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <?php
                                                            if (count($this->fulfilledOrderData) > 0) {
                                                                foreach ($this->fulfilledOrderData as $productFulfilled) {
                                                                    ?>
                                                                    <tr id="tr-<?php echo $productFulfilled['id']; ?>">
                                                                        <td><?php echo $productFulfilled['product_name']; ?></td>
                                                                        <td><?php echo $productFulfilled['quantity']; ?></td>
                                                                        <td><?php echo $productFulfilled['location_name']; ?></td>
                                                                        <td>
                                                                            <a htef="#" onclick="SalesOrder.editFulfillProduct(<?php echo $productFulfilled['id']; ?>);"> 
                                                                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                            </a>
                                                                            <a htef="#" onclick="SalesOrder.deleteFulfillProduct(<?php echo $productFulfilled['id']; ?>,<?php echo $productFulfilled['order_id']; ?>);"> 
                                                                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </fieldset>
                                        </div> 

                                        <div class="tab-form">
                                            <div class="row" style="padding-left:0px;"> 
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <div class="tab-middle-main">

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Remarks</label>
                                                            <textarea id="receive_remark" name="fulfilled_remarks" class="form-control" rows="2"></textarea>
                                                        </div>

                                                        <div class="clearfix"></div>

<!--                                                        <div class="form-group">
                                                            <button type="button" <?php //if ($this->receiveQty == 0) {   ?>onclick="SalesOrder.AutofillFulfillProducts();" <?php // }   ?> class="btn btn-warning">Auto fill</button>
                                                        </div>-->
                                                    </div>
                                                </div>


                                                <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-2" id="qty_div">

                                                    <div class="tab-form-right">  
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Total Ordered</label>
                                                            <input type="text" readonly class="form-control"  id="total_ordered" name="total_ordered" value="<?php echo ($this->orderQty) ? $this->orderQty : 0; ?>">
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Total Received</label>
                                                            <input type="text" readonly class="form-control" id="total_received" name="total_received" value="<?php echo ($this->fulfillQty) ? $this->fulfillQty : 0; ?>">
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab 3-->
                                <div role="tabpanel" class="tab-pane" id="messages"> 
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Return Product</legend>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Product name</label>

                                                        <input id="ret_product_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        <select class="left-texts custom-select" id="ret_product_code" name="ret_product_code" onchange="PurchaseOrder.getProductData();">
                                                            <option value="">Please Select</option>
                                                            <?php foreach ($this->productData as $products) { ?>                                
                                                                <option value="<?php echo $products['id']; ?>" ><?php echo $products['name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                        <div id="ret_perror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="ret_quantity" type="text" class="form-control" value='0' onchange="PurchaseOrder.calcRetTotal();" placeholder="Add Quantity" />
                                                        <div id="ret_qtyerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Return Date</label>
                                                        <input id="ret_date" type="text" class="form-control" value='' placeholder="Add Date" />
                                                        <div id="ret_dateerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Unit price</label>
                                                        <input id="ret_unit_price" type="text" class="form-control" value='0.00' onchange="PurchaseOrder.calcRetTotal();" placeholder="Add Cost" />
                                                        <div id="ret_cerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Discount</label>
                                                        <input id="ret_discount" type="text" class="form-control" value='0.00' onchange="PurchaseOrder.calcRetTotal();" placeholder="Add Discount" />
                                                        <div id="ret_diserror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Sub Total</label>
                                                        <input id="ret_sub_total" type="text" class="form-control" value='0.00' readonly />
                                                        <div id="ret_subTotError" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 mt-20">
                                                    <div class="form-group">
                                                        <label>Discarded</label>
                                                        <input id="discarded" type="checkbox" class="form-control" value=''/>
                                                        <div id="" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-10">
                                                    <button type="button"  onclick="SalesOrder.AddReturnProduct();" class="btn btn-success">Add Product</button>
                                                    <br>
                                                </div>

                                                <div id="ret-product-list">
                                                    <table id="list-grid2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Return Date</th>
                                                                <th>Unit price</th>
                                                                <th>Discount</th>
                                                                <th>Sub total</th>
                                                                <th>Item Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Return Date</th>
                                                                <th>Unit price</th>
                                                                <th>Discount</th>
                                                                <th>Sub total</th>
                                                                <th>Item Status</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <?php
                                                            if (count($this->returnProductList) > 0) {
                                                                foreach ($this->returnProductList as $retProductList) {
                                                                    ?>
                                                                    <tr id="tr-<?php echo $retProductList['id']; ?>">
                                                                        <td><?php echo $retProductList['product_name']; ?></td>
                                                                        <td><?php echo $retProductList['quantity']; ?></td>
                                                                        <td><?php echo $retProductList['transaction_date']; ?></td>
                                                                        <td><?php echo $retProductList['unit_price']; ?></td>
                                                                        <td><?php echo $retProductList['discount']; ?></td>
                                                                        <td><?php echo $retProductList['sub_total']; ?></td>
                                                                        <td><?php echo $retProductList['item_status']; ?></td>
                                                                        <td>
                                                                            <a htef="#" onclick="SalesOrder.editReturnProduct(<?php echo $retProductList['id']; ?>);"> 
                                                                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                            </a>
                                                                            <a htef="#" onclick="SalesOrder.deleteReturnProduct(<?php echo $retProductList['id']; ?>,<?php echo $retProductList['order_id']; ?>);"> 
                                                                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </fieldset>
                                        </div> 

                                        <div class="tab-form">
                                            <div class="row" style="padding-left:0px;"> 
                                                <div class="col-md-7 col-sm-7 col-xs-7">
                                                    <div class="tab-middle-main">

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Remarks</label>
                                                            <textarea id="ret_remarks" name="ret_remarks" class="form-control" rows="2"></textarea>
                                                        </div>

                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-info">Save</button>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-2" id="qty_div">

                                                    <div class="tab-form-right">  
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Sub total</label>
                                                            <input type="text" readonly class="form-control"  onchange="SalesOrder.calcRetNetTotal();" id="ret_net_sub_total" name="ret_net_sub_total" value="<?php echo ($this->returnSubTotal) ? $this->returnSubTotal : '0.00' ?>">
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Fee</label>
                                                            <input type="text" class="form-control" onchange="SalesOrder.calcRetNetTotal();" id="ret_fee" name="ret_fee" value="0.00">
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Total</label>
                                                            <input type="text" readonly class="form-control" id="ret_total" name="ret_total" value="0.00">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  Tab 4 starts here   -->
                                <div role="tabpanel" class="tab-pane" id="settings">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Restock products</legend>
                                                <div id="unstock-product-list">
                                                    <table id="list-grid3" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Location</th>
                                                                <th>Restock Date</th>

                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Location</th>
                                                                <th>Restock Date</th>

                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <?php
                                                            if (count($this->restockOrderData) > 0) {
                                                                foreach ($this->restockOrderData as $restock) {
                                                                    ?>
                                                                    <tr id="tr-<?php echo $restock['id']; ?>">
                                                                        <td><?php echo $restock['product_name']; ?></td>
                                                                        <td><?php echo $restock['quantity']; ?></td>
                                                                        <td><?php echo $restock['location_name']; ?></td>
                                                                        <td><?php echo $restock['transaction_date']; ?></td>
                                                                    </tr>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </fieldset>
                                        </div> 

                                        <div class="tab-form">
                                            <div class="row" style="padding-left:0px;"> 
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="tab-middle-main">

                                                        <div class="form-group">
                                                            <label for="exampleInputEmail2">Remarks</label>
                                                            <textarea id="restock_remark" name="restock_remark" class="form-control" rows="2"></textarea>
                                                        </div>

                                                        <div class="clearfix"></div>

<!--                                                        <div class="form-group" id="ret_autofill">
                                                            <button type="button" onclick="SalesOrder.AutofillReturnProducts();" class="btn btn-warning">Auto fill</button>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab panes End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        $('#list-grid1').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        $('#list-grid2').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
        $('#list-grid3').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });

        // Populate product dropdown
//        $('#product_code').immybox({
//            choices: <?php //echo $this->productData; ?>
//            ,
//            defaultSelectedValue: '1'
//        });

        $("#order_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });

        $("#ret_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });
        $("#due_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });

        $("#ship_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });

    });
    $("#currency_id").change(function () {
        var currency_id = $("#currency_id").val();
        if (currency_id) {
            $.ajax({
                type: 'POST',
                url: "/pricing-currency/make-default-pricing-currency",
                data: {id: currency_id},
                beforeSend: function ()
                {
                    $.blockUI({message: '<h1>Please Wait...</h1>'});
                },
                success: function (data)
                {
                    $(document).ajaxStop($.unblockUI);
//                    document.location.href = '/sales-order/add';
                    $("#currency_id").val(currency_id);
                    $('#product-list').fadeTo(500, .5, function() {
                    $(this).html(data).fadeTo(500, 1);
                        SalesOrder.getPricingUnitPrice();
                    });   
                }
            });
        }
    });
</script>