<table id="list-grid3" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Return Date</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Sub total</th>
            <th>Item Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Return Date</th>
            <th>Unit price</th>
            <th>Discount</th>
            <th>Sub total</th>
            <th>Item Status</th>
            <th>Action</th>
        </tr>
    </tfoot>
    <tbody>
        <?php
        if (count($this->returnOrderData) > 0) {
            foreach ($this->returnOrderData as $retProductList) {
                ?>
                <tr id="tr-<?php echo $retProductList['id']; ?>">
                    <td><?php echo $retProductList['product_name']; ?></td>
                    <td><?php echo $retProductList['quantity']; ?></td>
                    <td><?php echo $retProductList['transaction_date']; ?></td>
                    <td><?php echo $retProductList['unit_price']; ?></td>
                    <td><?php echo $retProductList['discount']; ?></td>
                    <td><?php echo $retProductList['sub_total']; ?></td>
                    <td><?php echo $retProductList['item_status']; ?></td>
                    <td>
                        <a htef="#" onclick="SalesOrder.editReturnProduct(<?php echo $retProductList['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>
                        <a htef="#" onclick="SalesOrder.deleteReturnProduct(<?php echo $retProductList['id']; ?>,<?php echo $retProductList['order_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>                                           
</table>
<script>
    $(document).ready(function () {
        $('#list-grid3').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [7] }]
        });
    });
</script>