<table id="list-grid3" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Restock Date</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Restock Date</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->restockOrderData) > 0) {
            foreach ($this->restockOrderData as $restockProduct) {
                ?>
                <tr id="tr-<?php echo $restockProduct['id']; ?>">
                    <td><?php echo $restockProduct['product_name']; ?></td>
                    <td><?php echo $restockProduct['quantity']; ?></td>
                    <td><?php echo $restockProduct['location_name']; ?></td>
                    <td><?php echo $restockProduct['transaction_date']; ?></td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid3').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [3] }]
            });
        });
</script>