
<div class="tab-form-right">  
    <div class="form-group">
        <label for="exampleInputEmail2">Sub-Total</label>
        <input name="sub_total" type="text" class="form-control" id="sub_total_products" value="<?php echo ($this->subtotal);?>">
        <input type="hidden" id="order_id" value="<?php echo $this->order_id; ?>">
    </div>
    <div class="clearfix"></div>
    
    <div class="clearfix"></div>

     <?php 
    $tax1 = '';
    $tax2 = '';
    if($this->ship_req == 1){
        $showFreight = 'block';
    } else {
        $showFreight = 'none';
    }
    if($this->schemeData['tax_on_shipping'] == 0 && $this->schemeData['secondary_tax_on_shipping'] == 0) {  
        $tax1 = number_format($this->subtotal * $this->schemeData['tax_rate']/100,2, '.', '');
        if($this->schemeData['compound_secondary']){
            $total = $this->subtotal + $tax1;
            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } else {
            $tax2 = number_format($this->subtotal * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        }        
    ?>
    <?php if($this->schemeData['tax_name']){ ?>
    <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['tax_name']; ?> </label>
        <input name="tax1" type="text" class="form-control" id="tax1" value="<?php echo $tax1; ?>">
    </div>
    <?php } if($this->schemeData['secondary_tax_name']){ ?>
    <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['secondary_tax_name']; ?> </label>
        <input name="tax2" type="text" class="form-control" id="tax2" value="<?php echo $tax2; ?>">
    </div>
    <?php }?>
    <div class="form-group" style="display:<?php echo $showFreight;?>">
        <label for="exampleInputEmail2">Freight</label>
        <input name="freight" type="text" class="form-control" id="freight" placeholder="">
    </div>
    
    <?php }else if($this->schemeData['tax_on_shipping'] == 1 && $this->schemeData['secondary_tax_on_shipping'] == 0) {   
        $tax1 = number_format(($this->subtotal + $this->freight )* $this->schemeData['tax_rate']/100,2, '.', '');
        if($this->schemeData['compound_secondary']){
            $total = $this->subtotal + $tax1;
            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } else {
            $tax2 = number_format($this->subtotal * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } ?>
    <?php if($this->schemeData['secondary_tax_name']){ ?>
     <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['secondary_tax_name']; ?> </label>
        <input name="tax2" type="text" class="form-control" id="tax2" value="<?php echo $tax2; ?>">
    </div>
    <?php } ?>
     <div class="form-group" style="display:<?php echo $showFreight;?>">
        <label for="exampleInputEmail2">Freight</label>
        <input name="freight" type="text" class="form-control" id="freight" value="<?php echo $this->freight; ?>">
    </div>
    <?php if($this->schemeData['tax_name']){ ?>
    <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['tax_name']; ?> </label>
        <input name="tax1" type="text" class="form-control" id="tax1" value="<?php echo $tax1; ?>">
    </div>
    <?php } ?>
   
    <?php }else if($this->schemeData['tax_on_shipping'] == 1 && $this->schemeData['secondary_tax_on_shipping'] == 1) {   
        $total = $this->subtotal + $this->freight ; 
        $tax1 = number_format($total * $this->schemeData['tax_rate']/100,2, '.', '');
        if($this->schemeData['compound_secondary']){
            $total = $total + $tax1;
            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } else {
            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } ?>
    <div class="form-group" style="display:<?php echo $showFreight;?>">
        <label for="exampleInputEmail2">Freight</label>
        <input name="freight" type="text" class="form-control" id="freight" value="<?php echo $this->freight; ?>">
    </div>
    <?php if($this->schemeData['tax_name']){ ?>
    <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['tax_name']; ?> </label>
        <input name="tax1" type="text" class="form-control" id="tax1" value="<?php echo $tax1; ?>">
    </div>
    <?php } if($this->schemeData['secondary_tax_name']){ ?>
    <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['secondary_tax_name']; ?> </label>
        <input name="tax2" type="text" class="form-control" id="tax2" value="<?php echo $tax2; ?>">
    </div>
    <?php }?>
     <?php }else if($this->schemeData['tax_on_shipping'] == 0 && $this->schemeData['secondary_tax_on_shipping'] == 1) {   
        $total = $this->subtotal + $this->freight ; 
        $tax1 = number_format($this->subtotal * $this->schemeData['tax_rate']/100,2, '.', '');
        if($this->schemeData['compound_secondary']){
            $total = $total + $tax1;
            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } else {
            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate']/100,2, '.', '');
        } ?>
    <?php if($this->schemeData['tax_name']){ ?>
     <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['tax_name']; ?> </label>
        <input name="tax1" type="text" class="form-control" id="tax1" value="<?php echo $tax1; ?>">
    </div>
    <?php } ?>
    <div class="form-group">
        <label for="exampleInputEmail2">Freight</label>
        <input name="freight" type="text" class="form-control" id="freight" value="<?php echo $this->freight; ?>">
    </div>
   
    <div class="form-group">
        <label for="exampleInputEmail2"><?php echo $this->schemeData['secondary_tax_name']; ?> </label>
        <input name="tax2" type="text" class="form-control" id="tax2" value="<?php echo $tax2; ?>">
    </div>
    
    <?php } 
    $totalWithTax = number_format($this->subtotal + $tax1 + $tax2 + $this->freight,2, '.', '') ; 
    ?>
    
    
    <div class="form-group">
        <label for="exampleInputEmail2">Total</label>
        <input name="total_amount" type="text" class="form-control" id="total_amount" Value="<?php echo $totalWithTax; ?>">
    </div>
    <div class="clearfix"></div>

    <?php if($this->order_id != '') {  ?>
    <div class="form-group">
        <label for="exampleInputEmail2" ><a href="#" onclick="SalesOrder.PaidPopup();">Paid</a></label>
        <input name="paid_amount" type="text" class="form-control" id="paid_amount" value="<?php echo number_format($this->paid,2, '.', ''); ?>">
    </div>
    <?php  }
    else { ?>
        <div class="form-group">
        <label for="exampleInputEmail2" >Paid</label>
        <input name="paid_amount" type="text" class="form-control" id="paid_amount" value="<?php echo number_format($this->paid,2, '.', ''); ?>">
        </div>
<?php    }
?>
    <div class="clearfix"></div>

    <div class="form-group">
        <label for="exampleInputEmail2">Balance</label>
        <input name="balance" type="text" class="form-control" id="balance" value="<?php echo number_format(($totalWithTax - $this->paid),2, '.', ''); ?>">
    </div>
</div>
