<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>List of Unfulfilled Orders</h3></div>
                    </div> 
                </div>
                
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Order date</th>
                            <th>Inventory Status</th>
                            <th>Payment status</th>
                            <th>Customer</th>
                            <th>P.O Ref</th>
                            <th>Location</th>
                            <th> Req Ship date</th>
                            <th>Due Date</th>
                            <th>Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Order#</th>
                            <th>Order date</th>
                            <th>Status</th>
                            <th>Payment status</th>
                            <th>Customer</th>
                            <th>P.O Ref</th>
                            <th>Location</th>
                            <th>Ship date#</th>
                            <th>Due Date</th>
                            <th>Total</th>
                            <th>Paid</th>
                            <th>Balance</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->salesData) > 0) {
                            foreach ($this->salesData as $sales) {
                                ?>
                                <tr id="tr-<?php echo $sales['id']; ?>">
                                    <td><?php echo $sales['order_id']; ?></td>
                                    <td><?php echo $sales['order_date']; ?></td>
                                    <td><?php echo $sales['order_status']; ?></td>
                                    <td><?php echo $sales['payment_status']; ?></td>
                                    <td><?php echo $sales['customer_name']; ?></td>
                                    <td><?php echo $sales['po_ref']; ?></td>
                                    <td><?php echo $sales['location_name']; ?></td>
                                    <td><?php echo $sales['req_ship_date']; ?></td>
                                    <td><?php echo $sales['due_date']; ?></td>
                                    <td><?php echo $sales['total_amount']; ?></td>
                                    <td><?php echo $sales['paid_amount']; ?></td>
                                    <td><?php echo $sales['balance']; ?></td> 
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>


<script>
                $(document).ready(function() {
                    $('#list-grid').dataTable({
                        "processing": true,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "order": [[0, "desc"]]
                    });
                });

</script>
