<?php $form = $this->form; ?>
<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>"> 
   
        <div class="row inner_main ">
            <div class="col-md-12">
                <div class="right_section">
                    <div class="container-fluid btn-back">
                        <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                           <button onclick="Customers.Add();" type="button" class="btn btn-default li1">New</button>
                           <button type="submit" class="btn btn-default li2">Save</button>
                           <?php if($this->id) {
                                if($this->is_active == 1)
                                { ?>
                           <button type="button" onclick="Customers.DeactivateCustomer();" class="btn btn-default li7">Deactivate</button>
                           <?php  }
                           else {  ?>
                               <button type="button" onclick="Customers.ActivateCustomer();" class="btn btn-default li7">Activate</button>
                      <?php     }
                           } ?>
                           <button type="button"  onclick="Customers.GoToList();" class="btn btn-default li9">
                               Back to customers
                           </button>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="container-fluid" style="padding:0px;">
                        <div class="tab_container">
                            <div role="tabpanel">

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#customer" aria-controls="customer" role="tab" data-toggle="tab">Customer Info</a></li>
                                    <li role="presentation"><a href="#extra" aria-controls="extra" role="tab" data-toggle="tab">Extra info</a></li>
                                    <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Order History</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="customer">


                                        <div class="row">
                                            <fieldset>
                                                <legend>Basic</legend>
                                                <div class="col-md-6 min-h-95" >
                                                    <div class="form-group">
                                                        <label ><?php echo $form->name->renderLabel() ?></label>
                                                        <?php echo $form->id->renderViewHelper(); ?>
                                                        <?php echo $form->name->renderViewHelper(); ?>
                                                        <?php echo $form->name->renderErrors(); ?>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->balance->renderLabel() ?></label>
                                                        <?php echo $form->balance->renderViewHelper(); ?>
                                                        <?php echo $form->balance->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->credit->renderLabel() ?></label>
                                                        <?php echo $form->credit->renderViewHelper(); ?>
                                                        <?php echo $form->credit->renderErrors(); ?>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->abn_no->renderLabel() ?></label>
                                                        <?php echo $form->abn_no->renderViewHelper(); ?>
                                                        <?php echo $form->abn_no->renderErrors(); ?>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Addresses</legend>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <?php echo $form->address_type->renderViewHelper(); ?>
                                                        <?php echo $form->address->renderViewHelper(); ?>
                                                        <?php echo $form->address1->renderViewHelper(); ?>
                                                        <?php echo $form->address2->renderViewHelper(); ?>
                                                        <?php echo $form->address->renderErrors(); ?>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Contact</legend>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->contact_name->renderLabel() ?></label>
                                                        <?php echo $form->contact_name->renderViewHelper(); ?>
                                                        <?php echo $form->contact_name->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->des->renderLabel() ?></label>
                                                        <?php echo $form->des->renderViewHelper(); ?>
                                                        <?php echo $form->des->renderErrors(); ?>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->phoneno->renderLabel() ?></label>
                                                        <?php echo $form->phoneno->renderViewHelper(); ?>
                                                        <?php echo $form->phoneno->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->fax->renderLabel() ?></label>
                                                        <?php echo $form->fax->renderViewHelper(); ?>
                                                        <?php echo $form->fax->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->email->renderLabel() ?></label>
                                                        <?php echo $form->email->renderViewHelper(); ?>
                                                        <?php echo $form->email->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->website->renderLabel() ?></label>
                                                        <?php echo $form->website->renderViewHelper(); ?>
                                                        <?php echo $form->website->renderErrors(); ?>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <legend>Purchasing Info</legend>
                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->pricing_currency->renderLabel() ?></label>
                                                        <?php echo $form->pricing_currency->renderViewHelper(); ?>
                                                        <?php echo $form->pricing_currency->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->discount->renderLabel() ?></label>
                                                        <?php echo $form->discount->renderViewHelper(); ?>
                                                        <?php echo $form->discount->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->payment_terms->renderLabel() ?></label>
                                                        <?php echo $form->payment_terms->renderViewHelper(); ?>
                                                        <?php echo $form->payment_terms->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->taxing_scheme->renderLabel() ?></label>
                                                        <?php echo $form->taxing_scheme->renderViewHelper(); ?>
                                                        <?php echo $form->taxing_scheme->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->tax_exempt->renderLabel() ?></label>
                                                        <?php echo $form->tax_exempt->renderViewHelper(); ?>
                                                        <?php echo $form->tax_exempt->renderErrors(); ?>
                                                    </div>
                                                </div>
                                            </fieldset>


                                        </div> 



                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="extra">
                                        <div class="row">
                                            <fieldset>
                                                <legend>Preferences</legend>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->location->renderLabel() ?></label>

                                                        <?php echo $form->location->renderViewHelper(); ?>
                                                        <?php echo $form->location->renderErrors(); ?>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->sales_reps->renderLabel() ?></label>
                                                        <?php echo $form->sales_reps->renderViewHelper(); ?>
                                                        <?php echo $form->sales_reps->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->carrier->renderLabel() ?></label>
                                                        <?php echo $form->carrier->renderViewHelper(); ?>
                                                        <?php echo $form->carrier->renderErrors(); ?>
                                                    </div>
                                                </div>
                                                 <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->payment_method->renderLabel() ?></label>
                                                        <?php echo $form->payment_method->renderViewHelper(); ?>
                                                        <?php echo $form->payment_method->renderErrors(); ?>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <legend>Contact</legend>
                                               <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->card_type->renderLabel() ?></label>
                                                        <?php echo $form->card_type->renderViewHelper(); ?>
                                                        <?php echo $form->card_type->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->card_no->renderLabel() ?></label>
                                                        <?php echo $form->card_no->renderViewHelper(); ?>
                                                        <?php echo $form->card_no->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->expiration_date->renderLabel() ?></label>
                                                        <?php echo $form->expiration_date->renderViewHelper(); ?>
                                                        <?php echo $form->expiration_date->renderErrors(); ?>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 min-h-95">
                                                    <div class="form-group">
                                                        <label ><?php echo $form->card_security_code->renderLabel() ?></label>
                                                        <?php echo $form->card_security_code->renderViewHelper(); ?>
                                                        <?php echo $form->card_security_code->renderErrors(); ?>
                                                    </div>
                                                </div>

                                            </fieldset>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane p-10" id="orders">
                                        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Order #</th>
                                                    <th>Order date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Paid</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </thead>

                                            <tfoot>
                                                <tr>
                                                    <th>Order #</th>
                                                    <th>Order date</th>
                                                    <th>Status</th>
                                                    <th>Total</th>
                                                    <th>Paid</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </tfoot>

                                            <tbody>
                                                <?php
                                                if (count($this->ordersData) > 0) {
                                                    foreach ($this->ordersData as $ordersData) {
                                                        ?>
                                                        <tr id="tr-<?php echo $ordersData['id']; ?>">
                                                            <td><?php echo $ordersData['order_id']; ?></td>
                                                            <td><?php echo $ordersData['order_date']; ?></td>
                                                            <td><?php echo $ordersData['order_status']; ?></td>
                                                            <td><?php echo $ordersData['total_amount']; ?></td>
                                                            <td> <?php echo $ordersData['paid_amount']; ?></td>
                                                            <td><?php echo $ordersData['balance']; ?></td>
                                                        </tr>
                                                        <?php
                                                    }
                                                }
                                                ?>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>
   


</form>

<script>
                $(document).ready(function() {
                    $('#list-grid').dataTable({
                        "processing": true,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "order": [[0, "desc"]]
                    });
                });

</script>