<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>LIST OF CUSTOMERS</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button onclick="Customers.Add();" id="addNew"class="btn btn-info" type="button">
                                Add Customer
                            </button>
                        </div>
                    </div> 
                </div>

                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Balance</th>
                            <th>Credit</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Balance</th>
                            <th>Credit</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->customerData) > 0) {
                            foreach ($this->customerData as $customer) {
                                ?>
                                <tr id="tr-<?php echo $customer['id']; ?>">
                                    <td><?php echo $customer['id']; ?></td>
                                    <td><?php echo $customer['name']; ?></td>
                                    <td><?php echo $customer['contact_email']; ?></td>
                                    <td><?php echo $customer['contact_phone']; ?></td>
                                    <td><?php echo $customer['balance']; ?></td>
                                    <td><?php echo $customer['credit']; ?></td>
                                    <td>
                                        <a htef="#" onclick="Customers.Edit(<?php echo $customer['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
                                        <a htef="#" onclick="Customers.delete(<?php echo $customer['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                        </a>
                                    </td>
                                </tr>
                            <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [6] }]
        });
        
        <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });
   
</script>
