<h4 style="text-align: center; ">Forget Password</h4>
<?php $form = $this->forgetPasswordForm; ?>
<div class="col-sm-12" style="padding:10px;">
    <div class="login_form">
        <form class="form-horizontal" id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
          method="<?php echo $form->getAttrib('method') ?>">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">
                    <?php echo $form->email->renderLabel() ?>
                </label>
                <div class="col-sm-9">
                    <?php echo $form->email->renderViewHelper(); ?>
                    <?php echo $form->email->renderErrors(); ?>

                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <?php echo $form->submitbtn->renderViewHelper(); ?>
                </div>
                <div class="col-sm-offset-0 col-sm-4">
                    <a href="/"> <button type="button" class="btn btn-success">Back to login</button></a>
                </div>
            </div>
        </form>
    </div>
</div>

