<?php $form = $this->form; ?>
<div class="col-sm-12" style="padding:10px;">
    <div class="login_form">
        <form class="form-horizontal" id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
          method="<?php echo $form->getAttrib('method') ?>">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">
                    <?php echo $form->loginname->renderLabel() ?>
                </label>
                <div class="col-sm-9">
                    <?php echo $form->loginname->renderViewHelper(); ?>
                    <?php echo $form->loginname->renderErrors(); ?>

                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">
                    <?php echo $form->loginpassword->renderLabel() ?>
                </label>
                <div class="col-sm-9">
                    <?php echo $form->loginpassword->renderViewHelper(); ?>
                    <?php echo $form->loginpassword->renderErrors(); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <?php echo $form->submitbtn->renderViewHelper(); ?>
                </div>
                <div class="col-sm-offset-0 col-sm-4">
                    <a href="/login/forget-password"> Forgot Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
