<?php $form = $this->form; ?>
<div class="col-sm-12" style="padding:10px;">
    <div class="login_form">
        <form class="form-horizontal" id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
          method="<?php echo $form->getAttrib('method') ?>">
            <div class="form-group">
                <label class="col-sm-3">
                    <?php echo $form->password->renderLabel() ?>
                </label>
                <div class="col-sm-9">
                    <?php echo $form->password->renderViewHelper(); ?>
                    <?php echo $form->password->renderErrors(); ?>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">
                    <?php echo $form->confirmpassword->renderLabel() ?>
                </label>
                <div class="col-sm-9">
                    <?php echo $form->confirmpassword->renderViewHelper(); ?>
                    <?php echo $form->confirmpassword->renderErrors(); ?>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <?php echo $form->submitbtn->renderViewHelper(); ?>
                </div> 
            </div>
        </form>
    </div>
</div>
