<?php
$form = $this->form;
?>


<div class="well">
    <form id="frmMerger"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
          method="<?php echo $form->getAttrib('method') ?>"
          class="form-horizontal zend_form well">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label ><?php echo $form->name->renderLabel() ?></label>
                    <?php echo $form->id->renderViewHelper(); ?>
                    <?php echo $form->username->renderViewHelper(); ?>
                    <?php echo $form->username->renderErrors(); ?>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Password</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Person Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Person Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone No</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Phone No">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Role Name</label>
                    <select class="form-control">
                        <option>Select Role</option>
                        <option>Admin</option>
                        <option>Sub Admin</option>
                        <option>Sales Person</option>
                        <option>Purchase Person</option>
                        <option>Operator</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Is Active</label>
                    <select class="form-control">
                        <option>Select Status</option>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>

        </div> 


        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
