<!DOCTYPE html> 
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inventory Management System - Bluechip Engineering</title>
        <meta name="author" content="Bluechip">
        <meta name="description" content="Bluechip Engineering - IMS">
        <meta name="viewport" content="width=device-width">

        <!-- styles -->
        <?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css') ?>
        <?php $this->headLink()->appendStylesheet('/css/jquery-ui.min.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/styles.css') ?> 
        <?php echo $this->headLink(); ?>
        <?php $this->headScript()->appendFile('/js/jquery.js') ?> 
        <?php $this->headScript()->appendFile('/js/scripts.js') ?>
        <?php $this->headScript()->appendFile('/js/bootstrap.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery-ui.min.js') ?>
        <?php echo $this->headScript(); ?>
    </head>
    <body>
        <div class="container-fluid">
            <div class="login_fix">
                <div class="row" style="padding:0px;">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        
                        <div class="login-error">
                            <?php 
                            $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');

                            if ($flashMessenger->hasMessages('success')): ?>
                                <div class="alert alert-success alert-dismissible" id="success-alert" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <?php foreach ($flashMessenger->getMessages('success') as $msg): ?>
                                        <?php echo $msg ?>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif ?>

                            <?php if ($flashMessenger->hasMessages('error')): ?>
                                <div class="alert alert-danger alert-dismissible" id="error-alert" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <?php foreach ($flashMessenger->getMessages('error') as $msg): ?>
                                        <?php echo $msg ?>
                                    <?php endforeach; ?>
                                </div>
                            <?php endif ?>
                            
                        </div>
                        <div class="login_window">
                            
                            <div class="logo_container">
                                <img src="/img/blue_chip_logo.png"/>
                            </div>
                            <div class="row">
                                <?php echo $this->layout()->content ?> 	
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>