
<div class="footer-fixed">
    <div style="clear:both;"></div>
    <footer id="footer">
        <div class="clearfix">
            <div class="col-md-12">
                <ul class="nav-justified">
                    <?php $model = new Application_Model_Generic(); 
                    $i=1;
                    foreach ($this->menuData as $menu) {
                        $subMenuData = $model->getSubMenu($menu['id']);
                        if(count($subMenuData)>0){
                     ?>
                    <li><a class="menuitem" href="javascript:toggleDiv('Div_<?php echo $i;?>');"><?php echo $menu['type'] ?></a>
                        <div class="footermenu" id="Div_<?php echo $i;?>">
                            <ul class="foot-nav">
                                <?php
                                foreach ($subMenuData as $submenu) { 
                                    ?>
                                    <?php if($this->controllerName=='index' && $submenu['screen_name']=='Home Page'){?>
                                    
                                    <?php } else {?>
                                        <li><a href="<?php echo $submenu['url']; ?>"><?php echo $submenu['screen_name']; ?></a></li>
                                <?php    
                                    }
                                }?>
                            </ul>
                        </div>
                    </li>
                    <?php 
                    $i++;
                        } }?>
                </ul>
            </div>
        </div>
    </footer>

    <!-- For Responsive -->

    <footer id="footer_small">
        <div class="clearfix">
            <div class="col-md-12">
                <ul class="nav-justified">
                    <?php 
                        $k=1;
                        foreach ($this->menuData as $menu) {
                        $subMenuData = $model->getSubMenu($menu['id']);
                        if(count($subMenuData)>0){
                     ?>
                        <li><a class="menuitem" href="javascript:toggleDiv('bottom_<?php echo $k;?>');"><?php echo $menu['type'] ?></a></li>
                    <?php 
                    $k++;
                        } 
                      }
                     ?>
                </ul>
            </div>
        </div>
    </footer>
</div>

 <?php 
 $k=1;
 foreach ($this->menuData as $menu) {
    $subMenuData = $model->getSubMenu($menu['id']);
    if(count($subMenuData)>0){
 ?>
<div class="footermenu_bottom" id="bottom_<?php echo $k;?>">
    <ul class="foot-nav">
         <?php foreach ($subMenuData as $submenu) { ?>
            <?php if($this->controllerName=='index' && $submenu['screen_name']=='Home Page'){?>
        <?php } else {?>
             <li><a href="<?php echo $submenu['url']; ?>"><?php echo $submenu['screen_name']; ?></a></li>
        <?php } } ?> 
    </ul>
    <div class="clearfix"></div>
</div>
 <?php 
$k++;
    } 
  }
 ?>