<!DOCTYPE html> 
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inventory Management System - Bluechip Engineering</title>
        <meta name="author" content="Bluechip">

        <meta name="description" content="Bluechip Engineering - IMS">
        <meta name="viewport" content="width=device-width">

        <!-- styles -->
        <?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css') ?>
        <?php $this->headLink()->appendStylesheet('/css/dataTable.bootstrap.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/jquery-ui.min.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/styles.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/fonts.css') ?> 
        <?php echo $this->headLink(); ?>

        <?php $this->headScript()->appendFile('/js/jquery.js') ?> 
        <?php $this->headScript()->appendFile('/js/bootstrap.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery-ui.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.dataTables.min.js') ?>
        <?php $this->headScript()->appendFile('/js/dataTables.bootstrap.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.blockUI.js') ?>
        <?php $this->headScript()->appendFile('/js/validation.js') ?>
        <?php $this->headScript()->appendFile('/js/scripts.js') ?>
        <?php $this->headScript()->appendFile('/js/report_script.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.customSelect.min.js') ?>
        <?php $this->headScript()->appendFile('/js/natural.js') ?>
        <?php echo $this->headScript(); ?>
        <script>
            $(function() {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        <link rel='stylesheet' type='text/css' href='/css/AdminLTE.min.css'>
    </head>
    <body class="body-white">
        <!-- Fixed navbar -->
        <?php include 'menu.phtml'; ?>

        <!-- Begin page content -->
        <div id="container" class="container-fluid padding-l-r-none">

            <div class="wrapper">
                <?php include 'sidebar.phtml'; ?>
                <div class="content-wrapper"> 
                    <!-- Main content -->
                    <section class="content"> 
                        <div class="row">
                            <div class="col-lg-12"> 
                                <?php
                                $flashMessenger = Zend_Controller_Action_HelperBroker::getStaticHelper('FlashMessenger');
                                if ($flashMessenger->hasMessages('success')):
                                    ?>
                                    <div class="alert alert-success alert-dismissible" id="success-alert" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <?php foreach ($flashMessenger->getMessages('success') as $msg): ?>
                                            <?php echo $msg ?>
                                        <?php endforeach; ?>
                                    </div>
                                <?php endif ?>

                                <?php if ($flashMessenger->hasMessages('error')): ?>
                                    <div class="alert alert-danger alert-dismissible" id="error-alert" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <?php foreach ($flashMessenger->getMessages('error') as $msg): ?>
                                            <?php echo $msg ?>
                                        <?php endforeach; ?>
                                    </div>
                                <?php endif ?>
                            </div>
                            <div class="col-lg-12"> 
                                <div class="headNames"><span class="dbActReportIcon"></span><?php echo $this->screenHeading; ?></div>
                                <?php echo $this->layout()->content ?>
                            </div>
                        </div>
                    </section>
                    <!-- End content --> 
                </div>
                <?php include 'footer-new.phtml'; ?>
            </div>
            <div id="dialog"></div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#success-alert").fadeTo(10000, 500).slideUp(500, function() {
                    $("#success-alert").alert('close');
                });

                $("#error-alert").fadeTo(10000, 500).slideUp(500, function() {
                    $("#error-alert").alert('close');
                });

                $(document).ready(function() {
                    $(".custom-select").each(function() {
                        $(this).wrap("<span class='select-wrapper'></span>");
                        $(this).after("<span class='holder'></span>");

                        var selectedOption = $(this).find(":selected").text();
                        $(this).next(".holder").text(selectedOption);

                    });

                    $(".custom-select").change(function() {
                        var selectedOption = $(this).find(":selected").text();
                        $(this).next(".holder").text(selectedOption);
                    });

                })


            });
        </script>
        <script src='/js/app.min.js'></script>
    </body>
</html>