<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Blue Chip</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <link href="css/font.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container-fluid">
            <!-- HEADER START -->
            <div class="row header-strip">
                <div class="col-md-2 col-sm-2 col-xs-12"><a href="index.html"><img src="images/blue-chip-logo.jpg" alt=""></a></div>
                <div class="col-md-10 col-sm-10 col-xs-12">
                    <nav class="header-nav">
                        <ul>
                            <li><a href="#">name</a></li>
                            <li><a href="#">name</a></li>
                            <li><a href="#">name</a></li>
                            <li><a href="#">name</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- HEADER END -->
        </div>

        <div class="container-fluid boxes">

            <div class="row">


                <div class="col-md-10 col-xs-12">

                    <div class="cenerall">

                        <div class="flip box1">
                            <div class="container">
                                <h3>Vendor</h3>
                                <div class="icons"><img src="images/plus.png" /></div>
                            </div>

                            <div class="hov">

                                <h3>Vendor</h3>
                                <ul>
                                    <a href="#"><li>Current Stock</li></a>
                                    <a href="#"><li>Adjust Stock</li></a>
                                    <a href="#"><li>Reorder Stock</li></a>
                                    <a href="#"><li>New Product</li></a>
                                    <a href="#"><li>Work Order</li></a>
                                </ul>

                            </div>
                        </div>


                        <div class="arrow-right"></div>

                        <div class="flip box2">
                            <div class="container">
                                <h3>Purchase Order</h3>
                                <div class="icons"><img src="images/plus.png" /></div>
                            </div>

                            <div class="hov">

                                <h3>Purchase Order</h3>
                                <ul>
                                    <a href="#"><li>Current Stock</li></a>
                                    <a href="#"><li>Adjust Stock</li></a>
                                    <a href="#"><li>Reorder Stock</li></a>
                                    <a href="#"><li>New Product</li></a>
                                    <a href="#"><li>Work Order</li></a>
                                </ul>

                            </div>
                        </div>	

                        <div class="arrow-right"></div>

                        <div class="flip box3">
                            <div class="container">
                                <h3>Inventory</h3>
                                <div class="icons"><img src="images/plus.png" /></div>
                            </div>
                            <div class="hov">

                                <h3>Inventory</h3>
                                <ul>
                                    <a href="#"><li>Current Stock</li></a>
                                    <a href="#"><li>Adjust Stock</li></a>
                                    <a href="#"><li>Reorder Stock</li></a>
                                    <a href="#"><li>New Product</li></a>
                                    <a href="#"><li>Work Order</li></a>
                                </ul>

                            </div>
                        </div>		

                        <div class="arrow-right"></div>

                        <div class="flip box4">
                            <div class="container">
                                <h3>Sales Order</h3>
                                <div class="icons"><img src="images/plus.png" /></div>
                            </div>
                            <div class="hov">

                                <h3>Sales Order</h3>
                                <ul>
                                    <a href="#"><li>Current Stock</li></a>
                                    <a href="#"><li>Adjust Stock</li></a>
                                    <a href="#"><li>Reorder Stock</li></a>
                                    <a href="#"><li>New Product</li></a>
                                    <a href="#"><li>Work Order</li></a>
                                </ul>

                            </div>
                        </div>	

                        <div class="arrow-right"></div>

                        <div class="flip  box5">
                            <div class="container">
                                <h3>Customer</h3>
                                <div class="icons"><img src="images/plus.png" /></div>
                            </div>
                            <div class="hov">

                                <h3>Customer</h3>
                                <ul>
                                    <a href="#"><li>Current Stock</li></a>
                                    <a href="#"><li>Adjust Stock</li></a>
                                    <a href="#"><li>Reorder Stock</li></a>
                                    <a href="#"><li>New Product</li></a>
                                    <a href="#"><li>Work Order</li></a>
                                </ul>

                            </div>
                        </div>	

                    </div>


                </div>







            </div>

        </div>

       


        <!-- END For Responsive -->




        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flip.js"></script>


    </body>
</html>


<script type="text/javascript">
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }

</script>

<script>
    $(document).click(function() {
        $('#Div_1, #Div_2, #Div_3, #Div_4, #Div_5, #Div_6, #bottom_1, #bottom_2, #bottom_3, #bottom_4, #bottom_5, #bottom_6 ').hide();
    });

    $(document).ready(function() {
        $(".flip").hover(function() {
            $(this).children('div.hov').show();
        }, function() {
            $(this).children('div.hov').hide();
        });
    });
</script>


