<!DOCTYPE html> 
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inventory Management System - Bluechip Engineering</title>
        <meta name="author" content="Bluechip">
        <meta name="description" content="Bluechip Engineering - IMS">
        <meta name="viewport" content="width=device-width">

        <!-- styles -->

        <?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css') ?>
        <?php $this->headLink()->appendStylesheet('/css/dataTable.bootstrap.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/jquery-ui.min.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/styles.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/fonts.css') ?> 
		<link rel='stylesheet' type='text/css' href='/css/AdminLTE.min.css'>
        <?php echo $this->headLink(); ?>

        <?php $this->headScript()->appendFile('/js/jquery.js') ?> 
        <?php $this->headScript()->appendFile('/js/bootstrap.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery-ui.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.dataTables.min.js') ?>
        <?php $this->headScript()->appendFile('/js/dataTables.bootstrap.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.blockUI.js') ?>
        <?php $this->headScript()->appendFile('/js/scripts.js') ?>
        <?php echo $this->headScript(); ?>
        <script>
            $(function () {
              $('[data-toggle="tooltip"]').tooltip();
            });
            </script>
    </head>
    <body class="sidebar-collapse sidebar-open">
	
	<!-- Fixed navbar -->
        <?php include 'menu_home.phtml'; ?>
		
        <!-- Begin page content -->
        <div id="container" class="container-fluid padding-l-r-none">
            <?php if ($this->successMsg) { ?>
            <div class="alert alert-success alert-dismissible" id="success-alert" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <?php echo $this->successMsg; ?>
            </div>
        <?php } ?>
            
        <?php if ($this->message) { ?>
            <div class="alert alert-danger alert-dismissible" id="error-alert" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <?php echo $this->message; ?>
            </div>
        <?php } ?>

            <div class="wrapper">
				<?php include 'sidebar-home.phtml'; ?>
                <div class="content-wrapper"> 
                    <!-- Main content -->
                    <section class="content"> 
                        <div class="row">
                            <div class="col-lg-12"> 
								<?php echo $this->layout()->content ?>
                            </div>
                        </div>
                    </section>
                    <!-- End content --> 
                </div>
				<?php include 'footer-new.phtml'; ?>
            </div>
            <div id="dialog"></div>
        </div>
        <script>
            
            $(document).ready(function() {
                $(".flip").hover(function() {
                    $(this).children('div.hov').show();
                }, function() {
                    $(this).children('div.hov').hide();
                });
            });
        </script>
        <script>
        $(document).ready(function() {
            $("#success-alert").fadeTo(10000, 500).slideUp(500, function(){
                $("#success-alert").alert('close');
            });
        });
        </script>

		<script src='/js/app.min.js'></script>
    </body>
</html>