<div class="container-fluid">
    <div class="row header-strip">
        <div class="col-md-2 col-sm-2 col-xs-2"><a href="/"><img src="/img/blue-chip-logo.jpg" alt=""></a></div>
        <div class="col-md-10 col-sm-10 col-xs-10"> 
            <nav class="header-nav"> 
                <ul>
                    <li>
                        <a href="/dashboard" aria-hidden="bottom" data-toggle="tooltip" data-placement="bottom"
                           title="Dashboard" >name
                        </a>
                    </li>
                    <li>
                        <a href="/" aria-hidden="bottom" data-toggle="tooltip" data-placement="bottom"
                           title="Home Screen" >name
                        </a>
                    </li>
                    <?php
                    if (isset($this->reportAccess['view']) && $this->reportAccess['view'] == 1) {
                        $rUrl = '/reports';
                        $tip = 'Reports';
                    } else {
                        $rUrl = '#';
                        $tip = 'No Access';
                    }
                    ?>
                    <li>
                        <a href="<?php echo $rUrl; ?>" aria-hidden="bottom" data-toggle="tooltip" data-placement="bottom"
                           title="<?php echo $tip; ?>" >name
                        </a>
                    </li>
                    <?php
                    if (isset($this->settingsAccess['view']) && $this->settingsAccess['view'] == 1) {
                        $r1Url = '/settings';
                        $tip1 = 'Settings';
                        ?>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <?php foreach ($this->menuSettingData as $menu) { ?>
                                    <li><a href="<?php echo $menu['url']; ?>"><?php echo $menu['screen_name']; ?></a></li>
                        <?php } ?>
                            </ul>
                        </li>
                    <?php
                    } else {
                        $r1Url = '#';
                        $tip1 = 'No Access';
                        ?>                   
                        <li>
                            <a href="<?php echo $r1Url; ?>" aria-hidden="bottom" data-toggle="tooltip" data-placement="bottom"
                               title="<?php echo $tip1; ?>" >name
                            </a>
                        </li>
                    <?php }
                    ?>
                    <li>
                        <a href="/logout" aria-hidden="bottom" data-toggle="tooltip" data-placement="bottom"
                           title="Logout" >name
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="heading"><?php echo $this->screenName; ?></div>
            
        </div>
    </div>
</div>
