<!DOCTYPE html> 
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Inventory Management System - Bluechip Engineering</title>
        <meta name="author" content="Bluechip">
        <meta name="description" content="Bluechip Engineering - IMS">
        <meta name="viewport" content="width=device-width">

        <!-- styles -->

        <?php $this->headLink()->appendStylesheet('/css/bootstrap.min.css') ?>
        <?php $this->headLink()->appendStylesheet('/css/dataTable.bootstrap.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/jquery-ui.min.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/styles.css') ?> 
        <?php $this->headLink()->appendStylesheet('/css/fonts.css') ?> 
        
        <?php echo $this->headLink(); ?>

        <?php $this->headScript()->appendFile('/js/jquery.js') ?> 
        <?php $this->headScript()->appendFile('/js/bootstrap.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery-ui.min.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.dataTables.min.js') ?>
        <?php $this->headScript()->appendFile('/js/dataTables.bootstrap.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.blockUI.js') ?>
        <?php $this->headScript()->appendFile('/js/scripts.js') ?>
        <?php $this->headScript()->appendFile('/js/report_script.js') ?>
        <?php $this->headScript()->appendFile('/js/jquery.customSelect.min.js') ?>
        <?php echo $this->headScript(); ?>
    </head>
    <body class="body-white">
            
            <?php echo $this->layout()->content ?>
          
    </body>
</html>