
	<!-- header logo: style can be found in header.less -->
  <header class="main-header"> 
    <!-- Logo --> 

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation"> 
      <!-- Sidebar toggle button--> 
      <span class="slideArrow"> 
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
      </span>
      
    </nav>
  </header>
  
    
  <!-- Left side column. contains the logo and sidebar -->
    <div class="adminName">Welcome : <?php echo Zend_Auth::getInstance()->getIdentity()->name; ?></div>
  <aside class="main-sidebar"> 
    <!-- sidebar: style can be found in sidebar.less -->
  
    <section class="sidebar"> 
      <!-- Sidebar user panel -->

      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu ">
        
		<?php $model = new Application_Model_Generic(); 
		$i=1;
		foreach ($this->menuData as $menu) {
			$subMenuData = $model->getSubMenu($menu['id']);
			if(count($subMenuData)>0){
        ?>
					 
        <li class="treeview"> 
            <a href="#"> 
                <span class="<?php echo $menu['sidebar_class'] ?>"></span> 
                <span><?php echo $menu['type'] ?></span> 
                <i class="fa fa-angle-right pull-right"></i> 
            </a>
          <ul class="treeview-menu">
		  <?php
			foreach ($subMenuData as $submenu) { 
				?>
				<?php if($this->controllerName=='index' && $submenu['screen_name']=='Home Page'){?>
				
				<?php } else {?>
					<li><a href="<?php echo $submenu['url']; ?>"><i class="fa fa-angle-double-right"></i> <?php echo $submenu['screen_name']; ?></a></li>
			<?php    
				}
			}?>           
          </ul>
        </li>
		<?php } }?>
      </ul>
    </section>
    <!-- /.sidebar --> 
  </aside>
  <div class="clearfix;"></div>