<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit cost</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Unit cost</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        //var_dump($this->details);die;
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                ?>
                <tr>
                    <td><?php echo $value['product_name']; ?></td>
                    <td><?php echo $value['price']; ?></td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>