
<link rel="stylesheet" href="/js/jqwidgets/styles/jqx.base.css" type="text/css" />
<script type="text/javascript" src="/js/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="/js/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="/js/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="/js/jqwidgets/jqxdatatable.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/jqxtreegrid.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/jqxlistbox.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/jqxdropdownlist.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/jqxdata.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/jqxtooltip.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/jqxinput.js"></script> 
<script type="text/javascript" src="/js/jqwidgets/demos.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
                {
                    dataType: "json",
                    dataFields: [
                        {name: "id", type: "number"},
                        {name: "name", type: "string"},
                        {name: "parent_id", type: "number"},
                        {name: "parent_name", type: "string"}
                    ],
                    hierarchy:
                            {
                                keyDataField: {name: 'id'},
                                parentDataField: {name: 'parent_id'}
                            },
                    id: 'id',
                    url: '/product-category/data'
                };

        var dataAdapter = new $.jqx.dataAdapter(source, {
            loadComplete: function () {
            }
        });
        this.editrow = -1;

        $("#treeGrid").jqxTreeGrid(
                {
                    width: 300,
                    source: dataAdapter,
                    altRows: true,
                    autoRowHeight: false,
                    ready: function ()
                    {
                        // Expand rows with ID = 1, 2 and 7
                        $("#treeGrid").jqxTreeGrid('expandRow', 1);
                        $("#treeGrid").jqxTreeGrid('expandRow', 2);
                        $("#treeGrid").jqxTreeGrid('expandRow', 7);
                    },
                    editable: true,
                    editSettings: {saveOnPageChange: true, saveOnBlur: true, saveOnSelectionChange: false, cancelOnEsc: true, saveOnEnter: true, editOnDoubleClick: false, editOnF2: false},
                    // called when jqxTreeGrid is going to be rendered.
                    rendering: function ()
                    {
                        // destroys all buttons.
                        if ($(".editButtons").length > 0) {
                            $(".editButtons").jqxButton('destroy');
                        }
                        if ($(".cancelButtons").length > 0) {
                            $(".cancelButtons").jqxButton('destroy');
                        }
                    },
                    // called when jqxTreeGrid is rendered.
                    rendered: function () {
                        if ($(".editButtons").length > 0) {
                            $(".cancelButtons").jqxButton();
                            $(".editButtons").jqxButton();

                            var editClick = function (event) {
                                var target = $(event.target);
                                // get button's value.
                                var value = target.val();
                                // get clicked row.
                                var rowKey = event.target.getAttribute('data-row');
                                if (value == "Edit") {
                                    // begin edit.
                                    $("#treeGrid").jqxTreeGrid('beginRowEdit', rowKey);
                                    target.parent().find('.cancelButtons').show();
                                    target.val("Save");

                                }
                                else {
                                    // end edit and save changes.
                                    target.parent().find('.cancelButtons').hide();
                                    target.val("Edit");
                                    $("#treeGrid").jqxTreeGrid('endRowEdit', rowKey);
                                }
                            }
                            $(".editButtons").on('click', function (event) {
                                editClick(event);
                            });

                            $(".cancelButtons").click(function (event) {
                                // end edit and cancel changes.
                                var rowKey = event.target.getAttribute('data-row');
                                $("#treeGrid").jqxTreeGrid('endRowEdit', rowKey, true);
                            });
                        }
                    },
                    columns: [
                        {text: 'Name', dataField: "name", align: 'center', width: '50%'},
                        {
                            text: 'Actions', cellsAlign: 'center', align: "center", columnType: 'none', editable: false, sortable: false, dataField: null, cellsRenderer: function (row, column, value) {
                                // render custom column.

                                return '<a  href="#" onclick="Category.edit(' + row + ');" class="glyphicon glyphicon-edit"></a><a href="#" onclick="Category.delete(' + row + ');" class="glyphicon glyphicon-trash"></a>';
                            }
                        }
                    ]
                });

        $("#treeGrid").on('rowSelect', function (event) {
            var id = $().val();
            $.ajax({
                type: "POST",
                url: "/product-category/get-product",
                data: {'row': event.args.key},
                beforeSend: function ()
                {
                    //$.blockUI({message: '<h1>Please Wait...</h1>'});
                },
                success: function (data) {
                     $('#product-list').fadeTo(500, .5, function () {
                        $(this).html(data).fadeTo(500, 1);
                     });

//                    var i=0;
//                    output='';
//                    $.each(data,function(key,value) {
//                        output += '<tr id="'+i+'">';
//                        output += '<td id ="product_name'+i+'">' + value.product_name + '</td>';
//                        output += '<td id ="price'+i+'">' + value.price + '</td>';
//                        output += '</tr>';
//                        i++;
//                    });
//                    $("#tbody").html(output);

                    $(document).ajaxStop($.unblockUI);
                }
            });
        });


    });

    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>

<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>LIST OF PRODUCT CATEGORIES</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add Product Category
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    <div class="well">
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              method="<?php echo $form->getAttrib('method') ?>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->name->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->name->renderViewHelper(); ?>
                                        <?php echo $form->name->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->parent->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->parent->renderViewHelper(); ?>
                                        <?php echo $form->parent->renderErrors(); ?>
                                    </div>
                                </div>
                            </div>
                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                        </form>

                    </div>
                </div>
                <div style="width:100%;"> 
                    <div style="float:left; width:20%;">
                        <div id="treeGrid" style="margin: 13px;"></div>
                    </div>
                    <div id="product-list" style="float:right; width:70%; ">
                        <table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th style="width:499px">Item</th>
                                    <th style="width:499px">Normal Price</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th style="width:499px">Item</th>
                                    <th style="width:499px">Normal Price</th>
                                </tr>
                            </tfoot>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                </div>

            </div>


        </div>

    </div>



</div>
<script>
    $(document).ready(function () {
        $('#list-grid1').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "order": [[0, "desc"]]
        });
    });

</script>