<table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Discount</th>
            <th>Sub Total</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Discount</th>
            <th>Sub Total</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->sqList) > 0) {
            foreach ($this->sqList as $itemList) {
                ?>
                <tr id="tr-<?php echo $itemList['id']; ?>">
                    <td><?php echo $itemList['product_name']; ?></td>
                    <td><?php echo $itemList['quantity']; ?></td>
                    <td><?php echo $itemList['unit_price']; ?></td>
                    <td><?php echo $itemList['discount']; ?></td>
                    <td><?php echo $itemList['sub_total']; ?></td>
                    <td>
                        <a htef="#" onclick="SalesQuote.editSalesProduct(<?php echo $itemList['id']; ?>);"> 
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                        </a>
                        <a htef="#" onclick="SalesQuote.deleteSalesProduct(<?php echo $itemList['id']; ?>,<?php echo $itemList['order_id']; ?>);"> 
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                        </a>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table> 
<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [5] }]
        });
    });
    $(document).ready(function () {
        var id = $("#id").val();
        $.ajax({
            url: "/sales-quote/fetch-sub-total",
            dataType: "json",
            data: {id: id},
            success: function (data) {
                $("#sub_total_1").val(data.sub_total);
                var order_id = $("#flag").val();
                SalesQuote.taxingScheme(order_id);
            }
        });

    });
</script>