<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<?php
$form = $this->form;
//var_dump($this->sqList);die;
?>
<form id="frmuser" enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>" method="<?php echo $form->getAttrib('method') ?>" > 
    <!-- Main -->

    <div class="row inner_main ">
        <div class="col-md-12">

            <div class="right_section">

                <div class="container-fluid btn-back">

                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button onclick="SalesQuote.Add();" type="button" class="btn btn-default li1">New</button>
                        <button type="submit" class="btn btn-default li2">Save</button>
                <?php    if($this->id) {  ?>
                                <a class="btn btn-default li4" target="_blank" href="/sales-quote/print-order/id/<?php echo $this->id;?>" role="button">
                                Print
                            </a>
         <?php       }    ?>        
                        <?php if($this->id) { 
                            if($this->order_status == "Rejected") {  ?>
                                <button type="button" id="reopen_button_1" onclick="SalesQuote.RegenerateQuote();" class="btn btn-default li6">Regenerate Quote</button>
                     <?php        } 
                            else { ?>
                                <button type="button" onclick="SalesQuote.CancelQuote();" class="btn btn-default li6">Reject Quote</button>
                       <?php     }
                        }
                       ?>
<!--                        <button type="button" class="btn btn-default li7">Attachment</button>-->

<!--                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle li8" data-toggle="dropdown" aria-expanded="false">
                                Sticky Notes
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Dropdown link</a></li>
                                <li><a href="#">Dropdown link</a></li>
                            </ul>
                        </div>-->
                        <button type="button" id="back_to_quote" onclick="SalesQuote.GoToList();" class="btn btn-default li9 font-bold">Back to Quote List</button>
                    </div>


                </div>


                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-3 col-sm-4 ">
                        <div class="main-left">
                            <div class="form-group">
                                <label><?php echo $form->customer->renderLabel() ?></label>
                                <?php echo $form->id->renderViewHelper(); ?>
                                <?php echo $form->customer->renderViewHelper(); ?>
                                <?php echo $form->customer->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label><?php echo $form->des->renderLabel() ?></label>
                                <?php echo $form->des->renderViewHelper(); ?>
                                <?php echo $form->des->renderErrors(); ?>
                            </div>
                            
                            <div class="form-group">
                                <label><?php echo $form->contact->renderLabel() ?></label>
                                <?php echo $form->contact->renderViewHelper(); ?>
                                <?php echo $form->contact->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label><?php echo $form->phone->renderLabel() ?></label> 
                                <?php echo $form->phone->renderViewHelper(); ?>
                                <?php echo $form->phone->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <?php echo $form->address_type->renderViewHelper(); ?>
                                <?php echo $form->address->renderViewHelper(); ?>
                                <?php echo $form->address1->renderViewHelper(); ?>
                                <?php echo $form->address2->renderViewHelper(); ?>
                                <?php echo $form->address->renderErrors(); ?>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 col-sm-4  col-md-offset-2 ">

                        <div class="form-group" style="display:none" id="payment_terms_div">
                            <label><?php echo $form->payment_terms_id->renderLabel() ?></label>
                            <?php echo $form->id->renderViewHelper(); ?>
                            <?php echo $form->payment_terms_id->renderViewHelper(); ?>
                            <?php echo $form->payment_terms_id->renderErrors(); ?>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group" style="display:none" id="p_o_div">
                            <label><?php echo $form->p_o->renderLabel() ?></label>
                            <?php echo $form->id->renderViewHelper(); ?>
                            <?php echo $form->p_o->renderViewHelper(); ?>
                            <?php echo $form->p_o->renderErrors(); ?>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label><?php echo $form->location->renderLabel() ?></label>
                            <?php echo $form->id->renderViewHelper(); ?>
                            <?php echo $form->location->renderViewHelper(); ?>
                            <?php echo $form->location->renderErrors(); ?>
                        </div>

                        <div class="clearfix"></div>  
                        <div class="form-group">
                            <label><?php echo $form->sales_reps->renderLabel() ?></label>
                            <?php echo $form->id->renderViewHelper(); ?>
                            <?php echo $form->sales_reps->renderViewHelper(); ?>
                            <?php echo $form->sales_reps->renderErrors(); ?>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-md-offset-2 col-sm-offset-2">
                        <div class="form-right">


                            <div class="form-group">
                                <label><?php echo $form->quote->renderLabel() ?></label>
                                <?php echo $form->id->renderViewHelper(); ?>
                                <?php echo $form->quote->renderViewHelper(); ?>
                                <?php echo $form->quote->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label><?php echo $form->quote_date->renderLabel() ?></label>
                                <?php echo $form->id->renderViewHelper(); ?>
                                <?php echo $form->quote_date->renderViewHelper(); ?>
                                <?php echo $form->quote_date->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label><?php echo $form->status->renderLabel() ?></label>
                                <?php echo $form->id->renderViewHelper(); ?>
                                <?php echo $form->status->renderViewHelper(); ?>
                                <?php echo $form->status->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group" id="add_shipping_address">
                                 <?php         if ($this->order_status == "Rejected") {
                                     ?>
                                 <a href="#">Add Shipping Address</a>
                        <?php        }
                                else {    ?>
                                 <a href="#" onClick="SalesQuote.AddShippingAddress()();">Add Shipping Address</a>
                          <?php       }   ?>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="shipping_address_div" style="display:none">
                                <label><?php echo $form->shipping_address->renderLabel() ?></label>
                                <input id="shipping_address_id" type="hidden" class="form-control" value='' placeholder="" name="shipping_address_id"/>
                                <?php echo $form->id->renderViewHelper(); ?>
                                <?php echo $form->shipping_address->renderViewHelper(); ?>
                                <?php echo $form->shipping_address->renderErrors(); ?>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group" id="no_shipping_address" style="display:none">
                        <?php         if ($this->order_status == "Rejected") {  ?>
                                 <a href="#">No Shipping</a>
                        <?php        }
                                else {    ?>
                                     <a href="#" onClick="SalesQuote.NoShippingAddress();">No Shipping</a>
                          <?php       }   ?>
                               
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div role="tabpanel">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Add Sales Quote</legend>
                                                <div class="col-md-2">
                                                    <div class="form-group">                          
                                                        <label class="required">Product Item</label>
                                                        <?php echo $form->id->renderViewHelper(); ?>
                                                        <?php echo $form->sales_item_id->renderViewHelper(); ?>
                                                        <?php echo $form->sales_item_id->renderErrors(); ?>
                                                        <div id="sqitemerror" class="error-inner"></div>
                                                        <input id="sales_order_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="sales_quantity" type="text" class="form-control" value='' placeholder="" />
                                                        <div id="sqquantity" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Unit Price</label>
                                                        <input id="sales_unit_price" type="text" class="form-control" value='' placeholder="" />
                                                        <div id="sqprice" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Discount</label>
                                                        <input id="sales_discount" type="text" class="form-control" value='' placeholder="" />
                                                        <div id="sqdiscount" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Total</label>
                                                        <input id="sales_total" type="text" class="form-control" value='' placeholder="" readonly="true" />
                                                        <div id="sqtotal" class="error-inner"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2" style="margin-top: 28px;">
                                                    <button type="button"  onclick="SalesQuote.AddSalesProduct();" class="btn btn-success btn-sm">Add Sales Product</button>
                                                    <br>
                                                </div>

                                            </fieldset>
                                        </div> 
                                        <div id="product-list">
                                            <table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Quantity</th>
                                                        <th>Unit Price</th>
                                                        <th>Discount</th>
                                                        <th>Sub Total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                                <tfoot>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Quantity</th>
                                                        <th>Unit Price</th>
                                                        <th>Discount</th>
                                                        <th>Sub Total</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>

                                                <tbody>
                                                    <?php
                                                    if (count($this->sqList) > 0) {
                                                        foreach ($this->sqList as $itemList) {
                                                            ?>
                                                            <tr id="tr-<?php echo $itemList['product_id']; ?>">
                                                                <td><?php echo $itemList['product_name']; ?></td>
                                                                <td><?php echo $itemList['quantity']; ?></td>
                                                                <td><?php echo $itemList['unit_price']; ?></td>
                                                                <td><?php echo $itemList['discount']; ?></td>
                                                                <td><?php echo $itemList['sub_total']; ?></td>
                                                                <td>
                                                                    
                                                                    <?php  if($this->order_status == "Rejected")  { ?>
                                                                    <a htef="#"> 
                                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                    </a>
                                                                    <a htef="#"> 
                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                    </a>
                                                        <?php            }
                                                        else { ?>
                                                                    <a htef="#" onclick="SalesQuote.editSalesProduct(<?php echo $itemList['id']; ?>);"> 
                                                                        <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                                                    </a>
                                                                    <a htef="#" onclick="SalesQuote.deleteSalesProduct(<?php echo $itemList['id']; ?>,<?php echo $itemList['order_id']; ?>);"> 
                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                    </a>
                                                        <?php }  ?>
                                                                </td>
                                                            </tr>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                                </tbody>
                                            </table> 
                                        </div>
                                        <div class="tab-form">
                                            <div class="row" style="padding-left:0px;">
                                                <div class="col-md-4 col-sm-5 col-xs-3 ">
                                                    <div class="form-group">
                                                        <label><?php echo $form->non_customer_cost->renderLabel() ?></label>
                                                        <?php echo $form->id->renderViewHelper(); ?>
                                                        <?php echo $form->non_customer_cost->renderViewHelper(); ?>
                                                        <?php echo $form->non_customer_cost->renderErrors(); ?>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label><?php echo $form->taxing_scheme->renderLabel() ?></label>
                                                        <?php echo $form->id->renderViewHelper(); ?>
                                                        <?php echo $form->taxing_scheme->renderViewHelper(); ?>
                                                        <?php echo $form->taxing_scheme->renderErrors(); ?>
                                                    </div>

                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label><?php echo $form->pricing_currency->renderLabel() ?></label>
                                                        <?php echo $form->id->renderViewHelper(); ?>
                                                        <?php echo $form->pricing_currency->renderViewHelper(); ?>
                                                        <?php echo $form->pricing_currency->renderErrors(); ?>
                                                    </div>

                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-6 ">
                                                    <div class="tab-middle-main">

                                                        <div class="form-group" id="req_ship_date_div" style="display:none">
                                                            <label><?php echo $form->req_ship_date->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->req_ship_date->renderViewHelper(); ?>
                                                            <?php echo $form->req_ship_date->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label><?php echo $form->remarks->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->remarks->renderViewHelper(); ?>
                                                            <?php echo $form->remarks->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                    <?php        if($this->id) { ?>
                                                            <button type="button" class="btn btn-warning" onclick="SalesQuote.ConvertSalesQuoteIntoOrder();">Convert Into Order</button>
                                                    <?php        if($this->order_status == "Rejected") { ?> 
                                                                    <button type="button" class="btn btn-success" id="reopen_button" onclick="SalesQuote.RegenerateQuote();">Regenerate</button>
                                                             <?php       }
                                                                    else {  ?>
                                                            <button type="button" class="btn btn-danger" onclick="SalesQuote.CancelQuote();">Reject Quote</button>
                                                    <?php 
                                                                    }
                                                                    } ?>
                                                        </div>

                                                    </div>
                                                </div>




                                                <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1">
                                                    <div class="tab-form-right">
                                                        <div class="form-group">
                                                            <label><?php echo $form->sub_total->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->sub_total->renderViewHelper(); ?>
                                                            <?php echo $form->sub_total->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group" id="tax1_div" style="display:none">
                                                            <label><?php echo $form->tax1_name->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->tax1_name->renderViewHelper(); ?>
                                                            <?php echo $form->tax1_name->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group" id="tax2_div" style="display:none">
                                                            <label><?php echo $form->tax2_name->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->tax2_name->renderViewHelper(); ?>
                                                            <?php echo $form->tax2_name->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group" id="freight_div" style="display:none">
                                                            <label><?php echo $form->freight->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->freight->renderViewHelper(); ?>
                                                            <?php echo $form->freight->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>

                                                        <div class="form-group">
                                                            <label><?php echo $form->total->renderLabel() ?></label>
                                                            <?php echo $form->id->renderViewHelper(); ?>
                                                            <?php echo $form->total->renderViewHelper(); ?>
                                                            <?php echo $form->total->renderErrors(); ?>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <?php if ($this->sqList) { ?>
                                                            <input type="hidden" id="flag" value="<?php echo $this->sqList[0]['order_id']; ?>">
                                                        <?php } else {
                                                            ?>
                                                            <input type="hidden" id="flag" value="">
                                                        <?php }
                                                        ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    function toggleDiv(divId) {
        $("#" + divId).toggle();
    }

</script>

<script>
    $(document).click(function () {
        $('#Div_1, #Div_2, #Div_3, #Div_4, #Div_5, #Div_6, #bottom_1, #bottom_2, #bottom_3, #bottom_4, #bottom_5, #bottom_6 ').hide();
    });

    $(document).ready(function () {
        $(".flip").hover(function () {
            $(this).children('div.hov').show();
        }, function () {
            $(this).children('div.hov').hide();
        });
    });
    $("#quote_date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });




    $("#req_ship_date").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });


    $(document).ready(function () {
        $('#list-grid1').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
        });
    });
    $("#customer").change(function () {
        SalesQuote.customerFetch();
    });

    $("#taxing_scheme").change(function () {
        var taxing = $("#taxing_scheme").val();
        var order_id = $("#id").val();
        if (!taxing) {
            $("#tax1_div").hide('fast');
            $("#tax2_div").hide('fast');
            SalesQuote.taxingScheme(order_id);
        }
        else {
            $("#tax1_div").show('fast');
            $("#tax2_div").show('fast');
            SalesQuote.taxingScheme(order_id);
        }
    });

    $("#freight").change(function () {
        var order_id = $("#flag").val();
        SalesQuote.taxingScheme(order_id);
    });
    $("#sales_item_id").change(function () {
        SalesQuote.PriceByProductId();
    });

    $("#sales_discount").change(function () {
        SalesQuote.subTotalFetch();
    });
    $("#sales_quantity").change(function () {
        SalesQuote.subTotalFetch();
    });

    $("#sales_unit_price").change(function () {
        SalesQuote.subTotalFetch();
    });

    $(document).ready(function () {
        var id = $("#id").val();
        $.ajax({
            type:"POST",
            url: "/sales-quote/fetch-sub-total",
            dataType: "json",
            data: {id: id},
            success: function (data) {
                $("#sub_total_1").val(data.sub_total);
                var order_id = $("#flag").val();
                SalesQuote.taxingScheme(order_id);
            }
        });

    });

    if ($.trim($('#customer').val()).length != 0) {
        SalesQuote.customerFetch();
    }
    if ($.trim($('#taxing_scheme').val()).length != 0) {
        $("#tax1_div").show('fast');
        $("#tax2_div").show('fast');
        $("#freight_div").show('fast');
    }

    $("#pricing_currency").change(function () {
        var currency_id = $("#pricing_currency").val();
        if (currency_id) {
            $.ajax({
                type: 'POST',
                url: "/pricing-currency/make-default-pricing-currency",
                data: {id: currency_id},
                beforeSend: function ()
                {
                    $.blockUI({message: '<h1>Please Wait...</h1>'});
                },
                success: function (data)
                {
                    $(document).ajaxStop($.unblockUI);
//                    document.location.href = '/sales-order/add';
                    $("#sales_item_id").val('');
                    $("#sales_quantity").val('');
                    $("#sales_unit_price").val('');
                    $("#sales_discount").val('');
                    $("#sales_total").val('');
                    $("#pricing_currency").val(currency_id);

                }
            });
        }
    });
    $(document).ready(function() {
        SalesQuote.CancelledCheck();
        Customers.ChangeAddress();
    });
</script>


