<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>List of Sales Quote</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button onclick="SalesQuote.Add();" id="addNew"class="btn btn-info" type="button">
                                Add Sales Quote
                            </button>
                        </div>
                    </div> 
                </div>
                
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Order #</th>
                            <th>Order_status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Order #</th>
                            <th>Order_status</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->sales_quote_data) > 0) {
                            foreach ($this->sales_quote_data as $data) {
                                ?>
                                <tr id="tr-<?php echo $data['id']; ?>">
                                    <td><?php echo $data['id']; ?></td>
                                    <td><?php echo $data['order_id']; ?></td>
                                    <td><?php echo $data['order_status']; ?></td>
                                    <td>
                                        <a htef="#" onclick="SalesQuote.Edit(<?php echo $data['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
                                        <a htef="#" onclick="SalesQuote.delete(<?php echo $data['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>


<script>
                $(document).ready(function() {
                    $('#list-grid').dataTable({
                        "processing": true,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "order": [[0, "desc"]],
                        "columnDefs": [ { orderable: false, targets: [3] }]
                    });
                });

</script>
