<?php $orderData = $this->orderMasData; ?>

<div class="row " style="margin:0px;">
    <div class="col-md-12">
        <div class="page-header" style="margin:0 0 10px 0;">
            <div class="row">
                <div class="col-md-6" style="margin-top:10px;">
                    <img src="/img/blue_chip_logo.png"  width="120px"><br><br>
                    <span>
                        <strong><?php echo $this->companyInfo['name']; ?></strong><br>
                        <?php echo nl2br($this->companyInfo['address']); ?>-
                        <?php echo $this->companyInfo['zip_code']; ?><br>
                        <?php echo $this->companyInfo['website']; ?><br>
                        <b>Phone:</b> <?php echo $this->companyInfo['phone']; ?><br>
                        <b>Email:</b> <?php echo $this->companyInfo['email']; ?>
                    </span>
                </div>
                <div class="col-md-6 btn-top-right" style="color:#e96739;"><h2>SALES QUOTE</h2></div>
            </div> 
        </div>        
    </div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-bordered" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td><b>Customer Address</b></td>
                    <td colspan="2">
                        <?php echo $orderData['customer_name']; ?>
                    </td>
                    <td></td>
                    <td><b>Order</b></td>
                    <td><?php echo $orderData['order_id']; ?></td>
                </tr>
                <tr>
                    <td><b>Customer Address</b></td>
                    <td colspan="2">
                        <?php echo $orderData['customer_address']; ?><br>
                    </td>
                    <td></td>
                    <td><b>Order Date</b></td>
                    <td><?php echo $orderData['so_date']; ?></td>
                </tr>
                <tr>
                    <td><b>Contact</b></td>
                    <td colspan="2"><?php echo $orderData['contact_name']; ?></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td colspan="2"><?php echo $orderData['customer_phone']; ?></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Requested Ship Date</b></td>
                    <td colspan="2"><?php echo $orderData['req_shipping_date'] == '00/00/0000'? '' :$orderData['req_shipping_date']; ?></td>
                    <td></td>
                    <td><b>Payment term</b></td>
                    <td><?php echo $orderData['term']; ?></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th></th>
                    <th class="talign-right">Quantity</th>
                    <th class="talign-right">Unit price</th>
                    <th class="talign-right">Discount</th>
                    <th class="talign-right">Sub total</th>

                </tr>
            </thead>

            <tbody>
                <?php
                if (count($this->productList) > 0) {
                    foreach ($this->productList as $productList) {
                        ?>
                        <tr>                          
                            <td><?php echo $productList['product_name']; ?></td>
                            <td></td>
                            <td class="talign-right"><?php echo $productList['quantity']; ?></td>
                            <td class="talign-right"><?php echo $productList['unit_price']; ?></td>
                            <td class="talign-right"><?php echo $productList['discount']; ?></td>
                            <td class="talign-right"><?php echo $productList['sub_total']; ?></td>
                        </tr>
                        <?php
                    }
                }
                ?>

            </tbody>
        </table> 
    </div>
    <div class="col-md-4 btn-top-right" style="float: right;">
        <table id="list-grid" class="table table-bordered" cellspacing="0" width="30%">
            <tbody>
                <tr>
                    <td><b>Sub Total</b></td>
                    <td ><?php echo ($this->subtotal); ?></td>
                </tr>

                <?php
                $tax1 = '';
                $tax2 = '';
                if ($this->schemeData['tax_on_shipping'] == 0 && $this->schemeData['secondary_tax_on_shipping'] == 0) {
                    $tax1 = number_format($this->subtotal * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                    if ($this->schemeData['compound_secondary']) {
                        $total = $this->subtotal + $tax1;
                        $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    } else {
                        $tax2 = number_format($this->subtotal * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    }
                    ?>
                    <?php if ($this->schemeData['tax_name']) { ?>
                        <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                        </tr> 
                    <?php } if ($this->schemeData['secondary_tax_name']) { ?>

                        <tr>
                            <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                            <td ><?php echo $tax2; ?></td>
                        </tr>
                    <?php } ?>
                        <tr>
                            <td><b>Freight</b></td>
                            <td>0.00</td>
                        </tr>
                        <?php
                    } else if ($this->schemeData['tax_on_shipping'] == 1 && $this->schemeData['secondary_tax_on_shipping'] == 0) {
                        $tax1 = number_format(($this->subtotal + $this->freight ) * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                        if ($this->schemeData['compound_secondary']) {
                            $total = $this->subtotal + $tax1;
                            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        } else {
                            $tax2 = number_format($this->subtotal * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        }
                        ?>
                        <?php if ($this->schemeData['secondary_tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                            <td ><?php echo $tax2; ?></td>
                            </tr>
                        <?php } ?>
                        <tr >
                        <td><b>Freight</b></td>
                        <td ><?php echo $this->freight; ?></td>
                    </tr>

                    <?php if ($this->schemeData['tax_name']) { ?>
                        <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                        </tr>
                    <?php } ?>

                    <?php
                } else if ($this->schemeData['tax_on_shipping'] == 1 && $this->schemeData['secondary_tax_on_shipping'] == 1) {
                    $total = $this->subtotal + $this->freight;
                    $tax1 = number_format($total * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                    if ($this->schemeData['compound_secondary']) {
                        $total = $total + $tax1;
                        $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    } else {
                        $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                    }
                    ?>
                    <tr>
                        <td><b>Freight</b></td>
                        <td ><?php echo $this->freight; ?></td>
                        </tr>
                        <?php if ($this->schemeData['tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                            </tr>
                        <?php } if ($this->schemeData['secondary_tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                            <td ><?php echo $tax2; ?></td>
                            </tr>
                        <?php } ?>
                        <?php
                    } else if ($this->schemeData['tax_on_shipping'] == 0 && $this->schemeData['secondary_tax_on_shipping'] == 1) {
                        $total = $this->subtotal + $this->freight;
                        $tax1 = number_format($this->subtotal * $this->schemeData['tax_rate'] / 100, 2, '.', '');
                        if ($this->schemeData['compound_secondary']) {
                            $total = $total + $tax1;
                            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        } else {
                            $tax2 = number_format($total * $this->schemeData['secondary_tax_rate'] / 100, 2, '.', '');
                        }
                        ?>
                        <?php if ($this->schemeData['tax_name']) { ?>
                            <tr>
                            <td><b><?php echo $this->schemeData['tax_name']; ?></b></td>
                            <td ><?php echo $tax1; ?></td>
                            </tr>
                        <?php } ?>
                        <tr>
                        <td><b>Freight</b></td>
                        <td ><?php echo $this->freight; ?></td>
                    </tr>

                    <tr>
                        <td><b><?php echo $this->schemeData['secondary_tax_name']; ?></b></td>
                        <td ><?php echo $tax2; ?></td>
                    </tr>

                    <?php
                }
                $totalWithTax = number_format($this->subtotal + $tax1 + $tax2 + $this->freight, 2, '.', '');
                ?>

                <tr>
                    <td><b>TOTAL</b></td>
                    <td ><?php echo $totalWithTax; ?></td>
                </tr>

            </tbody>
        </table>


    </div>
</div>