<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<form id="frmorder"  enctype="application/x-www-form-urlencoded" action="/work-order/add"
      onsubmit="return PurchaseOrder.ValidateOrder();"  method="post"> 
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li1">New</button>
                        <button type="submit" class="btn btn-default li2">Save</button>
                        <button type="button"  onclick="WorkOrder.GoToList();" class="btn btn-default li9 font-bold">Back to Order List</button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="main-left">
                            <div class="form-group">
                                <label for="exampleInputName2">Location Name</label>
                                <input type="hidden" class="form-control" id="id" name="id">
                                <select id="location_id" name="location_id" class="left-texts  custom-select">
                                    <?php foreach ($this->locations as $location) { ?>                                
                                        <option value="<?php echo $location['id']; ?>"><?php echo $location['name']; ?></option>
                                    <?php } ?>
                                </select>
                                <div id="venError" class="error-inner"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Remarks</label>
                                <textarea id="remarks" name="remarks" class="form-control" rows="2"></textarea>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-offset-2">
                        <div class="form-group" id="terms_div">
                            <label for="exampleInputEmail2">Status</label>
                            <input value="Entered" class="form-control" type="text" id="status" name="status" readonly>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2 ">Order Type</label>
                            <select id="order_type" name="order_type" class="left-texts  custom-select">
                                <?php foreach ($this->orderTypesData as $types) { ?>                                
                                    <option value="<?php echo $types['id']; ?>"><?php echo $types['name']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-offset-1">
                        <div class="form-right">
                            <div class="form-group">
                                <label for="exampleInputName2">Work order#</label>
                                <input type="text" readonly class="form-control" id="order_id" name="order_id" placeholder="">
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Order Date</label>
                                <input value="<?php echo date('d/m/Y')?>" type="text" readonly class="form-control" id="order_date" name="order_date" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Details</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Materials</a></li>
                                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">WO details</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Add products</legend>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="required">Product name</label>

                                                        <input id="product_record_id" name="product_record_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        <select class="left-texts custom-select" id="product_code" name="product_code">
                                                            <option value="">Please Select</option>
                                                            <?php foreach ($this->productData as $products) { ?>                                
                                                                <option value="<?php echo $products['id']; ?>"><?php echo $products['product_name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                        <div id="perror" class="error-inner"></div>
                                                    </div>
                                                </div>
                                              
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="quantity" type="text" class="form-control" value='' onchange=" PurchaseOrder.calcSubTotal();" placeholder="Add Quantity" />
                                                        <div id="qtyerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 mt-20">
                                                    <button type="button"  onclick="WorkOrder.AddProduct();" class="btn btn-success">Add Product</button>
                                                    <br>
                                                </div>

                                                <div id="product-list">
                                                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Status</th>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Date Scheduled</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Status</th>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Date Scheduled</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <?php
                                                            if (count($this->productList) > 0) {
                                                                foreach ($this->productList as $productList) {
                                                                    ?>
                                                                    <tr id="tr-<?php echo $productList['id']; ?>">
                                                                        <td><?php echo $productList['product_status']; ?></td>
                                                                        <td><?php echo $productList['product_name']; ?></td>
                                                                        <td><?php echo $productList['quantity']; ?></td>
                                                                        <td><?php echo $productList['date_scheduled']; ?></td>
                                                                        <td>                                                                        
                                                                        </td>
                                                                    </tr>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </fieldset>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "columnDefs": [ { orderable: false, targets: [0,4] }]
        });

        $("#order_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });

    });
   
</script>