<div id="bom-list">
 <div class="col-lg-12 text-r mb-10">
        <button type="button"  onclick="WorkOrder.CreatePurchase();" class="btn btn-success btn-sm">Create Purchase</button>
    </div>
    <div class="col-lg-12">
    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr class="tblHead">
                <th>Status</th>
                <th>Product Id</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Quantity Used</th>
                <th>Stock Qty</th>
                <th>Add to PO</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <?php
            $checkStock =0;
            if (count($this->bomProducts) > 0) {
                foreach ($this->bomProducts as $bomData) {
                     if($bomData['avilQty']< $bomData['quantity'] && $bomData['work_status'] == 'Entered') { 
                         $bColor='#f2dede';
                         $flagQ = 'U';
                     } else {
                         $bColor='#fff';
                         $flagQ = 'A';
                     }
                    ?>
                    <tr style="background-color: <?php echo $bColor;?>">
                        <td><?php echo $bomData['work_status']; ?></td>
                        <td><input type="hidden" name="chkId" id="chkId-<?php echo $bomData['bomId']; ?>" value="<?php echo $flagQ; ?>"/>
                            <?php echo $bomData['id']; ?></td>
                        <td><?php echo $bomData['product_name']; ?></td>
                        <td><?php echo $bomData['quantity']; ?></td>
                        <td><?php echo $bomData['quantity_used']; ?></td>
                        <td><?php echo $bomData['avilQty']; ?>
                        </td>
                        <td>
                            <?php if($bomData['avilQty']< $bomData['quantity']) { ?>
                                <input type="checkbox" name="pochk" id="pochk" value="<?php echo $bomData['id'].'-'.$bomData['quantity']; ?>"/>
                            <?php } ?>
                        </td>
                        <td>
                            <?php if ($bomData['work_status'] == 'Entered') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Start" onclick="WorkOrder.updateBomStatus(<?php echo $bomData['bomId']; ?>,<?php echo $this->id; ?>,'Started');"> 
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true" ></span>
                                </a>
                            <? } ?>
                            <?php if ($bomData['work_status'] == 'Started' ) { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Committed" onclick="WorkOrder.updateBomStatus(<?php echo $bomData['bomId']; ?>,<?php echo $this->id; ?>,'Committed');"> 
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true" ></span>
                                </a>
                            <?php } if ($bomData['work_status'] == 'Started' || $bomData['work_status'] == 'Committed') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Finish" onclick="WorkOrder.updateBomStatus(<?php echo $bomData['bomId']; ?>,<?php echo $this->id; ?>,'Finished');"> 
                                    <span class="glyphicon glyphicon-check" aria-hidden="true" ></span>
                                </a>
                            <?php } ?>
                            <?php if ($bomData['work_status'] == 'Started') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Void" onclick="WorkOrder.voidBomStatus(<?php echo $bomData['bomId']; ?>,<?php echo $this->id; ?>);"> 
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                                </a>
                            <?php } ?>
                        </td>
                    </tr>
                    <?php
                }
            }
            ?>

        </tbody>
    </table>
</div>
    <div class="col-lg-12 text-r">
        <button type="button" onclick="WorkOrder.CreatePurchase();" class="btn btn-success btn-sm">Create Purchase</button>
    </div>
    
    
    <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>

