<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
           <th>Status</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Date Scheduled</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Status</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Date Scheduled</th>
            <th>Action</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productList) > 0) {
            foreach ($this->productList as $productList) {
                ?>
                <tr id="tr-<?php echo $productList['id']; ?>">
                    <td><?php echo $productList['product_status']; ?></td>
                    <td><?php echo $productList['product_name']; ?></td>
                    <td><?php echo $productList['quantity']; ?></td>
                    <td><?php echo $productList['date_scheduled']; ?></td>
                    <td>
                        <?php if ($this->workOrder['order_status'] == 'Issued' || $this->workOrder['order_status'] == 'Partial') { ?>
                            <?php if ($productList['product_status'] == 'Entered') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Start" onclick="WorkOrder.StartOrder(<?php echo $productList['id']; ?>);"> 
                                    <span class="glyphicon glyphicon-flag" aria-hidden="true" ></span>
                                </a>
                            <?php } ?>
                            <?php if ($productList['product_status'] <> 'Entered') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="To Pick" onclick="WorkOrder.bomPopup(<?php echo $productList['id']; ?>);"> 
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true" ></span>
                                </a>
                            <?php } ?>

                            <?php if ($productList['product_status'] == 'Started') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Finish" onclick="WorkOrder.FinishOrder(<?php echo $productList['id']; ?>);"> 
                                    <span class="glyphicon glyphicon-check" aria-hidden="true" ></span>
                                </a>
                            <?php } ?>
                            <?php if ($productList['product_status'] == 'Entered') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Remove" onclick="WorkOrder.deleteProduct(<?php echo $productList['id']; ?>);"> 
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                </a>
                            <?php }
                        } else { ?>
                            <?php if ($productList['product_status'] == 'Fulfilled') { ?>
                                <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="View work" onclick="WorkOrder.bomPopup(<?php echo $productList['id']; ?>);"> 
                                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true" ></span>
                                </a>
                            <?php } ?>
                            <?php if ($productList['product_status'] == 'Entered') { ?>
                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Remove" onclick="WorkOrder.deleteProduct(<?php echo $productList['id']; ?>);"> 
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                    </a>
                            <?php } } ?>
                    </td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
        $(document).ready(function() {
            $('#list-grid').dataTable({
                "processing": true,
                "paging": true,
                "ordering": true,
                "info": true,
                "order": [[1, "desc"]],
                "columnDefs": [ { orderable: false, targets: [0,4] }]
            });
        });
</script>