<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<form id="frmorder"  enctype="application/x-www-form-urlencoded" action="/work-order/add"
      onsubmit=""  method="post"> 
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li1">New</button>
                        <?php if($this->workOrder['order_status']<>'Fulfilled' ){ ?>
                            <button type="submit" class="btn btn-default li2">Save</button>
                            <?php if ($this->workOrder['order_status'] == 'Entered') { ?>
                                <button type="button" onclick="WorkOrder.IssueOrder();" class="btn btn-default li5">Issue</button>
                            <?php } else { ?>
                                <button type="button" onclick="WorkOrder.UnissueOrder();" class="btn btn-default li5">Unissue</button>
                            <?php } 
                        }?>
                        <button type="button"  onclick="WorkOrder.GoToList();" class="btn btn-default li9 font-bold">Back to Order List</button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="main-left">
                            <div class="form-group">
                                <label for="exampleInputName2">Location Name</label>
                                <input type="hidden" class="form-control" id="id" name="id" value="<?php echo $this->id; ?>">
                                <select id="location_id" name="location_id" class="left-texts  custom-select">
                                    <?php foreach ($this->locations as $location) { ?>                                
                                        <option value="<?php echo $location['id']; ?>" <?php echo ($this->workOrder['location_id'] == $location['id']) ? 'selected' : ''; ?>><?php echo $location['name']; ?></option>
                                    <?php } ?>
                                </select>
                                <div id="venError" class="error-inner"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Remarks</label>
                                <textarea id="remarks" name="remarks" class="form-control" rows="2"><?php echo $this->workOrder['remarks']; ?></textarea>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-offset-2">
                        <div class="form-group" id="terms_div">
                            <label for="exampleInputEmail2">Status</label>
                            <input value="<?php echo $this->workOrder['order_status']; ?>" class="form-control" type="text" id="status" name="status" readonly>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group">
                            <label for="exampleInputEmail2 ">Order Type</label>
                            <select id="order_type" name="order_type" class="left-texts  custom-select">
                                <?php foreach ($this->orderTypesData as $types) { ?>                                
                                    <option value="<?php echo $types['id']; ?>"><?php echo $types['name']; ?></option>
                                <?php } ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-md-offset-1">
                        <div class="form-right">
                            <div class="form-group">
                                <label for="exampleInputName2">Work order#</label>
                                <input type="text" readonly class="form-control" id="order_id" name="order_id" value="<?php echo $this->workOrder['work_order_no']; ?>">
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group">
                                <label for="exampleInputEmail2">Order Date</label>
                                <input value="<?php echo $this->workOrder['scheduled_date']; ?>" type="text" readonly class="form-control" id="order_date" name="order_date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">General</a></li>
                                <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
                                <li role="presentation"><a href="#materials" aria-controls="materials" role="tab" data-toggle="tab">Materials</a></li>
                                <li role="presentation"><a href="#wodetails" aria-controls="wodetails" role="tab" data-toggle="tab">WO details</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="container-fluid" style="padding-left:0px;">
                                        <div class="row" >
                                            <fieldset>
                                                <legend>Products</legend>
                                                <?php if($this->workOrder['order_status']<>'Fulfilled' ){ ?>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="required">Product name</label>

                                                        <input id="product_record_id" name="product_record_id" type="hidden" class="form-control" value='' placeholder="" />
                                                        <select class="left-texts custom-select" id="product_code" name="product_code">
                                                            <option value="">Please Select</option>
                                                            <?php foreach ($this->productData as $products) { ?>                                
                                                                <option value="<?php echo $products['id']; ?>"><?php echo $products['product_name']; ?></option>
                                                            <?php } ?>
                                                        </select>
                                                        <div id="perror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label class="required">Quantity</label>
                                                        <input id="quantity" type="text" class="form-control" value='' onchange=" PurchaseOrder.calcSubTotal();" placeholder="Add Quantity" />
                                                        <div id="qtyerror" class="error-inner"></div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 mt-20">
                                                    <button type="button"  onclick="WorkOrder.AddProduct();" class="btn btn-success">Add Product</button>
                                                    <br>
                                                </div>
                                                <?php } ?>

                                                <div id="product-list">
                                                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Status</th>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Date Scheduled</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <th>Status</th>
                                                                <th>Product name</th>
                                                                <th>Quantity</th>
                                                                <th>Date Scheduled</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <?php
                                                            if (count($this->productList) > 0) {
                                                                foreach ($this->productList as $productList) {
                                                                    ?>
                                                                    <tr id="tr-<?php echo $productList['id']; ?>">
                                                                        <td><?php echo $productList['product_status']; ?></td>
                                                                        <td><?php echo $productList['product_name']; ?></td>
                                                                        <td><?php echo $productList['quantity']; ?></td>
                                                                        <td><?php echo $productList['date_scheduled']; ?></td>
                                                                        <td>
                                                                            <?php if ($this->workOrder['order_status'] == 'Issued' || $this->workOrder['order_status'] == 'Partial') { ?>
                                                                                <?php if ($productList['product_status'] == 'Entered') { ?>
                                                                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Start" onclick="WorkOrder.StartOrder(<?php echo $productList['id']; ?>);"> 
                                                                                        <span class="glyphicon glyphicon-flag" aria-hidden="true" ></span>
                                                                                    </a>
                                                                                <?php } ?>
                                                                                <?php if ($productList['product_status'] <> 'Entered') { ?>
                                                                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="To Pick" onclick="WorkOrder.bomPopup(<?php echo $productList['id']; ?>);"> 
                                                                                        <span class="glyphicon glyphicon-hand-right" aria-hidden="true" ></span>
                                                                                    </a>
                                                                                <?php } ?>
                                                                            
                                                                                <?php if ($productList['product_status'] == 'Started') { ?>
                                                                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Finish" onclick="WorkOrder.FinishOrder(<?php echo $productList['id']; ?>);"> 
                                                                                        <span class="glyphicon glyphicon-check" aria-hidden="true" ></span>
                                                                                    </a>
                                                                                <?php } ?>
                                                                                <?php if ($productList['product_status'] == 'Entered') { ?>
                                                                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Remove" onclick="WorkOrder.deleteProduct(<?php echo $productList['id']; ?>);"> 
                                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                                    </a>
                                                                                <?php }
                                                                            } else { ?>
                                                                            <?php if ($productList['product_status'] == 'Fulfilled') { ?>
                                                                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="View work" onclick="WorkOrder.bomPopup(<?php echo $productList['id']; ?>);"> 
                                                                                        <span class="glyphicon glyphicon-hand-right" aria-hidden="true" ></span>
                                                                                    </a>
                                                                                <?php } ?>
                                                                            <?php if ($productList['product_status'] == 'Entered') { ?>
                                                                                    <a class="mr-10" htef="#" data-toggle="tooltip" data-placement="top" title="Remove" onclick="WorkOrder.deleteProduct(<?php echo $productList['id']; ?>);"> 
                                                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                                                                                    </a>
                                                                            <?php } } ?>
                                                                        </td>
                                                                    </tr>
                                                                    <?php
                                                                }
                                                            }
                                                            ?>

                                                        </tbody>
                                                    </table> 
                                                </div>
                                            </fieldset>
                                        </div> 
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane" id="details">
                                    <div class="container-fluid" style="padding:10px;">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4">
                                                <div class="main-left">
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Date Created:</label>
                                                        <?php echo $this->workOrder['created']; ?>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Date Issued:</label>
                                                        <?php echo $this->workOrder['date_issued']; ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-md-offset-2">
                                                <div class="form-group" id="terms_div">
                                                    <label for="exampleInputEmail2">Date fulfilled:</label>
                                                    <?php echo $this->workOrder['date_fulfilled']; ?>
                                                </div>
                                                <div class="clearfix"></div>

                                            </div>
                                            <div class="col-md-3 col-sm-4 col-md-offset-1">
                                                <div class="form-right">
                                                    <div class="form-group">
                                                        <label for="exampleInputName2">Last user:</label>
                                                        <?php echo $this->workOrder['updated_by']; ?>
                                                    </div>
                                                    <div class="clearfix"></div>

                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Last modify:</label>
                                                        <?php echo $this->workOrder['updated']; ?>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                
                                <div role="tabpanel" class="tab-pane" id="materials">
                                    <div class="container-fluid" style="padding:10px;">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <?php 
                                            $i =0;
                                            foreach($this->bomProducts as $val) { ?>
                                            
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading-<?php echo $val['id']; ?>">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<?php echo $val['id']; ?>" aria-expanded="true" aria-controls="collapseOne">
                                                            <?php echo $val['id'].'-'.$val['product_name']; ?>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse-<?php echo $val['id']; ?>" class="panel-collapse collapse <?php echo ($i==0)?'in':''; ?>" role="tabpanel" aria-labelledby="heading-<?php echo $val['id']; ?>">
                                                    <div class="panel-body">
                                                        <div class="row" >
                                                            <div id="product-list">
                                                                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Product Id</th>
                                                                            <th>Product name</th>
                                                                            <th>Quantity</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <?php
                                                                        if (count($val['bom']) > 0) {
                                                                            foreach ($val['bom'] as $bomData) {
                                                                                ?>
                                                                                <tr id="tr-<?php echo $bomData['id']; ?>">
                                                                                    <td><?php echo $bomData['id']; ?></td>
                                                                                    <td><?php echo $bomData['product_name']; ?></td>
                                                                                    <td><?php echo $bomData['quantity']; ?></td>
                                                                                </tr>
                                                                                <?php
                                                                            }
                                                                        }
                                                                        ?>

                                                                    </tbody>
                                                                </table> 
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <?php 
                                            
                                            $i++;
                                             } ?>
                                        </div>


                                    </div>
                                </div>
                                
                                <div role="tabpanel" class="tab-pane" id="wodetails">
                                    <div class="container-fluid" style="padding:10px;">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            <?php 
                                            $i=0;
                                            foreach($this->bomProducts as $val) { ?>
                                            
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="heading-wo-<?php echo $val['id']; ?>">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-wo-<?php echo $val['id']; ?>" aria-expanded="true" aria-controls="collapseOne">
                                                            <?php echo $val['id'].'-'.$val['product_name']; ?>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse-wo-<?php echo $val['id']; ?>" class="panel-collapse collapse <?php echo ($i==0)?'in':''; ?>" role="tabpanel" aria-labelledby="heading-wo-<?php echo $val['id']; ?>">
                                                    <div class="panel-body">
                                                        <div class="row" >
                                                            <div id="product-list">
                                                                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Product Id</th>
                                                                            <th>Product name</th>
                                                                            <th>Quantity</th>
                                                                            <th>Quantity Used</th>
                                                                        </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                        <?php
                                                                        if (count($val['bom']) > 0) {
                                                                            foreach ($val['bom'] as $bomData) {
                                                                                ?>
                                                                                <tr id="tr-<?php echo $bomData['id']; ?>">
                                                                                    <td><?php echo $bomData['id']; ?></td>
                                                                                    <td><?php echo $bomData['product_name']; ?></td>
                                                                                    <td><?php echo $bomData['quantity']; ?></td>
                                                                                    <td><?php echo $bomData['quantity_used']; ?></td>
                                                                                </tr>
                                                                                <?php
                                                                            }
                                                                        }
                                                                        ?>

                                                                    </tbody>
                                                                </table> 
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                            <?php $i++;
                                            } ?>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "processing": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "searching": false,
            "columnDefs": [{orderable: false, targets: [0, 4]}]
        });

        $("#order_date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            minDate: 0
        });

    });

</script>