<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>List of Work Order</h3></div>
                    </div> 
                </div>
                
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Order#</th>
                            <th>Work order no</th>
                            <th>Order date</th>
                            <th>Status</th>
                            <th>Order type</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Order#</th>
                            <th>Work order no</th>
                            <th>Order date</th>
                            <th>Status</th>
                            <th>Order type</th>
                            <th>Location</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->orderData) > 0) {
                            foreach ($this->orderData as $orders) {
                                ?>
                                <tr id="tr-<?php echo $orders['id']; ?>">
                                    <td><?php echo $orders['id']; ?></td>
                                    <td><?php echo $orders['work_order_no']; ?></td>
                                    <td><?php echo $orders['scheduled_date']; ?></td>
                                    <td><?php echo $orders['order_status']; ?></td>
                                    <td><?php echo $orders['order_type']; ?></td>
                                    <td><?php echo $orders['location']; ?></td>
                                    <td>
                                        <a htef="#" onclick="WorkOrder.edit(<?php echo $orders['id']; ?>);"> 
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                                        </a>
                                       
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>


<script>
                $(document).ready(function() {
                    $('#list-grid').dataTable({
                        "processing": true,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "order": [[1, "desc"]],
                        columnDefs: [
                            { type: 'natural', targets: 0 },{ orderable: false, targets: [6] }
                          ]
                          
                    });
                });

</script>
