<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>



<input id="product_name" id="product_name" type="text" class="form-control custom-select" placeholder="Select Product" value=''/>


<script>
    $(document).ready(function () {       
        // simple example
        $('#product_name').immybox({
          choices: <?php echo $this->productData; ?>  
          ,
          defaultSelectedValue: '1'
        });

      });
    </script>
