<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-purchase-details?vendor_id=<?php echo $this->vendor_id; ?>&product_name=<?php echo $this->product_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Order#</th>
            <th>Order Date</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Currency Code</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Order#</th>
            <th>Order Date</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Currency Code</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            foreach ($this->pDetailsData as $key => $value) {
                if(count($value)>0){
                $oid = $key;
                ?>
                <tr>
                    <td><b>PO-<?php echo $oid; ?></b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <?php foreach ($value as $vData) { ?>
                    <tr>
                        <td><?php echo $vData['product_name']; ?></td>
                        <td>PO-<?php echo $vData['order_id']; ?></td>
                        <td><?php echo $vData['po_date']; ?></td>
                        <td><?php echo $vData['vendor_name']; ?></td>
                        <td><?php echo $vData['payment_status']; ?></td>
                        <td><?php echo $vData['currency_code']; ?></td>
                        <td><?php echo $vData['quantity']; ?></td>
                        <td><?php echo $vData['sub_total']; ?></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b><?php $tot =  Application_Model_PurchasePeer::fetchSubTotalById($oid);
                                echo $tot['sub_total'];
                    ?></b></td>
                </tr>
            <?php
            }
          }
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>
