<div style="margin:0;">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="container-fluid btn-back">
                                <div class="col-md-8 ">
                                    <div class="btn-group" role="group" style="padding:0px;">
                                        <button type="button" class="btn btn-default li2">Export</button>
                                        <a target="blank" href="/reports/print-inventory-movement?product_name=<?php echo $this->product_name ;?>&location=<?php echo $this->location ;?>&category=<?php echo $this->category ;?>"> <button type="button" class="btn btn-default li4">Print</button></a>
<!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div> 
                </div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
        <tr>
            <th>Product Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remarks</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
           <th>Product Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remarks</th>
            <th>Quantity</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                ?>
                                
                <tr>
                    <td><?php echo $value['product_name']; ?></td>
                    <td><?php echo $value['type']; ?></td>
                    <td><?php echo $value['movement_date']; ?></td>
                    <td><?php echo $value['location_name']; ?></td>
                    <td><?php echo $value['order_id']; ?></td>
                    <td><?php echo $value['quantity']; ?></td>
                </tr>
                
            <?php }
        } else {
        ?>
        <tr>
            <td colspan="6">No Data Available</td>
        </tr>
        <?php } ?>

    </tbody>
</table>

