<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-customer-list?customer_id=<?php echo $this->customer_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->customerData) > 0) {
            foreach ($this->customerData as $key => $value) {
            ?>
            <tr>
                <td><?php echo $value['customer_name']; ?></td>
                <td><?php echo $value['contact_name']; ?></td>
                <td><?php echo $value['contact_phone']; ?></td>
                <td><?php echo $value['contact_email']; ?></td>
                <td><?php echo nl2br($value['address']); ?></td>
            </tr>
            <?php }    
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>
