
<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-inventory-movement-summary?category=<?php echo $this->category_id ?>&product=<?php echo $this->product_id ?>&location=<?php echo $this->location_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remarks</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remarks</th>
            <th>Quantity</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                if (count($value) > 0) {
                    ?>
                    <tr>
                        <td><b><?php echo $key; ?></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <?php
                    foreach ($value as $vData) {
                        ?>
                        <tr>
                            <td><?php echo $vData['product_name']; ?></td>
                            <td><?php echo $vData['type']; ?></td>
                            <td><?php echo $vData['movement_date']; ?></td>
                            <td><?php echo $vData['location_name']; ?></td>
                            <td><?php echo $vData['order_id']; ?></td>
                            <td><?php echo $vData['qty_after']; ?></td>
                        </tr>

                    <?php
                    }
                }
            }
        }
        ?>

    </tbody>
</table>

