<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-sales-order-operational?pay_status=<?php echo $this->pay_status; ?>&customer_id=<?php echo $this->customer_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Ship Date</th>
            <th>Sale Amount</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Ship Date</th>
            <th>Sale Amount</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            foreach ($this->pDetailsData as $key => $value) {
                $catName = $key;
                ?>
                <tr>
                        <td><b><?php echo $key; ?></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                    
                <?php
                foreach ($value as $vData) {
                    ?>
                    <tr>
                        <td><?php echo $vData['order_id']; ?></td>
                        <td><?php echo $vData['customer']; ?></td>
                        <td><?php echo $vData['payment_status']; ?></td>
                        <td><?php echo $vData['order_date']; ?></td>
                        <td><?php echo $vData['ship_date']; ?></td>
                        <td><?php echo $vData['total_amount']; ?></td>
                        
                    </tr>
               
                <?php }
            }
        }
        ?>
    </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });
    });
</script>
