<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-purchase-summary?vendor_id=<?php echo $this->vendor_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>PO Number</th>
            <th>Status</th>
            <th>Vendor</th>
            <th>PO Date</th>
            <th>Required Ship Date</th>
            <th>Due Date</th>
            <th>Currency Code</th>
            <th>Order Total</th>
            <th>Amount Paid</th>
            <th>Balance</th>
        </tr>
    </thead>

    <tfoot>
         <tr>
            <th>PO Number</th>
            <th>Status</th>
            <th>Vendor</th>
            <th>PO Date</th>
            <th>Required Ship Date</th>
            <th>Due Date</th>
            <th>Currency Code</th>
            <th>Order Total</th>
            <th>Amount Paid</th>
            <th>Balance</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        
        if (count($this->purchaseData) > 0) {
            foreach ($this->purchaseData as $key => $value) {
            ?>
            <tr>
                <td><?php echo $value['po_id']; ?></td>
                <td><?php echo $value['order_status']; ?></td>
                <td><?php echo $value['vendor_name']; ?></td>
                <td><?php echo $value['po_date']; ?></td>
                <td><?php echo $this->General()->ValidateNullDate($value['req_shipping_date']); ?></td>
                <td><?php echo $this->General()->ValidateNullDate($value['due_date']); ?></td>
                <td><?php echo $value['currency_code']; ?></td>
                <td><?php echo $value['total_amount']; ?></td>
                <td><?php echo $value['paid_amount']; ?></td>
                <td><?php echo $value['balance']; ?></td>
            </tr>
            <?php }    
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>
