<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-sales-by-product-summary?category_id=<?php echo $this->category_id; ?>&product_id=<?php echo $this->product_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Order#</th>
            <th>Quantity Sold</th>
            <th>Total Sale</th>
            <th>Cost Of Goods Sold</th>
            <th>Sales Profit</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Order Date</th>
            <th>Order#</th>
            <th>Quantity Sold</th>
            <th>Total Sale</th>
            <th>Cost Of Goods Sold</th>
            <th>Sales Profit</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            foreach ($this->pDetailsData as $key => $value) {
                $catName = $key;
                ?>
                                <?php
                $subTotal = 0;
                $salePriceTotal = 0;
                $purTotal = 0;
                $qtyTotal = 0;
                $profitTotal = 0;
                foreach ($value as $vData) {
                    $purPrice = $vData['cost'] * $vData['quantity'];
                    $subTotal +=$vData['sub_total'];
                    $purTotal +=$vData['cost'] * $vData['quantity'];
                    $qtyTotal +=$vData['quantity'];
                    $profit = $vData['sub_total'] - $purPrice;
                    $profitTotal += $profit;
                    ?>
                    <tr>
                        <td><?php echo $vData['product_name']; ?></td>
                        <td><?php echo $vData['order_date']; ?></td>
                        <td><?php echo $vData['order_id']; ?></td>
                        <td><?php echo $vData['quantity']; ?></td>
                        <td><?php echo $vData['sub_total']; ?></td>
                        <td><?php echo number_format($purPrice,2); ?></td>
                        <td><?php echo $vData['sub_total']; ?></td>
                    </tr>
                <?php } if(count($value)>0){?>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Totals</b></td>
                    <td><b><?php echo number_format($qtyTotal, 2); ?></b></td>
                    <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                    <td><b><?php echo number_format($purTotal, 2); ?></b></td>
                    <td><b><?php echo number_format($profitTotal, 2); ?></b></td>
                </tr>
                <?php }
            }
        }
        ?>
    </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });
    });
</script>
