<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-sales-reps-order?sales_reps_id=<?php echo $this->sales_reps_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order#</th>
            <th>Customer name</th>
            <th>Status</th>
            <th>Invoice Date</th>
            <th>Sales Reps</th>
            <th>Total Sale</th>
        </tr>
    </thead>

    <tfoot>
         <tr>
            <th>Order#</th>
            <th>Customer name</th>
            <th>Status</th>
            <th>Invoice Date</th>
            <th>Sales Reps</th>
            <th>Total Sale</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->salesData) > 0) {
            foreach ($this->salesData as $key => $value) {
            ?>
            <tr>
                <td><?php echo $value['order_id']; ?></td>
                <td><?php echo $value['customer_name']; ?></td>
                <td><?php echo $value['order_status']; ?></td>
                <td><?php echo $value['order_date']; ?></td>
                <td><?php echo $value['sales_rep_name']; ?></td>
                <td><?php echo $value['total_amount']; ?></td>
            </tr>
            <?php }    
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>
