<div style="margin:0;">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="container-fluid btn-back">
                                <div class="col-md-8 ">
                                    <div class="btn-group" role="group" style="padding:0px;">
                                        <button type="button" class="btn btn-default li2">Export</button>
                                        <a target="blank" href="/reports/print-vendor-product-list?category_id=<?php echo $this->category_id; ?>&product_name=<?php echo $this->product_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
<!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div> 
                </div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Vendor</th>
            <th>Vendor Product Code</th>
            <th>Unit Cost</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Vendor</th>
            <th>Vendor Product Code</th>
            <th>Unit Cost</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->vendorData) > 0) {
            foreach ($this->vendorData as $key => $value) {
                ?>
                <tr>
                    <td><?php echo $key; ?></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <?php foreach($value as $vData){ ?>
                <tr>
                    <td><?php echo $vData['id']; ?></td>
                    <td><?php echo $vData['product_name']; ?></td>
                    <td><?php echo $vData['category']; ?></td>
                    <td><?php echo $vData['vendor_name']; ?></td>
                    <td><?php echo $vData['vendor_product_code']; ?></td>
                    <td><?php echo $vData['price']; ?></td>
                </tr>
                <?php }
            }
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });
         
      });
    </script>
