<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-inventory-by-location?location_id=<?php echo $this->location_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
<!--                    <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Quantity</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->locationData) > 0) {
            foreach ($this->locationData as $key => $value) {
                $locationProducts = Application_Model_ReportsPeer::getInventoryDetails($value['location_id'],'','');
                if(count($locationProducts)>0){
                ?>
                <tr>
                    <td colspan="6"><b><?php echo $value['location_name']; ?></b></td>
                   
                </tr>
            <?php        
            foreach ($locationProducts as $key1 => $value1) {
                ?>
                
                
                <tr>
                    <td><?php echo $value1['product_name']; ?></td>
                    <td><?php echo $value1['category']; ?></td>
                    <td><?php echo $value1['location']; ?></td>
                    <td><?php echo $value1['quantity']; ?></td>
                </tr>
                
            <?php }
            }
        } } else {
        ?>
        <tr>
            <td colspan="6">No Data Available</td>
        </tr>
        <?php } ?>

    </tbody>
</table>

