<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-customer-payment-details?customer_id=<?php echo $this->customer_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
   <thead>
        <tr>
            <th>Order#</th>
            <th>Customer name</th>
            <th>Inventory Status</th>
            <th>Payment Status</th>
            <th>Invoice Date</th>
            <th>Due Date</th>
            <th>Payment Date</th>
            <th>Sales Total</th>
            <th>Paid Total</th>
            <th>Balance</th>
        </tr>
    </thead>

    <tfoot>
         <tr>
                <th>Order#</th>
                <th>Customer name</th>
                <th>Inventory Status</th>
                <th>Payment Status</th>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Payment Date</th>
                <th>Sales Total</th>
                <th>Paid Total</th>
                <th>Balance</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->salesData) > 0) {
            foreach ($this->salesData as $key => $value) {
            ?>
            <tr>
                <td><?php echo $value['order_id']; ?></td>
                <td><?php echo $value['customer_name']; ?></td>
                <td><?php echo $value['order_status']; ?></td>
                <td><?php echo $value['payment_status']; ?></td>
                <td><?php echo $value['order_date']; ?></td>
                <td><?php echo ($value['due_date']=='00/00/0000' || $value['due_date']=='01/01/1970')?'':$value['due_date']; ?></td>
                <td><?php echo $value['last_payment_date']; ?></td>
                <td><?php echo $value['total_amount']; ?></td>
                <td><?php echo $value['paid_amount']; ?></td>
                <td><?php echo $value['balance']; ?></td>
            </tr>
            <?php }    
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>

