<div style="margin:0;">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="container-fluid btn-back">
                                <div class="col-md-8 ">
                                    <div class="btn-group" role="group" style="padding:0px;">
                                        <button type="button" class="btn btn-default li2">Export</button>
                                        <a target="blank" href="/reports/print-inventory-summary?category_id=<?php echo $this->category_id; ?>&product_name=<?php echo $this->product_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
<!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div> 
                </div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Qty Owned</th>
            <th>Qty Reserved</th>
            <th>Qty On Order</th>
            <th>Qty Available</th>
            <th>Average Cost</th>
            <th>Total Cost Value</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Qty Owned</th>
            <th>Qty Reserved</th>
            <th>Qty On Order</th>
            <th>Qty Available</th>
            <th>Average Cost</th>
            <th>Total Cost Value</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                $availQty = ($value['qty_owned']-$value['qty_reserved']);
                $totalCost = $availQty * $value['cost'];
                ?>
                <tr>
                    <td><?php echo $value['id']; ?></td>
                    <td><?php echo $value['product_name']; ?></td>
                    <td><?php echo $value['qty_owned']; ?></td>
                    <td><?php echo $value['qty_reserved']; ?></td>
                    <td><?php echo $value['qty_on_order']; ?></td>
                    <td><?php echo number_format($availQty,2); ?></td>
                    <td><?php echo $value['cost']; ?></td>
                    <td><?php echo number_format($totalCost,2); ?></td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
         
      });
    </script>
