<div style="margin:0;">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="container-fluid btn-back">
                                <div class="col-md-8 ">
                                    <div class="btn-group" role="group" style="padding:0px;">
                                        <button type="button" class="btn btn-default li2">Export</button>
                                        <a target="blank" href="/reports/print-inventory-history?category_id=<?php echo $this->category_id?>&product_name=<?php echo $this->product_name?>"> <button type="button" class="btn btn-default li4">Print</button></a>
<!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div> 
                </div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>Total Cost Value</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>Total Cost Value</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                if(count($value)>0){
                ?>
                <tr>
                    <td><b><?php echo $key; ?></b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <?php 
                $qtyTotal=0;
                $totalCost= 0;
                foreach ($value as $vData) {
                    $tot = $vData['qty']*$vData['cost'];
                     $qtyTotal+= $vData['qty'];
                     $totalCost+= $tot;
                ?>
                <tr>
                    <td><?php echo $vData['product_name']; ?></td>
                    <td><?php echo $vData['cost']; ?></td>
                    <td><?php echo $vData['qty']; ?></td>
                    <td><?php echo number_format($tot,2); ?></td>
                </tr>
                
                <?php } ?>
                <tr>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b><?php echo number_format($qtyTotal); ?></b></td>
                    <td><b><?php echo number_format($totalCost,2); ?></b></td>
                </tr>
              <?php  }
        }} else {?>
        <?php } ?>

    </tbody>
</table>

