<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-purchase-tax?vendor_id=<?php echo $this->vendor_id; ?>&product_name=<?php echo $this->product_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order#</th>
            <th>Vendor Name</th>
            <th>Order Date</th>
            <th>Currency Code</th>
            <th>Sub Total</th>
            <th>Primary tax</th>
            <th>Secondary Tax</th>
            <th>Freight</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Order#</th>
            <th>Vendor Name</th>
            <th>Order Date</th>
            <th>Currency Code</th>
            <th>Sub Total</th>
            <th>Primary tax</th>
            <th>Secondary Tax</th>
            <th>Freight</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            foreach ($this->pDetailsData as $key => $value) {
                $oid = $key;
                if (count($value) > 0) {
                    ?>
                    <tr>
                        <td><b><?php echo $oid; ?></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <?php
                    $subTotal = 0;
                    $tax1Total = 0;
                    $tax2Total = 0;
                    $freightTotal = 0;
                    foreach ($value as $vData) {
                        $subTotal+=$vData['sub_total'];
                        $tax1Total+=$vData['tax1_amount'];
                        $tax2Total+=$vData['tax2_amount'];
                        $freightTotal+=$vData['freight'];
                        ?>
                        <tr>
                            <td><?php echo $vData['po_id']; ?></td>
                            <td><?php echo $vData['vendor_name']; ?></td>
                            <td><?php echo $vData['po_date']; ?></td>
                            <td><?php echo $vData['currency_code']; ?></td>
                            <td><?php echo number_format($vData['sub_total'], 2); ?></td>
                            <td><?php echo number_format($vData['tax1_amount'], 2); ?></td>
                            <td><?php echo number_format($vData['tax2_amount'], 2); ?></td>
                            <td><?php echo number_format($vData['freight'], 2); ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                        <td><b><?php echo number_format($tax1Total, 2); ?></b></td>
                        <td><b><?php echo number_format($tax2Total, 2); ?></b></td>
                        <td><b><?php echo number_format($freightTotal, 2); ?></b></td>
                    </tr>
                    <?php
                }
            }
        }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": false,
            "ordering": false,
            "info": true
        });

    });
</script>
