<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-inventory-details?category_id=<?php echo $this->category_id; ?>&product_name=<?php echo $this->product_id; ?>&location_id=<?php echo $this->location_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            
            <th>Product Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Average Cost</th>
            <th>Total Cost Value</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Location</th>
            <th>Quantity</th>
            <th>Average Cost</th>
            <th>Total Cost Value</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            foreach ($this->pDetailsData as $key => $value) {
                $location = $key;
                ?>
                <tr>
                    <td><b><?php echo $location; ?></b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                    <?php
                    $subTotal = 0;
                    $qtyTotal = 0;
                    foreach ($value as $vData) {
                        $qtyTotal +=$vData['qty'];
                        $subTotal +=$vData['total'];
                        ?>
                        <tr>
                            <td><?php echo $vData['name']; ?></td>
                            <td><?php echo $vData['category']; ?></td>
                            <td><?php echo $vData['location']; ?></td>
                            <td><?php echo $vData['qty']; ?></td>
                            <td><?php echo $vData['cost']; ?></td>
                            <td><?php echo $vData['total']; ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b><?php echo number_format($qtyTotal, 2); ?></b></td>
                        <td></td>
                        <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                    </tr>
                <?php } ?>
                <?php
            }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>
