<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-sales-tax?customer_id=<?php echo $this->customer_id; ?>&taxing_scheme_id=<?php echo $this->taxing_scheme_id; ?>"> 
                            <button type="button" class="btn btn-default li4">Print</button>
                        </a>
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order#</th>
            <th>Customer</th>
            <th>Invoice Date</th>
            <th>Sub Total</th>
            <th>Primary Taxable</th>
            <th>Secondary Taxable</th>
            <th>Primary tax</th>
            <th>Secondary Tax</th>
            <th>Freight</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            $netSubTotal = 0;
            $netTax1Total = 0;
            $netTax2Total = 0;
            $netfreightTotal = 0;
            $netTotalAmount = 0;
            foreach ($this->pDetailsData as $key => $value) {
                $oid = $key;
                if (count($value) > 0) {
                    ?>
                    <tr>
                        <td><b><?php echo $oid; ?></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <?php
                    $subTotal = 0;
                    $tax1Total = 0;
                    $tax2Total = 0;
                    $freightTotal = 0;
                    $total_amount = 0;
                    foreach ($value as $vData) {
                        $subTotal+=$vData['sub_total'];
                        $tax1Total+=$vData['tax1_amount'];
                        $tax2Total+=$vData['tax2_amount'];
                        $freightTotal+=$vData['freight'];
                        $total_amount+=$vData['total_amount'];
                        ?>
                        <tr>
                            <td><?php echo $vData['order_id']; ?></td>
                            <td><?php echo $vData['customer_name']; ?></td>
                            <td><?php echo $vData['order_date']; ?></td>
                            <td><?php echo number_format($vData['sub_total'], 2); ?></td>
                            <td><?php echo number_format($vData['sub_total'], 2); ?></td>
                            <td><?php echo number_format($vData['sub_total'], 2); ?></td>
                            <td><?php echo number_format($vData['tax1_amount'], 2); ?></td>
                            <td><?php echo number_format($vData['tax2_amount'], 2); ?></td>
                            <td><?php echo number_format($vData['freight'], 2); ?></td>
                            <td><?php echo number_format($vData['total_amount'], 2); ?></td>
                        </tr>
                        <?php
                    }
                    $netSubTotal+=$subTotal;
                    $netTax1Total+=$tax1Total;
                    $netTax2Total+=$tax2Total;
                    $netfreightTotal+=$freightTotal;
                    $netTotalAmount+=$total_amount;
                    ?>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                        <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                        <td><b><?php echo number_format($tax1Total, 2); ?></b></td>
                        <td><b><?php echo number_format($tax1Total, 2); ?></b></td>
                        <td><b><?php echo number_format($tax2Total, 2); ?></b></td>
                        <td><b><?php echo number_format($freightTotal, 2); ?></b></td>
                        <td><b><?php echo number_format($total_amount, 2); ?></b></td>
                    </tr>
                <?php }
            }
            ?>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="background-color: #ccc;">
                <td></td>
                <td></td>
                <td>Total</td>
                <td><b><?php echo number_format($netSubTotal, 2); ?></b></td>
                <td><b><?php echo number_format($netSubTotal, 2); ?></b></td>
                <td><b><?php echo number_format($netSubTotal, 2); ?></b></td>
                <td><b><?php echo number_format($netTax1Total, 2); ?></b></td>
                <td><b><?php echo number_format($netTax2Total, 2); ?></b></td>
                <td><b><?php echo number_format($netfreightTotal, 2); ?></b></td>
                <td><b><?php echo number_format($netTotalAmount, 2); ?></b></td>
            </tr>
        <?php }
        ?>
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": false,
            "info": true
        });

    });
</script>
