<div style="margin:0;">
    <div class="row">
        <div class="col-md-12 ">
            <div class="container-fluid btn-back">
                <div class="col-md-8 ">
                    <div class="btn-group" role="group" style="padding:0px;">
                        <button type="button" class="btn btn-default li2">Export</button>
                        <a target="blank" href="/reports/print-sales-order-profit?inv_status=<?php echo $this->inv_status; ?>&pay_status=<?php echo $this->pay_status; ?>&customer_id=<?php echo $this->customer_id; ?>"> <button type="button" class="btn btn-default li4">Print</button></a>
                        <!--                                        <button type="button" class="btn btn-default li9 font-bold">BACK TO REPORT LIST</button>-->
                    </div>
                </div>                                
            </div>
        </div>
    </div> 
</div>
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order#</th>
            <th>Inventory Status</th>
            <th>Payment Status</th>
            <th>Customer</th>
            <th>Invoice Date</th>
            <th>Sales Amount</th>
            <th>Sales Profit</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
           <th>Order#</th>
            <th>Inventory Status</th>
            <th>Payment Status</th>
            <th>Customer</th>
            <th>Invoice Date</th>
            <th>Sales Amount</th>
            <th>Sales Profit</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->reportData ) > 0) {
            $subTotal = 0;
                $profitTotal = 0;
            foreach ($this->reportData  as $vData) {
                    $subTotal +=$vData['sub_total'];
                    $profitTotal += $vData['profit'];
                    ?>
                    <tr>
                        <td><?php echo $vData['so_id']; ?></td>
                        <td><?php echo $vData['order_status']; ?></td>
                        <td><?php echo $vData['payment_status']; ?></td>
                        <td><?php echo $vData['customer']; ?></td>
                        <td><?php echo $vData['order_date']; ?></td>
                        <td><?php echo $vData['sub_total']; ?></td>
                        <td><?php echo $vData['profit']; ?></td>
                    </tr>
                <?php } ?>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Totals</b></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                    <td><b><?php echo number_format($profitTotal, 2); ?></b></td>
                </tr>
                <?php
        }
        ?>
    </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": false,
            "ordering": false,
            "info": true
        });
    });
</script>
