<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<div class="row inner_main" style="padding:10px;">
    <?php include 'reports.phtml'; ?>

</div>

