<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-8"><h3>Inventory By Location</h3></div>
                        <div class="col-md-4 btn-top-right">
                           <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Show All Reports
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <div class="well">
                        <?php include 'reports.phtml'; ?>
                    </div>
                </div>
                                
                <div class="row">
                    <fieldset style="margin-left: 15px;">
                        <legend>Report Filters</legend>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select id="location_id" name="location_id" class="left-texts  custom-select">
                                <option value="">Select Location</option>
                                <?php foreach ($this->locations as $location) { ?>                                
                                    <option value="<?php echo $location['id']; ?>"><?php echo $location['name']; ?></option>
                                <?php } ?>
                            </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <button id="addNew"class="btn btn-info" type="button" onclick="InvenrotyReport.getInventoryByLocation();">
                              Generate Report
                            </button>
                        </div>
                    </fieldset>
                </div> 
                <div class="col-md-12" id="tbl-rpt">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                               <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Quantity</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td colspan="5">No data available</td>
                             </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>






<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
        });
         
        // simple example
//        $('#product_name').immybox({
//          choices: <?php echo $this->productData; ?>  
//          ,
//          defaultSelectedValue: '1'
//        });
//
      });
    </script>
