<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-8"><h3>Inventory Details</h3></div>
                        <div class="col-md-4 btn-top-right">
                           <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                               Show All Reports
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <div class="well">
                        <?php include 'reports.phtml'; ?>
                    </div>
                </div>
                                
                <div class="row">
                    <fieldset style="margin-left: 15px;">
                        <legend>Report Filters</legend>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="category_id" name="category_id" onchange="Filter.getProducts();">
                                    <option value="">Select Category</option>
                                    <?php foreach ($this->productCategory as $category) { ?>                                
                                        <option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="form-group">
                                <input id="product_name" id="product_name" type="text" class="form-control custom-select" placeholder="Select Product" value=''/>
                            </div>
                        </div>
                        
                        <div class="col-md-3 ">
                            <div class="form-group">
                                 <select id="location_id" name="location_id" class="left-texts  custom-select">
                            <option value="">Select Location</option>
                                <?php foreach($this->locations as $location){ ?>                                
                                     <option value="<?php echo $location['id']; ?>"><?php echo $location['name']; ?></option>
                                <?php }?>
                        </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <button id="addNew"class="btn btn-info" type="button" onclick="InvenrotyReport.getInventoryDetails();">
                              Generate Report
                            </button>
                        </div>
                    </fieldset>
                </div> 
                <div class="col-md-12" id="tbl-rpt">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Quantity</th>
                                <th>Average Cost</th>
                                <th>Total Cost Value</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                               <th>Product Id</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Location</th>
                                <th>Quantity</th>
                                <th>Average Cost</th>
                                <th>Total Cost Value</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <?php
                            if (count($this->details) > 0) {
                                foreach ($this->details as $key => $value) {
                                    ?>
                                    <tr>
                                        <td><?php echo $value['id']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                        <td><?php echo $value['card_type']; ?></td>
                                    </tr>
                                    <?php
                                }
                            }
                            ?>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>






<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
         
        // simple example
        $('#product_name').immybox({
          choices: <?php echo $this->productData; ?>  
          ,
          defaultSelectedValue: '1'
        });

      });
    </script>
