<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Inventory Details</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Quantity</th>
                    <th>Average Cost</th>
                    <th>Total Cost Value</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Quantity</th>
                    <th>Average Cost</th>
                    <th>Total Cost Value</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->pDetailsData) > 0) {
                    foreach ($this->pDetailsData as $key => $value) {
                        $location = $key;
                        ?>
                        <tr>
                            <td><b><?php echo $location; ?></b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <?php
                        $subTotal = 0;
                        $qtyTotal = 0;
                        foreach ($value as $vData) {
                            $qtyTotal +=$vData['qty'];
                            $subTotal +=$vData['total'];
                            ?>
                            <tr>
                                <td><?php echo $vData['name']; ?></td>
                                <td><?php echo $vData['category']; ?></td>
                                <td><?php echo $vData['location']; ?></td>
                                <td><?php echo $vData['qty']; ?></td>
                                <td><?php echo $vData['cost']; ?></td>
                                <td><?php echo $vData['total']; ?></td>
                            </tr>
                        <?php } ?>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b><?php echo number_format($qtyTotal, 2); ?></b></td>
                            <td></td>
                            <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                        </tr>
                    <?php } ?>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div> 
</div>



