<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Product Cost</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Type</th>
                    <th>Order No</th>
                    <th>PO Date</th>
                    <th>Quantity Change</th>
                    <th>Quantity</th>
                    <th>Cost Change</th>
                    <th>Total Cost</th>
                    <th>Average Cost</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Type</th>
                    <th>Order No</th>
                    <th>PO Date</th>
                    <th>Quantity Change</th>
                    <th>Quantity</th>
                    <th>Cost Change</th>
                    <th>Total Cost</th>
                    <th>Average Cost</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->productData) > 0) {
                    foreach ($this->productData as $key => $value) {
                        if (count($value) > 0) {
                            ?>
                            <tr>
                                <td><b><?php echo $key; ?></b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <?php
                            foreach ($value as $vData) {
                                ?>
                                <tr>
                                    <td><?php echo $vData['product_name']; ?></td>
                                    <td><?php echo $vData['type']; ?></td>
                                    <td><?php echo $vData['order_id']; ?></td>
                                    <td><?php echo $vData['movement_date']; ?></td>
                                    <td><?php echo $vData['qty']; ?></td>
                                    <td><?php echo $vData['qty_after']; ?></td>
                                    <td><?php echo $vData['totAmount']; ?></td>
                                    <td><?php echo $vData['total_cost']; ?></td>
                                    <td><?php echo $vData['cost']; ?></td>
                                </tr>

                            <?php
                            }
                        }
                    }
                }
                ?>

            </tbody>
        </table>
    </div>
</div> 
