<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Sales Order Profit</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Inventory Status</th>
                    <th>Payment Status</th>
                    <th>Customer</th>
                    <th>Invoice Date</th>
                    <th>Sales Amount</th>
                    <th>Sales Profit</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Order#</th>
                    <th>Inventory Status</th>
                    <th>Payment Status</th>
                    <th>Customer</th>
                    <th>Invoice Date</th>
                    <th>Sales Amount</th>
                    <th>Sales Profit</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->reportData) > 0) {
                    $subTotal = 0;
                    $profitTotal = 0;
                    foreach ($this->reportData as $vData) {
                        $subTotal +=$vData['sub_total'];
                        $profitTotal += $vData['profit'];
                        ?>
                        <tr>
                            <td><?php echo $vData['so_id']; ?></td>
                            <td><?php echo $vData['order_status']; ?></td>
                            <td><?php echo $vData['payment_status']; ?></td>
                            <td><?php echo $vData['customer']; ?></td>
                            <td><?php echo $vData['order_date']; ?></td>
                            <td><?php echo $vData['sub_total']; ?></td>
                            <td><?php echo $vData['profit']; ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><b>Totals</b></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                        <td><b><?php echo number_format($profitTotal, 2); ?></b></td>
                    </tr>
                    <?php
                }
                ?>
            </tbody>
        </table>
    </div> 
</div> 
