<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Product Customer Report</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Order#</th>
                    <th>Customer</th>
                    <th>Order Date</th>
                    <th>Inventory Status</th>
                    <th>Payment Status</th>
                    <th>Quantity Sold</th>
                    <th>Sales Amount</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Order#</th>
                    <th>Customer</th>
                    <th>Order Date</th>
                    <th>Inventory Status</th>
                    <th>Payment Status</th>
                    <th>Quantity Sold</th>
                    <th>Sales Amount</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->pDetailsData) > 0) {
                    foreach ($this->pDetailsData as $key => $value) {
                        $customerName = $key;
                        ?>
                        <tr style="background-color: #ccc;">
                            <td><b><?php echo $customerName; ?></b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <?php
                        foreach ($value as $key1 => $value1) {
                            ?>
                            <tr>
                                <td><b><?php echo $key1; ?></b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <?php
                            $subTotal = 0;
                            $qtyTotal = 0;

                            foreach ($value1 as $vData) {
                                $subTotal +=$vData['sub_total'];
                                $qtyTotal +=$vData['quantity'];
                                ?>
                                <tr>
                                    <td><?php echo $vData['product_name']; ?></td>
                                    <td><?php echo $vData['order_id']; ?></td>
                                    <td><?php echo $vData['customer_name']; ?></td>
                                    <td><?php echo $vData['order_date']; ?></td>
                                    <td><?php echo $vData['order_status']; ?></td>
                                    <td><?php echo $vData['payment_status']; ?></td>
                                    <td><?php echo $vData['quantity']; ?></td>
                                    <td><?php echo $vData['sub_total']; ?></td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total</b></td>
                                <td><b><?php echo $qtyTotal; ?></b></td>
                                <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                            </tr>
                        <?php } ?>
                        <?php
                    }
                }
                ?>
            </tbody>
        </table>
    </div>

</div> 



