<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Sales Reps Orders</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Customer name</th>
                    <th>Status</th>
                    <th>Invoice Date</th>
                    <th>Sales Reps</th>
                    <th>Total Sale</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Order#</th>
                    <th>Customer name</th>
                    <th>Status</th>
                    <th>Invoice Date</th>
                    <th>Sales Reps</th>
                    <th>Total Sale</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->salesData) > 0) {
                    foreach ($this->salesData as $key => $value) {
                        ?>
                        <tr>
                            <td><?php echo $value['order_id']; ?></td>
                            <td><?php echo $value['customer_name']; ?></td>
                            <td><?php echo $value['order_status']; ?></td>
                            <td><?php echo $value['order_date']; ?></td>
                            <td><?php echo $value['sales_rep_name']; ?></td>
                            <td><?php echo $value['total_amount']; ?></td>
                        </tr>
                    <?php
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 



