<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Inventory History</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Cost</th>
                    <th>Quantity</th>
                    <th>Total Cost Value</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Unit Cost</th>
                    <th>Quantity</th>
                    <th>Total Cost Value</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->productData) > 0) {
                    foreach ($this->productData as $key => $value) {
                        if (count($value) > 0) {
                            ?>
                            <tr>
                                <td><b><?php echo $key; ?></b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <?php
                            $qtyTotal = 0;
                            $totalCost = 0;
                            foreach ($value as $vData) {
                                $tot = $vData['qty'] * $vData['cost'];
                                $qtyTotal+= $vData['qty'];
                                $totalCost+= $tot;
                                ?>
                                <tr>
                                    <td><?php echo $vData['product_name']; ?></td>
                                    <td><?php echo $vData['cost']; ?></td>
                                    <td><?php echo $vData['qty']; ?></td>
                                    <td><?php echo number_format($tot, 2); ?></td>
                                </tr>

                            <?php } ?>
                            <tr>
                                <td></td>
                                <td><b>Total</b></td>
                                <td><b><?php echo number_format($qtyTotal); ?></b></td>
                                <td><b><?php echo number_format($totalCost, 2); ?></b></td>
                            </tr>
                        <?php }
                    }
                } else {
                    ?>
<?php } ?>

            </tbody>
        </table>
    </div> </div>



