<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Inventory Details</h3></div>
    <div class="col-md-12">
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
        <tr>
            <th>Product Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remark</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
           <th>Product Name</th>
            <th>Type</th>
            <th>Date</th>
            <th>Location</th>
            <th>Remark</th>
            <th>Quantity</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                ?>
                                
                <tr>
                    <td><?php echo $value['product_name']; ?></td>
                    <td><?php echo $value['type']; ?></td>
                    <td><?php echo $value['movement_date']; ?></td>
                    <td><?php echo $value['location_name']; ?></td>
                    <td><?php echo $value['order_id']; ?></td>
                    <td><?php echo $value['quantity']; ?></td>
                </tr>
                
            <?php }
        } else {
        ?>
        <tr>
            <td colspan="6">No Data Available</td>
        </tr>
        <?php } ?>

    </tbody>
</table>
</div> </div>



