<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Customer Payment Details</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Customer name</th>
                    <th>Inventory Status</th>
                    <th>Payment Status</th>
                    <th>Invoice Date</th>
                    <th>Due Date</th>
                    <th>Payment Date</th>
                    <th>Sales Total</th>
                    <th>Paid Total</th>
                    <th>Balance</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Order#</th>
                    <th>Customer name</th>
                    <th>Inventory Status</th>
                    <th>Payment Status</th>
                    <th>Invoice Date</th>
                    <th>Due Date</th>
                    <th>Payment Date</th>
                    <th>Sales Total</th>
                    <th>Paid Total</th>
                    <th>Balance</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->salesData) > 0) {
                    foreach ($this->salesData as $key => $value) {
                        ?>
                        <tr>
                            <td><?php echo $value['order_id']; ?></td>
                            <td><?php echo $value['customer_name']; ?></td>
                            <td><?php echo $value['order_status']; ?></td>
                            <td><?php echo $value['payment_status']; ?></td>
                            <td><?php echo $value['order_date']; ?></td>
                            <td><?php echo ($value['due_date'] == '00/00/0000' || $value['due_date'] == '01/01/1970') ? '' : $value['due_date']; ?></td>
                            <td><?php echo $value['last_payment_date']; ?></td>
                            <td><?php echo $value['total_amount']; ?></td>
                            <td><?php echo $value['paid_amount']; ?></td>
                            <td><?php echo $value['balance']; ?></td>
                        </tr>
                    <?php
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 



