<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Vendor Product List</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Vendor Product Code</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Vendor Product Code</th>
                    <th>Price</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->vendorData) > 0) {
                    foreach ($this->vendorData as $key => $value) {
                        ?>
                        <tr>
                            <td><?php echo $key; ?></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <?php foreach ($value as $vData) { ?>
                            <tr>
                                <td><?php echo $vData['id']; ?></td>
                                <td><?php echo $vData['product_name']; ?></td>
                                <td><?php echo $vData['category']; ?></td>
                                <td><?php echo $vData['vendor_name']; ?></td>
                                <td><?php echo $vData['vendor_product_code']; ?></td>
                                <td><?php echo $vData['price']; ?></td>
                            </tr>
                        <?php
                        }
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 



