<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Sales By Product Summary</h3></div>

    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Order Date</th>
                    <th>Order#</th>
                    <th>Quantity Sold</th>
                    <th>Total Sale</th>
                    <th>Cost Of Goods Sold</th>
                    <th>Sales Profit</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Order Date</th>
                    <th>Order#</th>
                    <th>Quantity Sold</th>
                    <th>Total Sale</th>
                    <th>Cost Of Goods Sold</th>
                    <th>Sales Profit</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->pDetailsData) > 0) {
                    foreach ($this->pDetailsData as $key => $value) {
                        $catName = $key;
                        ?>
                        <?php
                        $subTotal = 0;
                        $salePriceTotal = 0;
                        $purTotal = 0;
                        $qtyTotal = 0;
                        $profitTotal = 0;
                        foreach ($value as $vData) {
                            $purPrice = $vData['cost'] * $vData['quantity'];
                            $subTotal +=$vData['sub_total'];
                            $purTotal +=$vData['cost'] * $vData['quantity'];
                            $qtyTotal +=$vData['quantity'];
                            $profit = $vData['sub_total'] - $purPrice;
                            $profitTotal += $profit;
                            ?>
                            <tr>
                                <td><?php echo $vData['product_name']; ?></td>
                                <td><?php echo $vData['order_date']; ?></td>
                                <td><?php echo $vData['order_id']; ?></td>
                                <td><?php echo $vData['quantity']; ?></td>
                                <td><?php echo $vData['sub_total']; ?></td>
                                <td><?php echo number_format($purPrice, 2); ?></td>
                                <td><?php echo $vData['sub_total']; ?></td>
                            </tr>
                        <?php } if (count($value) > 0) { ?>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><b>Totals</b></td>
                                <td><b><?php echo number_format($qtyTotal, 2); ?></b></td>
                                <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                                <td><b><?php echo number_format($purTotal, 2); ?></b></td>
                                <td><b><?php echo number_format($profitTotal, 2); ?></b></td>
                            </tr>
                        <?php
                        }
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 
