<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Vendor List</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->vendorData) > 0) {
                    foreach ($this->vendorData as $key => $value) {
                        ?>
                        <tr>
                            <td><?php echo $value['vendor_name']; ?></td>
                            <td><?php echo $value['contact_name']; ?></td>
                            <td><?php echo $value['contact_phone']; ?></td>
                            <td><?php echo $value['contact_email']; ?></td>
                            <td><?php echo nl2br($value['address']); ?></td>
                        </tr>
                    <?php
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 



