<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Product Price List</h3></div>
    <div class="col-md-12">
       <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->productData) > 0) {
            foreach ($this->productData as $key => $value) {
                ?>
                <tr>
                    <td><?php echo $value['id']; ?></td>
                    <td><?php echo $value['product_name']; ?></td>
                    <td><?php echo $value['price']; ?></td>
                </tr>
                <?php
            }
        }
        ?>

    </tbody>
</table>
    </div>
</div> 



