<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Purchase Tax Report</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Order#</th>
                    <th>Vendor Name</th>
                    <th>Order Date</th>
                    <th>Currency Code</th>
                    <th>Sub Total</th>
                    <th>Primary tax</th>
                    <th>Secondary Tax</th>
                    <th>Freight</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Order#</th>
                    <th>Vendor Name</th>
                    <th>Order Date</th>
                    <th>Currency Code</th>
                    <th>Sub Total</th>
                    <th>Primary tax</th>
                    <th>Secondary Tax</th>
                    <th>Freight</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->pDetailsData) > 0) {
                    foreach ($this->pDetailsData as $key => $value) {
                        $oid = $key;
                        if (count($value) > 0) {
                            ?>
                            <tr>
                                <td><b><?php echo $oid; ?></b></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <?php
                            $subTotal = 0;
                            $tax1Total = 0;
                            $tax2Total = 0;
                            $freightTotal = 0;
                            foreach ($value as $vData) {
                                $subTotal+=$vData['sub_total'];
                                $tax1Total+=$vData['tax1_amount'];
                                $tax2Total+=$vData['tax2_amount'];
                                $freightTotal+=$vData['freight'];
                                ?>
                                <tr>
                                    <td><?php echo $vData['po_id']; ?></td>
                                    <td><?php echo $vData['vendor_name']; ?></td>
                                    <td><?php echo $vData['po_date']; ?></td>
                                    <td><?php echo $vData['currency_code']; ?></td>
                                    <td><?php echo number_format($vData['sub_total'], 2); ?></td>
                                    <td><?php echo number_format($vData['tax1_amount'], 2); ?></td>
                                    <td><?php echo number_format($vData['tax2_amount'], 2); ?></td>
                                    <td><?php echo number_format($vData['freight'], 2); ?></td>
                                </tr>
                            <?php } ?>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total</b></td>
                                <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                                <td><b><?php echo number_format($tax1Total, 2); ?></b></td>
                                <td><b><?php echo number_format($tax2Total, 2); ?></b></td>
                                <td><b><?php echo number_format($freightTotal, 2); ?></b></td>
                            </tr>
                        <?php
                        }
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 



