<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Purchase Order Details</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Order#</th>
                    <th>Order Date</th>
                    <th>Vendor</th>
                    <th>Status</th>
                    <th>Currency Code</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Order#</th>
                    <th>Order Date</th>
                    <th>Vendor</th>
                    <th>Status</th>
                    <th>Currency Code</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->pDetailsData) > 0) {
                    foreach ($this->pDetailsData as $key => $value) {
                        $oid = $key;
                        ?>
                        <tr>
                            <td><b>PO-<?php echo $oid; ?></b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <?php foreach ($value as $vData) { ?>
                            <tr>
                                <td><?php echo $vData['product_name']; ?></td>
                                <td>PO-<?php echo $vData['order_id']; ?></td>
                                <td><?php echo $vData['po_date']; ?></td>
                                <td><?php echo $vData['vendor_name']; ?></td>
                                <td><?php echo $vData['payment_status']; ?></td>
                                <td><?php echo $vData['currency_code']; ?></td>
                                <td><?php echo $vData['quantity']; ?></td>
                                <td><?php echo $vData['sub_total']; ?></td>
                            </tr>
                        <?php } ?>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><b>Total</b></td>
                            <td><b><?php echo Application_Model_PurchasePeer::fetchSubTotalById($oid); ?></b></td>
                        </tr>
                        <?php
                    }
                }
                ?>
            </tbody>
        </table>
    </div>
</div> 



