<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Inventory By Location</h3></div>
    <div class="col-md-12">
        <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Quantity</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Location</th>
                    <th>Quantity</th>
                </tr>
            </tfoot>

            <tbody>
                <?php
                if (count($this->locationData) > 0) {
                    foreach ($this->locationData as $key => $value) {
                        $locationProducts = Application_Model_ReportsPeer::getInventoryDetails($value['location_id'], '', '');
                        if (count($locationProducts) > 0) {
                            ?>
                            <tr>
                                <td colspan="6"><b><?php echo $value['location_name']; ?></b></td>

                            </tr>
                            <?php
                            foreach ($locationProducts as $key1 => $value1) {
                                ?>


                                <tr>
                                    <td><?php echo $value1['product_name']; ?></td>
                                    <td><?php echo $value1['category']; ?></td>
                                    <td><?php echo $value1['location']; ?></td>
                                    <td><?php echo $value1['quantity']; ?></td>
                                </tr>

                            <?php
                            }
                        }
                    }
                } else {
                    ?>
                    <tr>
                        <td colspan="6">No Data Available</td>
                    </tr>
<?php } ?>

            </tbody>
        </table>
    </div> </div>



