<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Sales By Product Details</h3></div>
    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Order Date</th>
                <th>Order#</th>
                <th>Quantity Sold</th>
                <th>Sub Total</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <th>Product Name</th>
                <th>Order Date</th>
                <th>Order#</th>
                <th>Quantity Sold</th>
                <th>Sub Total</th>
            </tr>
        </tfoot>

        <tbody>
            <?php
            if (count($this->pDetailsData) > 0) {
                foreach ($this->pDetailsData as $key => $value) {
                    $catName = $key;
                    ?>
                    <tr>
                        <td><b><?php echo $catName; ?></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <?php
                    $subTotal = 0;
                    foreach ($value as $vData) {
                        $subTotal +=$vData['sub_total'];
                        ?>
                        <tr>
                            <td><?php echo $vData['product_name']; ?></td>
                            <td><?php echo $vData['order_date']; ?></td>
                            <td><?php echo $vData['order_id']; ?></td>
                            <td><?php echo $vData['quantity']; ?></td>
                            <td><?php echo $vData['sub_total']; ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total</b></td>
                        <td><b><?php echo number_format($subTotal, 2); ?></b></td>
                    </tr>
                <?php
                }
            }
            ?>
        </tbody>
    </table>
</div> 



