<div class="row" style="padding: 5px;">
    <div class="col-md-12"><h3>Sales Order Operational</h3></div>
    <div class="col-md-12">
<table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Ship Date</th>
            <th>Sale Amount</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Order Number</th>
            <th>Customer Name</th>
            <th>Status</th>
            <th>Order Date</th>
            <th>Ship Date</th>
            <th>Sale Amount</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        if (count($this->pDetailsData) > 0) {
            foreach ($this->pDetailsData as $key => $value) {
                $catName = $key;
                ?>
                <tr>
                        <td><b><?php echo $key; ?></b></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                    
                <?php
                foreach ($value as $vData) {
                    ?>
                    <tr>
                        <td><?php echo $vData['order_id']; ?></td>
                        <td><?php echo $vData['customer']; ?></td>
                        <td><?php echo $vData['payment_status']; ?></td>
                        <td><?php echo $vData['order_date']; ?></td>
                        <td><?php echo $vData['ship_date']; ?></td>
                        <td><?php echo $vData['total_amount']; ?></td>
                        
                    </tr>
               
                <?php }
            }
        }
        ?>
    </tbody>
</table>
	</div>
    
</div> 
