  
    
    <div class="page-header">
        <h3>Sales Reports</h3>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-by-product-summary" role="button">Sales By Product Summary</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-by-product-details" role="button">Sales By Product Details</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-summary" role="button">Sales Order Summary</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-order-profit" role="button">Sales Order Profit Report</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-order-operational" role="button">Sales Order Operational Report</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-tax" role="button">Sales Tax Report</a>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/customer-payment-summary" role="button">Customer Payment Summary</a>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/customer-payment-details" role="button">Customer Payment Details</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/customer-order-history" role="button">Customer Order History</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/product-customer-report" role="button">Product Customer Report</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/sales-reps-order" role="button">Sales Reps Report</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/customer-list" role="button">Customer List</a>
            </div>
        </div>
    </div>

<div class="page-header">
        <h3>Purchase Reports</h3>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/purchase-summary" role="button">Purchase Order Summary</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/purchase-details" role="button">Purchase Order Details</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/purchase-tax" role="button">Purchasing Tax Report</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/Reports/vendor-product-list" role="button">Vendor Product List</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/vendor-list" role="button">Vendor List</a>
            </div>
        </div>
        
    </div>

<div class="page-header">
        <h3>Inventory Reports</h3>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/inventory-summary" role="button">Inventory Summary</a>
            </div>
        </div>

        <div class="col-md-3 ">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/inventory-details" role="button">Inventory details report</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/inventory-by-location" role="button">Inventory by location</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/inventory-history" role="button">Historical Inventory</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/inventory-movement-summary" role="button">Inventory Movement Summary</a>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/inventory-movement" role="button">Inventory movement details</a>
            </div>
        </div>
   
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/product-price-list" role="button">Product price list</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="/reports/product-cost" role="button">Product cost report</a>
            </div>
        </div>
    </div>