<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-8"><h3>Sales Representative Orders</h3></div>
                        <div class="col-md-4 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Show All Reports
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <div class="well">
                        <?php include 'reports.phtml'; ?>
                    </div>
                </div>

                <div class="row">
                    <fieldset style="margin-left: 15px;">
                        <legend>Report Filters</legend>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="sales_reps_id" name="sales_reps_id">
                                    <option value="">Select Sales Reps</option>
                                    <?php foreach ($this->salesReps as $salesReps) { ?>                                
                                        <option value="<?php echo $salesReps['id']; ?>"><?php echo $salesReps['name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <button id="addNew"class="btn btn-info" type="button" onclick="SalesReport.getSalesReps();">
                                Generate Report
                            </button>
                        </div>
                    </fieldset>
                </div> 
                <div class="col-md-12" id="tbl-rpt">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Order#</th>
                                <th>Customer name</th>
                                <th>Status</th>
                                <th>Invoice Date</th>
                                <th>Sales Reps</th>
                                <th>Total Sale</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Order#</th>
                                <th>Customer name</th>
                                <th>Status</th>
                                <th>Invoice Date</th>
                                <th>Sales Reps</th>
                                <th>Total Sale</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td>No data available</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>






<script>
                                $(document).ready(function() {
                                    $('#list-grid').dataTable({
                                        "paging": true,
                                        "ordering": true,
                                        "info": true
                                    });

                                });
</script>
