<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-8"><h3>Sales Order Profit</h3></div>
                        <div class="col-md-4 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Show All Reports
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <div class="well">
                        <?php include 'reports.phtml'; ?>
                    </div>
                </div>

                <div class="row">
                    <fieldset style="margin-left: 15px;">
                        <legend>Report Filters</legend>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="inv_status" name="inv_status">
                                    <option value="">Select Status</option>
                                    <option value="Unfulfilled">Unfulfilled</option>
                                    <option value="Fulfilled">Fulfilled</option>
                                    <option value="Started">Started</option>                                    
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="pay_status" name="pay_status">
                                    <option value="">Select Payment Status</option>
                                    <option value="Uninvoiced">Uninvoiced</option>
                                    <option value="Invoiced">Invoiced</option>
                                    <option value="Paid">Paid</option>                                    
                                    <option value="Unpaid">Unpaid</option>                                    
                                    <option value="Owing">Owing</option>                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="customer_id" name="customer_id">
                                    <option value="">Select Customer</option>
                                    <?php foreach ($this->customers as $customers) { ?>                                
                                        <option value="<?php echo $customers['id']; ?>"><?php echo $customers['name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <button id="addNew"class="btn btn-info" type="button" onclick="SalesReport.getSalesOrderProfit();">
                                Generate Report
                            </button>
                        </div>
                    </fieldset>
                </div> 
                <div class="col-md-12" id="tbl-rpt">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Order#</th>
                                <th>Inventory Status</th>
                                <th>Payment Status</th>
                                <th>Customer</th>
                                <th>Invoice Date</th>
                                <th>Sales Amount</th>
                                <th>Sales Profit</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                               <th>Order#</th>
                                <th>Inventory Status</th>
                                <th>Payment Status</th>
                                <th>Customer</th>
                                <th>Invoice Date</th>
                                <th>Sales Amount</th>
                                <th>Sales Profit</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <?php
                            if (count($this->pDetailsData) > 0) {
                                foreach ($this->pDetailsData as $key => $value) {
                                    $catName = $key;
                                    ?>
                                    <tr>
                                        <td><b><?php echo $catName; ?></b></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    <?php
                                    $subTotal = 0;
                                    foreach ($value as $vData) {
                                        $subTotal +=$vData['sub_total'];
                                        ?>
                                        <tr>
                                            <td><?php echo $vData['product_name']; ?></td>
                                            <td><?php echo $vData['order_date']; ?></td>
                                            <td><?php echo $vData['order_id']; ?></td>
                                            <td><?php echo $vData['quantity']; ?></td>
                                            <td><?php echo $vData['sub_total']; ?></td>
                                            <td><?php echo $vData['sub_total']; ?></td>
                                            <td><?php echo $vData['sub_total']; ?></td>
                                        </tr>
                                    <?php } ?>
                                <?php
                                }
                            }
                            ?>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>






<script>
        $(document).ready(function() {
            $('#list-grid').dataTable({
                "paging": true,
                "ordering": false,
                "info": true
            });
        });
</script>
