<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>

<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-8"><h3>Vendor List</h3></div>
                        <div class="col-md-4 btn-top-right">
                           <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Show All Reports
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <div class="well">
                        <?php include 'reports.phtml'; ?>
                    </div>
                </div>
                                
                <div class="row">
                    <fieldset style="margin-left: 15px;">
                        <legend>Report Filters</legend>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="terms_id" name="terms_id">
                                    <option value="">Select Payment term</option>
                                    <?php foreach ($this->terms as $terms) { ?>                                
                                        <option value="<?php echo $terms['id']; ?>"><?php echo $terms['name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="taxingScheme" name="taxingScheme">
                                    <option value="">Select Taxing Schema</option>
                                    <?php foreach ($this->taxingScheme as $taxingScheme) { ?>                                
                                        <option value="<?php echo $taxingScheme['id']; ?>"><?php echo $taxingScheme['tax_scheme_name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group">
                                <select class="left-texts custom-select" id="currency" name="currency">
                                    <option value="">Select Currency</option>
                                    <?php foreach ($this->currency as $currency) { ?>                                
                                        <option value="<?php echo $currency['id']; ?>"><?php echo $currency['currency_name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <button id="addNew"class="btn btn-info" type="button" onclick="PurchaseReport.getVendorList();">
                              Generate Report
                            </button>
                        </div>
                    </fieldset>
                </div> 
                <div class="col-md-12" id="tbl-rpt">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Address</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr>
                                <td>No data available</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                               
                             </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>






<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
        
      });
    </script>
