<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Update</button>
                        <button type="button"  onclick="Receiving.GoToList();" class="btn btn-default li9 font-bold">
                            Back To Receiving Addresses
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->address_name->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->address_name->renderViewHelper(); ?>
                                    <?php echo $form->address_name->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->street->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->street->renderViewHelper(); ?>
                                    <?php echo $form->street->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->city_name->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->city_name->renderViewHelper(); ?>
                                    <?php echo $form->city_name->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->country->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->country->renderViewHelper(); ?>
                                    <?php echo $form->country->renderErrors(); ?>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->state->renderLabel() ?></label>
                                    <?php echo $form->state->renderViewHelper(); ?>
                                    <?php echo $form->state->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->zip_code->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->zip_code->renderViewHelper(); ?>
                                    <?php echo $form->zip_code->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label ><?php echo $form->address_type->renderLabel() ?></label>
                                    <?php echo $form->address_type->renderViewHelper(); ?>
                                    <?php echo $form->address_type->renderErrors(); ?>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label><?php echo $form->remarks->renderLabel() ?></label>
                                    <?php echo $form->id->renderViewHelper(); ?>
                                    <?php echo $form->remarks->renderViewHelper(); ?>
                                    <?php echo $form->remarks->renderErrors(); ?>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });

    $("#country").change(function () {
        var countryid = $("#country").val();
        $.ajax({
            type: "POST",
            url: "/city/get-state",
            data: {id: countryid},
            success: function (data) {
                $('#state').fadeTo(500, .5, function () {
                    $(this).html(data).fadeTo(500, 1);
                });
            }
        });
    });


    $("#state").change(function () {
        var stateid = $("#state").val();
        $.ajax({
            type: "POST",
            url: "/city/get-country",
            data: {id: stateid},
            success: function (data) {
                $('#country').fadeTo(500, .5, function () {
                    $(this).html(data).fadeTo(500, 1);
                });
            }
        });
    });

//    $("#city_name").change(function(){
//        var cityname = $("#city_name").val();
//        $.ajax({
//                type:"POST",
//                url:"/receiving-address/get-state-country",
//                data:{name:cityname},
//                success:function(data){
//                                     
//                    $('#country').fadeTo(500, .5, function() { 
//                        $(this).html(data).fadeTo(500, 1);
//                    });
////                    $('#state').fadeTo(500, .5, function() { 
////                        $(this).html(data).fadeTo(500, 1);
////                    });
//                }
//        });      
//    }); 

    $("#city").change(function () {
        var myCity = $("#city").val();
        $.ajax({
            type: "POST",
            url: "/receiving-address/get-state-country",
            dataType: 'json',
            data: {name: myCity},
            success: function (json) {
                $('#state').empty();
                $('#state').append($('<option>').text(json.state_name).attr('value', json.state_id));
                $("#country").val(json.country_id);
            }
        });


    });


</script>