<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>List of Receiving Addresses</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Add Receiving Address
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    <div class="well">
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              method="<?php echo $form->getAttrib('method') ?>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->address_name->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->address_name->renderViewHelper(); ?>
                                        <?php echo $form->address_name->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->street->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->street->renderViewHelper(); ?>
                                        <?php echo $form->street->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->city_name->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->city_name->renderViewHelper(); ?>
                                        <?php echo $form->city_name->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->country->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->country->renderViewHelper(); ?>
                                        <?php echo $form->country->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->state->renderLabel() ?></label>
                                        <?php echo $form->state->renderViewHelper(); ?>
                                        <?php echo $form->state->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->zip_code->renderLabel() ?></label>
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->zip_code->renderViewHelper(); ?>
                                        <?php echo $form->zip_code->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label ><?php echo $form->address_type->renderLabel() ?></label>
                                        <?php echo $form->address_type->renderViewHelper(); ?>
                                        <?php echo $form->address_type->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->remarks->renderLabel() ?></label>
                                        <?php echo $form->remarks->renderViewHelper(); ?>
                                        <?php echo $form->remarks->renderErrors(); ?>
                                    </div>
                                </div> 
                            </div>
                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                        </form>

                    </div>
                </div>
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Address Name</th>
                            <th>Street Name</th>
                            <th>City Name</th>
                            <th>State Name</th>
                            <th>Country Name</th>
                            <th>Zip Code</th>
                            <th>Address Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Address Name</th>
                            <th>Street Name</th>
                            <th>City Name</th>
                            <th>State Name</th>
                            <th>Country Name</th>
                            <th>Zip Code</th>
                            <th>Address Type</th>           
                            <th>Actions</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                //        var_dump($this->details);die;
                        if (count($this->details) > 0) {
                            foreach ($this->details as $key => $value) {
                                ?>
                                <tr>
                                    <td><?php echo $value['id']; ?></td>
                                    <td><?php echo $value['address_name']; ?></td>
                                    <td><?php echo $value['street']; ?></td>
                                    <td><?php echo $value['city_name']; ?></td>
                                    <td><?php echo $value['state_name']; ?></td>
                                    <td><?php echo $value['country_name']; ?></td>
                                    <td><?php echo $value['zip_code']; ?></td>
                                    <td><?php echo $value['address_type']; ?></td>

                                    <td> 
                                        <a href="#" onclick="Receiving.edit(<?php echo $value['id']; ?>);">
                                            <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a href="#" onclick="Receiving.delete(<?php echo $value['id']; ?>);"> 
                                            <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
        <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });
    
     $("#country").change(function(){
        var countryid = $("#country").val();
        $.ajax({
                type:"POST",
                url:"/city/get-state",
                data:{id:countryid},
                success:function(data){
                    $('#state').fadeTo(500, .5, function() { 
                        $(this).html(data).fadeTo(500, 1);
                    });
                }
        });      
    }); 
    
    
    $("#state").change(function(){
        var stateid = $("#state").val();
        $.ajax({
                type:"POST",
                url:"/city/get-country",
                data:{id:stateid},
                success:function(data){
                    $('#country').fadeTo(500, .5, function() { 
                        $(this).html(data).fadeTo(500, 1);
                    });
                }
        });      
    });
    
//    $("#city_name").change(function(){
//        var cityname = $("#city_name").val();
//        $.ajax({
//                type:"POST",
//                url:"/receiving-address/get-state-country",
//                data:{name:cityname},
//                success:function(data){
//                                     
//                    $('#country').fadeTo(500, .5, function() { 
//                        $(this).html(data).fadeTo(500, 1);
//                    });
////                    $('#state').fadeTo(500, .5, function() { 
////                        $(this).html(data).fadeTo(500, 1);
////                    });
//                }
//        });      
//    }); 
    
    $("#city").change(function(){
		var myCity = $("#city").val();
		$.ajax({
            type: "POST",
            url: "/receiving-address/get-state-country",
            dataType: 'json',       
            data: { name : myCity },
			success: function( json ) {
			$('#state').empty();
			$('#state').append($('<option>').text(json.state_name).attr('value', json.state_id));
			$("#country").val(json.country_id);
			}
        });

	   
    });


</script>
