<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">
                <div class="page-header" style="margin:0 0 10px 0;">
                       <div class="row">
                           <div class="col-md-6"><h3>ADJUST STOCK</h3></div>
                           <div class="col-md-6 btn-top-right">
                               <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                   Add Adjust Stock
                               </button>
                           </div>
                       </div> 
                   </div>
                   <div class="collapse" id="collapse-user">
                       <?php
                       $form = $this->form;
                       ?>
                       <div class="well">
                           <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                                 method="<?php echo $form->getAttrib('method') ?>">
                               <div class="row">
                                   <div class="col-md-6 min-h-95">
                                       <div class="form-group">
                                           <label><?php echo $form->name->renderLabel() ?></label>
                                           <?php echo $form->id->renderViewHelper(); ?>
                                           <?php echo $form->name->renderViewHelper(); ?>
                                           <?php echo $form->name->renderErrors(); ?>
                                       </div>
                                   </div>
                                   <div class="col-md-6 min-h-95">
                                       <div class="form-group">
                                           <label><?php echo $form->location->renderLabel() ?></label> 
                                           <?php echo $form->location->renderViewHelper(); ?>
                                           <?php echo $form->location->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6 min-h-95">
                                       <div class="form-group">
                                           <label><?php echo $form->newqty->renderLabel() ?></label> 
                                           <?php echo $form->newqty->renderViewHelper(); ?>
                                           <?php echo $form->newqty->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6 min-h-95">
                                       <div class="form-group">
                                           <label><?php echo $form->oldqty->renderLabel() ?></label> 
                                           <?php echo $form->oldqty->renderViewHelper(); ?>
                                           <?php echo $form->oldqty->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6 min-h-95">
                                       <div class="form-group">
                                           <label><?php echo $form->diff->renderLabel() ?></label> 
                                           <?php echo $form->diff->renderViewHelper(); ?>
                                           <?php echo $form->diff->renderErrors(); ?>
                                       </div>
                                   </div>
                                   <div class="col-md-6 min-h-95">
                                       <div class="form-group">
                                           <label><?php echo $form->remarks->renderLabel() ?></label> 
                                           <?php echo $form->remarks->renderViewHelper(); ?>
                                           <?php echo $form->remarks->renderErrors(); ?>
                                       </div>
                                   </div>
                               </div>
                               <?php echo $form->submitbtn->renderViewHelper(); ?>
                           </form>

                       </div>
                   </div>
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Location</th>
                            <th>New Quantity</th>
                            <th>Old Quantity</th>
                            <th>Difference</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Remarks</th>
                            <!--<th>Action</th>-->
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Location</th>
                            <th>New Quantity</th>
                            <th>Old Quantity</th>
                            <th>Difference</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Remarks</th>
<!--                            <th>Action</th>-->
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        //var_dump($this->details);die;
                        if (count($this->adjustStock) > 0) {
                            foreach ($this->adjustStock as $key => $value) {
                                ?>
                                <tr>
                                    <td><?php echo $value['id']; ?></td>
                                    <td><?php echo $value['product_name']; ?></td>
                                    <td><?php echo $value['location']; ?></td>
                                    <td><?php echo $value['new_quantity'];  ?></td>
                                    <td><?php echo $value['old_quantity']; ?></td>
                                    <td><?php echo $value['difference']; ?></td>
                                    <td><?php echo $value['invDate']; ?></td>
                                    <td><?php echo $value['status']; ?></td>
                                    <td><?php echo $value['remarks']; ?></td>
                                 <!--    <td> 
                                        <?php if($value['status']=='Completed'){ ?>
                                           <a href="#" data-toggle="tooltip" data-placement="top" title="Cancel stock" onclick="Inventory.CancelAdjustStock(<?php echo $value['id']; ?>);"> 
                                                <span aria-hidden="true" class="glyphicon glyphicon-off"></span>
                                            </a>
                                        <?php }?>
                                        </td>
                                        -->
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
   
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]]
            //"columnDefs": [ { orderable: false, targets: [9] }]
        });
         <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });
</script>
