<div class="well">  
<div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <select name="status" selected="<?php echo $this->status;  ?>"  onchange="Inventory.getSuggestedProduct();" class="form-control" id="select">
                    <?php foreach($this->suggestedProducts as $products){ ?>                                
                                     <option value="<?php echo $products['value']; ?>" <?php echo ($this->status == $products['value'])?'selected':''; ?>><?php echo $products['text']; ?></option>
                                <?php }?>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-10">
                <div class="form-group">
                    <buttton type="button" class="btn btn-warning" onclick="Inventory.ReorderProduct(1);">Reorder Product</buttton>
                </div>
            </div>
        </div>

    </div>
</div>
<table id="list-grid1" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>Select Product</th>
            <th>Product Name</th>
            <th>Available Quantity</th>
            <th>Reorder Point</th>
            <th>Reorder Quantity</th>
            <th>Last Vendor Name</th>
            <th>Reorder Status</th>
        </tr>
    </thead>

    <tfoot>
        <tr>

            <th>Select Product</th>
            <th>Product Name</th>
            <th>Available Quantity</th>
            <th>Reorder Point</th>
            <th>Reorder Quantity</th>
            <th>Last Vendor Name</th>
            <th>Reorder Status</th>
        </tr>
    </tfoot>

    <tbody>
        <?php
        //var_dump($this->details);die;
        $i = 0;
        if (count($this->reorderStock) > 0) {
            foreach ($this->reorderStock as $key => $value) {
                if ($value['product_name']) {
                    ?>
                    <tr id="tr-<?php echo $i; ?>">
                        <td><input type="checkbox" class="reorder_checkbox" id="<?php echo $i; ?>" checked></td>
                        <td><?php echo $value['product_name']; ?></td>
                        <td><?php echo '0'; ?></td>
                        <td><?php echo '0'; ?></td>
                        <td><input type="text" class="form-control" value="1" id="quantity<?php echo $i; ?>"><div id="quantity_error<?php echo $i; ?>" class="error-inner"></div></td>
                        <td><?php echo $value['vendor_name']; ?><div id="vendor_error<?php echo $i; ?>" class="error-inner"></div></td>
                        <td><?php echo $this->status; ?></td>
<!--                        <td> 
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Cancel Product" onclick="Inventory.CancelReorderStock(<?php echo $i; ?>);"> 
                                <span aria-hidden="true" class="glyphicon glyphicon-off"></span>
                            </a>

                        </td>-->
                <input type="hidden" value="<?php echo $value['vendor_id'] ?>" id="vendor<?php echo $i; ?>">        
                <input type="hidden" value="<?php echo $value['product_id'] ?>" id="product<?php echo $i; ?>">            
                <input type="hidden" value="<?php echo $this->status; ?>" id="status<?php echo $i; ?>">            
                </tr>
                <?php
                $i++;
            }
        }
    }
    ?>

    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#list-grid1').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [6] }]
        });
    });
</script>