<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">
                 <div class="page-header" style="margin:0 0 10px 0;">
                        <div class="row">
                            <div class="col-md-6"><h3>CURRENT STOCK</h3></div>
                        </div> 
                    </div>
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Last Vendor</th>
                            <th>Location</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Last Vendor</th>
                            <th>Location</th>
                            <th>Quantity</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        //var_dump($this->details);die;
                        if (count($this->currentStock) > 0) {
                            foreach ($this->currentStock as $key => $value) {
                                ?>
                                <tr>
                                    <td><?php echo $value['product_name']; ?></td>
                                    <td><?php echo $value['category']; ?></td>
                                    <td><?php echo $value['last_vendor_name'];  ?></td>
                                    <td><?php echo $value['location']; ?></td>
                                    <td><?php echo $value['quantity']; ?></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true
        });
    });
</script>