<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">

                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>Movement History</h3></div>
                    </div> 
                </div>
                
                <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Type</th>
                            <th>Movement Date</th>
                            <th>Location</th>
                            <th>Quantity Before</th>
                            <th>Quantity</th>
                            <th>Quantity After</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Product Name</th>
                            <th>Type</th>
                            <th>Movement Date</th>
                            <th>Location</th>
                            <th>Quantity Before</th>
                            <th>Quantity</th>
                            <th>Quantity After</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        if (count($this->movementData) > 0) {
                            foreach ($this->movementData as $movement) {
                                ?>
                                <tr id="tr-<?php echo $movement['id']; ?>">
                                    <td><?php echo $movement['product_name']; ?></td>
                                    <td><?php echo $movement['type']; ?></td>
                                    <td><?php echo $movement['movement_date']; ?></td>
                                    <td><?php echo $movement['location_name']; ?></td>
                                    <td><?php echo $movement['qty_before']; ?></td>
                                    <td><?php echo $movement['qty']; ?></td>
                                    <td><?php echo $movement['qty_after']; ?></td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>

            </div>


        </div>

    </div>

</div>


<script>
                $(document).ready(function() {
                    $('#list-grid').dataTable({
                        "processing": true,
                        "paging": true,
                        "ordering": true,
                        "info": true,
                        "order": [[0, "desc"]],
                        "columnDefs": [ { orderable: false, targets: [6] }]
                    });
                });

</script>
