<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">
                <div class="page-header" style="margin:0 0 10px 0;">
                    <div class="row">
                        <div class="col-md-6"><h3>REORDER STOCK</h3></div>
                        <div class="col-md-6 btn-top-right">
                            <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                Reorder Stock
                            </button>
                        </div>
                    </div> 
                </div>
                <div class="collapse" id="collapse-user">
                    <?php
                    $form = $this->form;
                    ?>
                    
                        <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                              onsubmit="return Inventory.ValidateReorder();"  method="<?php echo $form->getAttrib('method') ?>">
                            <div class="well">
                            <div class="row" id="product_div">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="required" for="exampleInputName2">Item</label>
                                        <input name="id" type="hidden" class="form-control" id="id" >
                                        <select name="item_id[]" onchange="Inventory.GetProductQuantity();" id="item_id" class="form-control">
                                            <option value="">Please Select</option>
                                            <?php foreach ($this->productList as $productList) { ?>      
                                                <option value="<?php echo $productList['id']; ?>"><?php echo $productList['product_name']; ?></option>
                                            <?php } ?>
                                        </select>
                                        <div id="product_error" class="error-inner"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label><?php echo $form->newqty->renderLabel() ?></label> 
                                        <?php echo $form->newqty->renderViewHelper(); ?>
                                        <?php echo $form->newqty->renderErrors(); ?>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label><?php echo $form->reorder_point->renderLabel() ?></label> 
                                        <?php echo $form->reorder_point->renderViewHelper(); ?>
                                        <?php echo $form->reorder_point->renderErrors(); ?>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="required"><?php echo $form->suggested_quantity->renderLabel() ?></label> 
                                        <?php echo $form->suggested_quantity->renderViewHelper(); ?>
                                        <?php echo $form->suggested_quantity->renderErrors(); ?>
                                        <div id="suggested_error" class="error-inner"></div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="required" for="exampleInputName2">Vendor</label>
                                        <input type="hidden" class="form-control" id="id" name="id">
                                        <select onchange="" id="vendor_id" name="vendor_id[]" class="form-control">
                                            <option value="">Please Select</option>
                                            <?php foreach ($this->vendors as $vendor) { ?>                                
                                                <option value="<?php echo $vendor['id']; ?>"><?php echo $vendor['name']; ?></option>
                                            <?php } ?>
                                        </select>
                                        <div id="vendor_error" class="error-inner"></div>
                                    </div>
                                </div>
                                <div class="row col-md2" style="margin-top:25px">
                                    <div class="col-md2">
                                        <div class="form-group">
                                            <?php echo $form->submitbtn->renderViewHelper(); ?>
                                        </div>
                                    </div>
                                </div>    
                            </div> 
                    </div>
                            <div id="table-list-grid">
                        <div class="well">
                            <div id="copy_product_div"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select name="status" onchange="Inventory.getSuggestedProduct();" class="form-control" id="select">
                                            <option value="">Suggest Products to Reorder</option>
                                            <option value="out of stock">Include Out Of Stock Items</option>
                                            <option value="bill of materials">Include Products assembled with an bill of materials</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-offset-10">
                                        <div class="form-group">
                                            <buttton type="button" class="btn btn-warning" onclick="Inventory.ReorderProduct();">Reorder Product</buttton>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>
                            </div>
                </div>
                <div id="list-grid-div">
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>

                                <th>Select Product</th>
                                <th>Product Name</th>
                                <th>Available Quantity</th>
                                <th>Reorder Point</th>
                                <th>Reorder Quantity</th>
                                <th>Vendor Name</th>
                                <th>Reorder Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>

                                <th>Select Product</th>
                                <th>Product Name</th>
                                <th>Available Quantity</th>
                                <th>Reorder Point</th>
                                <th>Reorder Quantity</th>
                                <th>Vendor Name</th>
                                <th>Reorder Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <?php
                            //var_dump($this->details);die;
                            if (count($this->reorderStock) > 0) {
                                foreach ($this->reorderStock as $key => $value) {
                                    ?>
                                    <tr id="tr-<?php echo $value['id']; ?>">
                                        <td><input type="checkbox" class="reorder_checkbox" id="<?php echo $value['id']; ?>" checked></td>
                                        <td><?php echo $value['product_name']; ?></td>
                                        <td><?php echo $value['quantity_available']; ?></td>
                                        <td><?php echo $value['reorder_point']; ?></td>
                                        <td><?php echo $value['reorder_quantity']; ?></td>
                                        <td><?php echo $value['vendor_name']; ?></td>
                                        <td><?php echo $value['reorder_status']; ?></td>
                                        <td> 
        <!--                                        <a href="#" onclick="Inventory.EditReorderStock(<?php //echo $value['id'];  ?>);">
                                                <span aria-hidden="true" class="glyphicon glyphicon-edit"></span>
                                            </a>-->
                                            <?php if($value['reorder_status']=='Reordered'){ ?>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Delete" onclick="Inventory.CancelReorderStock(<?php echo $value['id']; ?>);"> 
                                                <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
                                            </a>
                                            <?php } ?>
                                        </td>
                                <input type="hidden" value="<?php echo $value['vendor_id'] ?>" id="vendor<?php echo $value['id']; ?>">        
                                <input type="hidden" value="<?php echo $value['product_id'] ?>" id="product<?php echo $value['id']; ?>">        
                                <input type="hidden" value="<?php echo $value['reorder_quantity'] ?>" id="quantity<?php echo $value['id']; ?>">        
                                </tr>
                                <?php
                            }
                        }
                        ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [7] }]
        });
<?php if ($this->colStatus == 'Y') { ?>
            $('#addNew').click();
<?php } ?>
    });
</script>
<script type='text/javascript'>
//    $(function () {
//
//        // simple example
//        $('#name').immybox({
//            choices: <?php echo $this->productData; ?>
//            ,
//            defaultSelectedValue: '1'
//        });
//
//    });
</script>