<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<div class="row inner_main ">
    <div class="col-md-12">
        <div class="right_section">
            <div class="clearfix"></div>
            <div class="container-fluid" style="padding:0px;">
                <div class="page-header" style="margin:0 0 10px 0;">
                       <div class="row">
                           <div class="col-md-6"><h3>TRANSFER STOCK</h3></div>
                           <div class="col-md-6 btn-top-right">
                               <button id="addNew"class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapse-user" aria-expanded="false" aria-controls="collapseExample">
                                   Add Transfer Stock
                               </button>
                           </div>
                       </div> 
                   </div>
                   <div class="collapse" id="collapse-user">
                       <?php
                       $form = $this->form;
                       ?>
                       <div class="well ">
                           <form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
                                 method="<?php echo $form->getAttrib('method') ?>">
                               <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->transfer_date->renderLabel() ?></label>
                                           <?php echo $form->id->renderViewHelper(); ?>
                                           <?php echo $form->transfer_date->renderViewHelper(); ?>
                                           <?php echo $form->transfer_date->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6" id="send_date_div">
                                       <div class="form-group">
                                           <label><?php echo $form->send_date->renderLabel() ?></label>
                                           <?php echo $form->send_date->renderViewHelper(); ?>
                                           <?php echo $form->send_date->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6" id="rec_date_div">
                                       <div class="form-group">
                                           <label><?php echo $form->received_date->renderLabel() ?></label>
                                           <?php echo $form->received_date->renderViewHelper(); ?>
                                           <?php echo $form->received_date->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->status->renderLabel() ?></label>
                                           <?php echo $form->status->renderViewHelper(); ?>
                                           <?php echo $form->status->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->name->renderLabel() ?></label>
                                           <?php echo $form->name->renderViewHelper(); ?>
                                           <?php echo $form->name->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->location->renderLabel() ?></label> 
                                           <?php echo $form->location->renderViewHelper(); ?>
                                           <?php echo $form->location->renderErrors(); ?>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->tolocation->renderLabel() ?></label> 
                                           <?php echo $form->tolocation->renderViewHelper(); ?>
                                           <?php echo $form->tolocation->renderErrors(); ?>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->qty->renderLabel() ?></label> 
                                           <?php echo $form->currentqty->renderViewHelper(); ?>
                                           <?php echo $form->qty->renderViewHelper(); ?>
                                           <?php echo $form->qty->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                               </div>
                               <?php echo $form->submitbtn->renderViewHelper(); ?>
                           </form>

                       </div>
                   </div>
                    <table id="list-grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>From Location</th>
                            <th>To Location</th>
                            <th>Quantity</th>
                            <th>Transfer Date</th>
                            <th>Send Date</th>
                            <th>Received Date</th>
                            <th>Status</th>
                            <th>Send Stock</th>
                            <th>Receive Stock</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>From Location</th>
                            <th>To Location</th>
                            <th>Quantity</th>
                            <th>Transfer Date</th>
                            <th>Send Date</th>
                            <th>Received Date</th>
                            <th>Status</th>
                           <th>Send Stock</th>
                            <th>Receive Stock</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        <?php
                        //var_dump($this->details);die;
                        if (count($this->transferStock) > 0) {
                            foreach ($this->transferStock as $key => $value) {
                                ?>
                                <tr>
                                    <td><?php echo $value['id']; ?></td>
                                    <td><?php echo $value['product_name']; ?></td>
                                    <td><?php echo $value['fromlocation']; ?></td>
                                    <td><?php echo $value['tolocation'];  ?></td>
                                    <td><?php echo $value['quantity']; ?></td>
                                    <td><?php echo $value['trasferDate']; ?></td>
                                    <td><?php echo $value['sendDate']; ?></td>
                                    <td><?php echo $value['receivedDate']; ?></td>
                                    <td><?php echo $value['status']; ?></td>
                                    <td> 
                                        <?php if(!$value['sendDate']){ ?>
                                         <button type="button"  onclick="Inventory.sendStock(<?php echo $value['id']; ?>);" class="btn btn-xs btn-success">Send Stock</button>
                                        <?php } else {
                                            echo 'Sent';
                                        } ?>
                                    </td> 
                                    <td> 
                                        <?php 
                                        if($value['sendDate']){
                                            if(!$value['receivedDate']){ ?>
                                                <button type="button"  onclick="Inventory.receiveStock(<?php echo $value['id']; ?>);" class="btn btn-xs btn-success">Receive stock</button>
                                               <?php } else {
                                                echo 'Received';
                                            } 
                                        }?>
                                    </td>
                                </tr>
                                <?php
                            }
                        }
                        ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
   
        $('#list-grid').dataTable({
            "paging": true,
            "ordering": true,
            "info": true,
            "order": [[0, "desc"]],
            "columnDefs": [ { orderable: false, targets: [9] },{ orderable: false, targets: [10] }]
        });
         <?php if($this->colStatus=='Y'){ ?>
            $('#addNew').click();
        <?php } ?>
    });
</script>
<script type='text/javascript'>
      $(function() {

        <?php if($this->status == 'Open'){ ?>
            $("#send_date_div").hide();
            $("#rec_date_div").hide();
        <?php } ?>
//        
//        $("#transfer_date").datepicker({
//            changeMonth: true,
//            changeYear: true,
//            dateFormat: 'dd/mm/yy'
//        });

      });
    </script>