<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Save</button>
                        <button type="button"  onclick="Inventory.GoToReorderList();" class="btn btn-default li9 font-bold">
                            Back To Reorder Stock
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                            <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                        <label><?php echo $form->item_id->renderLabel() ?></label> 
                                        <?php echo $form->id->renderViewHelper(); ?>
                                        <?php echo $form->item_id->renderViewHelper(); ?>
                                        <?php echo $form->item_id->renderErrors(); ?>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->newqty->renderLabel() ?></label> 
                                        <?php echo $form->newqty->renderViewHelper(); ?>
                                        <?php echo $form->newqty->renderErrors(); ?>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->reorder_point->renderLabel() ?></label> 
                                        <?php echo $form->reorder_point->renderViewHelper(); ?>
                                        <?php echo $form->reorder_point->renderErrors(); ?>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->suggested_quantity->renderLabel() ?></label> 
                                        <?php echo $form->suggested_quantity->renderViewHelper(); ?>
                                        <?php echo $form->suggested_quantity->renderErrors(); ?>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label><?php echo $form->vendor_id->renderLabel() ?></label> 
                                        <?php echo $form->vendor_id->renderViewHelper(); ?>
                                        <?php echo $form->vendor_id->renderErrors(); ?>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select name="status" class="form-control" id="select">
                                            <option value="">Suggest Products to Reorder</option>
                                            <option value="out of stock">Include Out Of Stock Items</option>
                                            <option value="bill of materials">Include Products assembled with an bill of materials</option>
                                        </select>
                                    </div>
                                </div>
                        </div> 

                    </div>

                </div>


            </div>

        </div>

    </div>

</form>

<script type='text/javascript'>
    $(function () {

        // simple example
        $('#name').immybox({
            choices: <?php echo $this->productData; ?>
            ,
            defaultSelectedValue: '1'
        });

    });
</script>

