<link rel='stylesheet' type='text/css' href='/css/immybox.css'>
<script src='/js/jquery.immybox.min.js'></script>
<?php $form = $this->form; ?>

<form id="frmuser"  enctype="application/x-www-form-urlencoded" action="<?php echo $form->getAttrib('action') ?>"
      method="<?php echo $form->getAttrib('method') ?>">
    <div class="row inner_main ">
        <div class="col-md-12">
            <div class="right_section">
                <div class="container-fluid btn-back">
                    <div class="btn-group" role="group" aria-label="..." style="padding:0px;">
                        <button type="submit" class="btn btn-default li2">Save</button>
                        <button type="button"  onclick="Inventory.GoToList();" class="btn btn-default li9 font-bold">
                            Back To Adjust Stock
                        </button>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="container-fluid" style="padding:0px;">
                    <div class="tab_container">
                        <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->name->renderLabel() ?></label>
                                           <?php echo $form->id->renderViewHelper(); ?>
                                           <?php echo $form->name->renderViewHelper(); ?>
                                           <?php echo $form->name->renderErrors(); ?>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->location->renderLabel() ?></label> 
                                           <?php echo $form->location->renderViewHelper(); ?>
                                           <?php echo $form->location->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->newqty->renderLabel() ?></label> 
                                           <?php echo $form->newqty->renderViewHelper(); ?>
                                           <?php echo $form->newqty->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->oldqty->renderLabel() ?></label> 
                                           <?php echo $form->oldqty->renderViewHelper(); ?>
                                           <?php echo $form->oldqty->renderErrors(); ?>
                                       </div>
                                   </div>
                                   
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->diff->renderLabel() ?></label> 
                                           <?php echo $form->diff->renderViewHelper(); ?>
                                           <?php echo $form->diff->renderErrors(); ?>
                                       </div>
                                   </div>
                            
                                    <div class="col-md-6">
                                       <div class="form-group">
                                           <label><?php echo $form->remarks->renderLabel() ?></label> 
                                           <?php echo $form->remarks->renderViewHelper(); ?>
                                           <?php echo $form->remarks->renderErrors(); ?>
                                       </div>
                                   </div>
                               </div> 

                    </div>

                </div>


            </div>

        </div>

    </div>

</form>

<script type='text/javascript'>
      $(function() {

        // simple example
        $('#name').immybox({
          choices: <?php echo $this->productData; ?>  
          ,
          defaultSelectedValue: '1'
        });

      });
    </script>

