@font-face {
	font-family: 'Conv_ProximaNova-Regular_0';
	src: url('../fonts/ProximaNova-Regular_0.eot');
	src: local('☺'), url('../fonts/ProximaNova-Regular_0.woff') format('woff'), url('../fonts/ProximaNova-Regular_0.ttf') format('truetype'), url('../fonts/ProximaNova-Regular_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_ProximaNova-Semibold_0';
	src: url('../fonts/ProximaNova-Semibold_0.eot');
	src: local('☺'), url('../fonts/ProximaNova-Semibold_0.woff') format('woff'), url('../fonts/ProximaNova-Semibold_0.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}