body {/*background: #f5e5b5; /* Old browsers */
/*background: -moz-linear-gradient(left,  #f5e5b5 0%, #6c949a 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5e5b5), color-stop(100%,#6c949a)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(left,  #f5e5b5 0%,#6c949a 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(left,  #f5e5b5 0%,#6c949a 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(left,  #f5e5b5 0%,#6c949a 100%); /* IE10+ */
/*background: linear-gradient(to right,  #f5e5b5 0%,#6c949a 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e5b5', endColorstr='#6c949a',GradientType=1 ); /* IE6-9 */
background:#15191c;
padding:0px;
color:#000000;
}

.margin-top-05{margin-top:5px;}
.mt-15{margin-top: 15px;}

.padding-left-none {padding-left:0px;}

.padding-l-r-none {padding-left:0px; padding-right:0px;}

.header-strip {/*background:#003E48;*/
background:#1C5A85; 
background-image:-moz-linear-gradient(center top , #3093C7, #1C5A85);

 background-image: -webkit-gradient(linear, left top, left bottom, from(#3093C7), to(#1C5A85));
 background-image: -webkit-linear-gradient(top, #3093C7, #1C5A85);
 background-image: -moz-linear-gradient(top, #3093C7, #1C5A85);
 background-image: -ms-linear-gradient(top, #3093C7, #1C5A85);
 background-image: -o-linear-gradient(top, #3093C7, #1C5A85);
 background-image: linear-gradient(to bottom, #3093C7, #1C5A85);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1C5A85);

box-shadow: 2px 2px 2px 2px #888888;}

.header-strip .col-md-2 {padding-left:0; padding-right:0;}
 


.header-nav {float:right;}
.heading {padding: 10px 10px 5px 50px; background:#feb900 url(/img/purchage_head.png) no-repeat 10px 5px;float:right; height: 100%; font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif; color:#000; font-size: 27px; }
.welcome {padding:15px 15px 0 0px; float:right; color:#000; font-size: 15px; margin-left: 0px; }
.welcome p{font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}
.welcome p span{color:#fff}
.header-nav ul {list-style: none; margin: 0; padding-left: 0;}
.header-nav ul li {float: left;}
.header-nav ul li a {float:left; border-right:1px solid #1f98af; padding:27px 20px; background-image:url(/img/header-icon.png); background-repeat: no-repeat; text-indent: -5000px; height:23px; width: 66px;}

.header-nav ul > li:nth-child(1) > a {border-left:1px solid #1f98af; background-position: 25px 10px;}
.header-nav ul > li:nth-child(2) > a {background-position: -45px 10px;}
.header-nav ul > li:nth-child(3) > a {background-position: -110px 10px;}
.header-nav ul > li:nth-child(4) > a {background-position: -180px 10px;}
.header-nav ul > li:nth-child(5) > a {background-position: -250px 10px;}

.header-nav ul > li:nth-child(1) > a:hover {border-left:1px solid #1f98af; background-position: 25px -58px;}
.header-nav ul > li:nth-child(2) > a:hover {background-position: -45px -58px;}
.header-nav ul > li:nth-child(3) > a:hover {background-position: -110px -58px;}
.header-nav ul > li:nth-child(4) > a:hover {background-position: -180px -58px;}
.header-nav ul > li:nth-child(5) > a:hover {background-position: -250px -58px;}

.footer {border:1px solid #ccc; background:#38c3cd; padding:0px; margin:0px; }
.bottom {border:1px solid #ccc; background:#38c3cd; padding:0px; margin:0px; width:100%; }
.footer-nav ul {text-align: center; margin:0; padding: 0; }
.footer-nav ul li {display: inline-block; font-family:"times";}
.footer-nav ul li a {display: block; text-align: center; padding: 0 25px;}

.footer-fixed {position:fixed;bottom:53px;width:100%; z-index: 3; display:none}
#footer {background:#38c3cd; text-align: center; position: fixed; width: 100%;}
#footer ul {list-style: none; margin: 0; padding: 0;}
#footer ul li {background:url(/img/divider.gif) no-repeat 100% 0;	font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif;}
#footer ul li a {display: block; padding:15px 0; font-size:16px; color:#2b666b; text-align:left;}
#footer ul li a:hover {color:#fff; text-decoration: none;}

#footer ul li:nth-child(1) a {background:url(/img/f-icon-1.png) no-repeat 20px 9px; padding-left: 60px ;}
#footer ul li:nth-child(2) a {background:url(/img/f-icon-2.png) no-repeat 30px 9px; padding-left: 80px ;}
#footer ul li:nth-child(3) a {background:url(/img/f-icon-3.png) no-repeat 20px 9px; padding-left: 60px ;}
#footer ul li:nth-child(4) a {background:url(/img/f-icon-4.png) no-repeat 20px 9px; padding-left: 70px;}
#footer ul li:nth-child(5) a {background:url(/img/f-icon-5.png) no-repeat 20px 9px; padding-left: 60px;}
#footer ul li:nth-child(6) a {background:url(/img/f-icon-6.png) no-repeat 30px 9px; padding-left: 70px;}

#footer ul li:nth-child(1) a:hover {background:url(/img/f-icon-1-hover.png) no-repeat 20px 9px;}
#footer ul li:nth-child(2) a:hover {background:url(/img/f-icon-2-hover.png) no-repeat 30px 9px;}
#footer ul li:nth-child(3) a:hover {background:url(/img/f-icon-3-hover.png) no-repeat 20px 9px;}
#footer ul li:nth-child(4) a:hover {background:url(/img/f-icon-4-hover.png) no-repeat 20px 9px;}
#footer ul li:nth-child(5) a:hover {background:url(/img/f-icon-5-hover.png) no-repeat 20px 9px;}
#footer ul li:nth-child(6) a:hover {background:url(/img/f-icon-6-hover.png) no-repeat 30px 9px;}

#footer .foot-nav li {background:none;}
#footer .foot-nav li {font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}
#footer .foot-nav li a {font-size:15px; padding:10px 50px; background:none; z-index: 5; text-align: left; display: block;}
#footer .foot-nav li a:hover {color:#fff; font-weight:normal; }

#footer .foot-nav li:nth-child(1) a {background:url(/img/g-icon.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(2) a {background:url(/img/g-icon_2.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(3) a {background:url(/img/g-icon_3.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(4) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(5) a {background:url(/img/g-icon_5.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(6) a {background:url(/img/g-icon_6.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(7) a {background:url(/img/g-icon_7.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(8) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(9) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(10) a {background:url(/img/g-icon_5.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(11) a {background:url(/img/g-icon_6.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(12) a {background:url(/img/g-icon_7.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(13) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(14) a {background:url(/img/g-icon_7.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(15) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(16) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(17) a {background:url(/img/g-icon_5.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(18) a {background:url(/img/g-icon_6.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(19) a {background:url(/img/g-icon_7.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(20) a {background:url(/img/g-icon_4.png) no-repeat 10px 8px; padding-left:40px;}


#footer .foot-nav li:nth-child(1) a:hover {background:#3dc4ce url(/img/g-icon_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(2) a:hover {background:#3dc4ce url(/img/g-icon_2_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(3) a:hover {background:#3dc4ce url(/img/g-icon_3_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(4) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(5) a:hover {background:#3dc4ce url(/img/g-icon_5_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(6) a:hover {background:#3dc4ce url(/img/g-icon_6_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(7) a:hover {background:#3dc4ce url(/img/g-icon_7_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(8) a:hover {background:#3dc4ce url(/img/g-icon_3_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(9) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(10) a:hover {background:#3dc4ce url(/img/g-icon_5_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(11) a:hover {background:#3dc4ce url(/img/g-icon_6_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(12) a:hover {background:#3dc4ce url(/img/g-icon_7_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(13) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(14) a:hover {background:#3dc4ce url(/img/g-icon_7_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(15) a:hover {background:#3dc4ce url(/img/g-icon_3_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(16) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(17) a:hover {background:#3dc4ce url(/img/g-icon_5_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(18) a:hover {background:#3dc4ce url(/img/g-icon_6_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(19) a:hover {background:#3dc4ce url(/img/g-icon_7_over.png) no-repeat 10px 8px; padding-left:40px;}
#footer .foot-nav li:nth-child(20) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}



#footer_small{display:none;}




.margin-top-20 {margin-top:20px; text-align: center;}


.pge-box-hover {display: none; background:#1fc17e; text-align:center; width:13%; height:358px; display:inline-block;}

.footermenu
{background:#f4f0f0;padding:0px 0px 0px 0px; 
 margin-bottom:0px;
 position: fixed;
 bottom:53px;
 z-index:2;
 display:none;

}

.switch {margin-top:120px;}
.img-responsive { display: table-cell; max-width: 100%; }
.boxes{}
.boxes .row{margin-top:100px;}
.boxes .col-md-10{width:100%; text-align:center;}


.flip {display:inline-block; width:190px; position:relative; background:#e96739;  height:281px;  padding:0px; margin:0px; overflow:hidden;
}

.hov { width:190px; position:relative; background:#fff;  height:281px;  padding:0px; margin:0px; overflow:hidden; position:absolute; top:0px; display:none; border:2px solid #1ba3e1;


}
.hov h3 {font-size:22px; font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif; font-weight:500; color:#1ba3e1;}
.hov ul {list-style: none; margin:0; padding:0;}
.hov ul li {display: block;padding:8px 0 8px 20px; color:#8b8d90; text-align:left; }
.hov ul li:hover{background-color:#1ba3e1; color:#fff; cursor:pointer; font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}
.hov ul  a {text-decoration:none;}
.hov ul li a:hover {color:#fff; background:#000; text-decoration: none;}


.card {width: 100%;}
.back {background-color:#fff; border:2px solid #1aa4e2; position:absolute; top:0px; width:100%; height:100%; opacity:0;}
.back:hover{opacity:1;}
.flip .container{width:100%; height:100%; padding:0px; margin:0px;}
.flip .container h3 {font-size:22px; font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif; font-weight:500; color:#fff;}
.flip .container .icons{width:100%; bottom:20px; position:absolute;}
.back ul {list-style: none; margin:0; padding:0;}
.back ul li {display: block;padding:4px 0 4px 20px; color:#8b8d90; text-align:left;}
.back ul li:hover{background-color:#1ba3e1; color:#fff; cursor:pointer;}
.back ul  a {text-decoration:none;}
.back ul li a:hover {color:#fff; background:#000; text-decoration: none;}

.arrow-right {height:281px; background:url(/img/arrow-right2.png) no-repeat 50% 45%; width: 25px; margin:0 10px; display:inline-block;}


.vendor{background:#1fc17e url(/img/vendor_icon.png) no-repeat center; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);}
.purchase{background:#e96739 url(/img/purchase_icon.png) no-repeat center; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);}
.inventory{background:#1ba3e1 url(/img/inventory_icon.png) no-repeat center; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);}
.sales{background:#16a297 url(/img/sales_icon.png) no-repeat center; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);}
.customer{background:#de4d4e url(/img/customer_icon.png) no-repeat center; box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.75);}


/* Start Inner */

/* Start Left */
.inner_main {/*border:0px solid #e96739; background:#fff; margin-bottom:53px*/}

.inner_main .left_section{width:100%; padding:0px; margin:0px;}

.left_section .search_head{background:#efefef url(/img/search_icon.png) no-repeat 99% center; padding:10px 5px;}

.left_section .search_head h3{font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif; font-size:22px; padding:0px; margin:0px; color:#e96739;}

.order_form{padding:10px 0 0 10px;}

.order_form .form-group label{text-align:left; font-size:12px; color:#e96739; background:url(/img/down_arrow.png) no-repeat 100% 13px; padding-right:0px; }

.order_form .form-group input{padding:0px; border:1px solid #ddd; border-radius:0px;}

.order_form .form-group .btn-primary{ border-radius:0px; border:0px; background:#3dc4ce url(/img/refresh_icon.png) no-repeat 95% center; padding-right:35px;}

.order_form .form-group .btn-primary:hover{  background-color: #249098;
                                             /* Firefox */
                                             -moz-transition: all 0.5s ease-in-out;
                                             /* WebKit */
                                             -webkit-transition: all 0.5s ease-in-out;
                                             /* Opera */
                                             -o-transition: all 0.5s ease-in-out;
                                             /* Standard */
                                             transition: all 0.5s ease-in-out;}


.left_section .order_status{background:#efefef url(/img/scrol_arrow.png) no-repeat 99% center; padding:10px 5px; border-top:1px solid #b2b2b2;}
.left_section .order_status h3{font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif; font-size:22px; padding:0px; margin:0px; color:#e96739;}
/* End Left */

/* Start Right */
.inner_main .right_section{width:100%; padding:0px; margin:10px 0 0 0; background:#dbe5e8; padding:5px;}

.btn-back{background: #1c5a85 linear-gradient(to bottom, #3093c7, #1c5a85) repeat scroll 0 0; border-radius:3px; padding:5px 0px 5px 10px !important; margin-bottom:15px; 
 }
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color:#efefef;
    border-color: #ADADAD;
}

.btn-group.open .dropdown-toggle {
    box-shadow:none;
}

.btn-group .btn{font-size:12px; font-weight:bold; color:#fff; }
.btn-group  .li1{border:0px; background: url(/img/nav1_icon.png) no-repeat 2% center; padding-left:28px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li2{border:0px; background: url(/img/nav2_icon.png) no-repeat 2% center; padding-left:30px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li3{border:0px; background: url(/img/nav3_icon.png) no-repeat 2% center; padding-left:28px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li4{border:0px; background: url(/img/nav4_icon.png) no-repeat 2% center; padding-left:30px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li5{border:0px; background: url(/img/nav5_icon.png) no-repeat 2% center; padding-left:30px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li6{border:0px; background: url(/img/nav6_icon.png) no-repeat 2% center; padding-left:30px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li7{border:0px; background: url(/img/nav7_icon.png) no-repeat 2% center; padding-left:30px; border-right:1px solid #a7a7a7; margin-right:10px;}
.btn-group  .li8{border:0px; background: url(/img/nav8_icon.png) no-repeat 2% center; padding-left:30px;}
.btn-group  .li9{border:0px; background: url(/img/nav9_icon.png) no-repeat 2% center; padding-left:30px;}

.btn-group  button:hover{color:#feb900; }





.inner_main .right_section .navbar-nav li ul li{text-align:center; width:100%; color:#fff;}

/* tab container */
.tab_container {width:100%; margin:20px 0;}

.tab_container .nav-tabs {
    border-bottom: 0px solid #ddd;
}

.tab_container .nav-tabs > li a{

    border-color: #fff transparent;
	background:#707070;
    background:-moz-linear-gradient(center top , #a7a7a7, #707070);
	
 background-image: -webkit-gradient(linear, left top, left bottom, from(#a7a7a7), to(#707070));
 background-image: -webkit-linear-gradient(top, #a7a7a7, #707070);
 background-image: -moz-linear-gradient(top, #a7a7a7, #707070);
 background-image: -ms-linear-gradient(top, #a7a7a7, #707070);
 background-image: -o-linear-gradient(top, #a7a7a7, #707070);
 background-image: linear-gradient(to bottom, #a7a7a7, #707070);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7a7a7, endColorstr=#707070);
	
    color:#000; font-weight:bold;
    border-radius:0px;
    margin-right:3px;
    border:0px;
}

.tab_container .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    border-color: #fff transparent;
    /*background-color:#ff6608;*/
    border-radius:0px;
    color:#000; font-weight:bold;
    border:0px;
	background:#feb900;
	background-image:-moz-linear-gradient(center top , #f7e0a4, #feb900);
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#f7e0a4), to(#feb900));
 background-image: -webkit-linear-gradient(top, #f7e0a4, #feb900);
 background-image: -moz-linear-gradient(top, #f7e0a4, #feb900);
 background-image: -ms-linear-gradient(top, #f7e0a4, #feb900);
 background-image: -o-linear-gradient(top, #f7e0a4, #feb900);
 background-image: linear-gradient(to bottom, #f7e0a4, #feb900);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7e0a4, endColorstr=#feb900);
}


.tab-pane {border:0px solid #ff6608; margin-top:1px;}

/* End tab container */                               


/*.form-group input{padding:2px; border:1px solid #ddd; border-radius:0px; height:30px;}*/
.form-group label{font-size:13px; color:#005A8E; padding-right:10px; font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}
.form-inline .form-group textarea{padding:5px; border:1px solid #ddd; border-radius:0px; width:150px;}

.form-inline .form-group{margin-right:20px; margin-bottom:10px; }

.form-right {width:100%; }
.left-texts{text-align:left;}
.tab-form{margin-left:10px;}
.tab-form .form-group label{font-size:12px; color:#e96739; padding-right:10px; font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}

.tab-form .btn-primary{ border-radius:0px; border:0px; background:#3dc4ce;}

.tab-form .btn-primary:hover{  background-color: #249098;
                               /* Firefox */
                               -moz-transition: all 0.5s ease-in-out;
                               /* WebKit */
                               -webkit-transition: all 0.5s ease-in-out;
                               /* Opera */
                               -o-transition: all 0.5s ease-in-out;
                               /* Standard */
                               transition: all 0.5s ease-in-out;}

.form-horizontal .btn-default{ border-radius:0px; border:0px; background:#3dc4ce; color:#fff;}

.form-horizontal .btn-default:hover{  background-color: #249098;
                                      /* Firefox */
                                      -moz-transition: all 0.5s ease-in-out;
                                      /* WebKit */
                                      -webkit-transition: all 0.5s ease-in-out;
                                      /* Opera */
                                      -o-transition: all 0.5s ease-in-out;
                                      /* Standard */
                                      transition: all 0.5s ease-in-out;}


.tab-form .tab-form-right{}
.tab-form .tab-form-right input{ font-weight:bold; height:30px; padding-right:10px;}


.tab-form-right-tabs{text-align:right;}
.tab-form-right-tabs input{text-align:right; width:100px; font-weight:bold; height:25px; padding-right:10px;}

.tab-form   .tab-form-right .form-group{margin-right:0px; margin-bottom:15px; }
/* End inner */


/* for duplicate */


#footer_small {background:#38c3cd; text-align: center; position: fixed; width: 100%;}
#footer_small ul {list-style: none; margin: 0; padding: 0;}
#footer_small ul li {background:url(/img/divider.gif) no-repeat 100% 0;	font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif;}
#footer_small ul li a {display: block; padding:15px 0; font-size:16px; color:#2b666b; text-align:left;}
#footer_small ul li a:hover {color:#fff; text-decoration: none;}
#footer_small ul li:nth-child(1) a {background:url(/img/f-icon-1_small.png) no-repeat 5px 14px; padding-left: 35px ;}
#footer_small ul li:nth-child(2) a {background:url(/img/f-icon-2_small.png) no-repeat 10px 14px; padding-left: 50px ;}
#footer_small ul li:nth-child(3) a {background:url(/img/f-icon-3_small.png) no-repeat 10px 14px; padding-left: 45px ;}
#footer_small ul li:nth-child(4) a {background:url(/img/f-icon-4_small.png) no-repeat 10px 14px; padding-left: 50px;}
#footer_small ul li:nth-child(5) a {background:url(/img/f-icon-5_small.png) no-repeat 10px 14px; padding-left: 45px;}
#footer_small ul li:nth-child(6) a {background:url(/img/f-icon-6_small.png) no-repeat 10px 14px; padding-left: 45px;}

#footer_small ul li:nth-child(1) a:hover {background:url(/img/f-icon-1_small_over.png) no-repeat 5px 14px;}
#footer_small ul li:nth-child(2) a:hover {background:url(/img/f-icon-2_small_over.png) no-repeat 10px 14px;}
#footer_small ul li:nth-child(3) a:hover {background:url(/img/f-icon-3_small_over.png) no-repeat 10px 14px;}
#footer_small ul li:nth-child(4) a:hover {background:url(/img/f-icon-4_small_over.png) no-repeat 10px 14px;}
#footer_small ul li:nth-child(5) a:hover {background:url(/img/f-icon-5_small_over.png) no-repeat 10px 14px;}
#footer_small ul li:nth-child(6) a:hover {background:url(/img/f-icon-6_small_over.png) no-repeat 10px 14px;}



.footermenu_bottom
{
    display:none;
    background:#f4f0f0;padding:10px 0px 10px 0px; 
    width:100%;
    margin-bottom:0px;
    position: fixed;
    bottom:53px;
    z-index:2;
    left:0px;
    margin:0 auto;

}

.footermenu_bottom .foot-nav ul {list-style: none; margin: 0; padding: 0;}
.footermenu_bottom .foot-nav li {background:none; list-style:none;}
.footermenu_bottom .foot-nav li {font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}
.footermenu_bottom .foot-nav li a {font-size:15px; padding:10px 10px; color:#2b666b; background:none; z-index: 5; text-align: left; display: block; float:left;}
.footermenu_bottom .foot-nav li a:hover {color:#fefefe;}
.footermenu_bottom .foot-nav li:nth-child(1) a {background:url(/img/g-icon.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(2) a {background:url(/img/g-icon_2.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(3) a {background:url(/img/g-icon_3.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(4) a {background:url(/img/g-icon_4.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(5) a {background:url(/img/g-icon_5.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(6) a {background:url(/img/g-icon_6.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(7) a {background:url(/img/g-icon_7.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(8) a {background:url(/img/g-icon_4.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(9) a {background:url(/img/g-icon.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(10) a {background:url(/img/g-icon_2.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(11) a {background:url(/img/g-icon_3.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(12) a {background:url(/img/g-icon_4.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(13) a {background:url(/img/g-icon_5.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(14) a {background:url(/img/g-icon_6.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(15) a {background:url(/img/g-icon_7.png) no-repeat 10px 10px; padding-left:40px;}
.footermenu_bottom .foot-nav li:nth-child(16) a {background:url(/img/g-icon_4.png) no-repeat 10px 10px; padding-left:40px;}

.footermenu_bottom  .foot-nav li:nth-child(1) a:hover {background:#3dc4ce url(/img/g-icon_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(2) a:hover {background:#3dc4ce url(/img/g-icon_2_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(3) a:hover {background:#3dc4ce url(/img/g-icon_3_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(4) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(5) a:hover {background:#3dc4ce url(/img/g-icon_5_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(6) a:hover {background:#3dc4ce url(/img/g-icon_6_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(7) a:hover {background:#3dc4ce url(/img/g-icon_7_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(8) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}

.footermenu_bottom  .foot-nav li:nth-child(9) a:hover {background:#3dc4ce url(/img/g-icon_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(10) a:hover {background:#3dc4ce url(/img/g-icon_2_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(11) a:hover {background:#3dc4ce url(/img/g-icon_3_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(12) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(13) a:hover {background:#3dc4ce url(/img/g-icon_5_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(14) a:hover {background:#3dc4ce url(/img/g-icon_6_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(15) a:hover {background:#3dc4ce url(/img/g-icon_7_over.png) no-repeat 10px 8px; padding-left:40px;}
.footermenu_bottom  .foot-nav li:nth-child(16) a:hover {background:#3dc4ce url(/img/g-icon_4_over.png) no-repeat 10px 8px; padding-left:40px;}



/* END for duplicate */


@media only screen and (max-width: 790px) {

.header-nav ul li a {float:left; border-right:1px solid #1f98af; padding:25px 20px; background-image:url(/img/header-icon.png); background-repeat: no-repeat; text-indent: -5000px; height:23px; width: 50px;}

.header-nav ul > li:nth-child(1) > a {border-left:1px solid #1f98af; background-position: 15px 10px;}
.header-nav ul > li:nth-child(2) > a {background-position: -55px 10px;}
.header-nav ul > li:nth-child(3) > a {background-position: -120px 10px;}
.header-nav ul > li:nth-child(4) > a {background-position: -185px 10px;}
.header-nav ul > li:nth-child(5) > a {background-position: -250px 10px;}

.header-nav ul > li:nth-child(1) > a:hover {border-left:1px solid #1f98af; background-position: 15px -58px;}
.header-nav ul > li:nth-child(2) > a:hover {background-position: -55px -58px;}
.header-nav ul > li:nth-child(3) > a:hover {background-position: -120px -58px;}
.header-nav ul > li:nth-child(4) > a:hover {background-position: -185px -58px;}
.header-nav ul > li:nth-child(5) > a:hover {background-position: -250px -58px;}


    .inner_main .right_section .navbar-nav  .li1{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li2{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li3{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li4{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li5{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li6{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li7{background:none; padding-left:15px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .inner_main .right_section .navbar-nav  .li8{background:none; padding-left:15px;}


    #footer_small{display:block;}
    #footer{display:none;}
    .box4{margin-top:50px;}
    .box5{margin-top:50px;}
    .footermenu_bottom{display:none;}



    .btn-group .btn{font-size:12px; }
    .btn-group  .li1{border:0px; background: url(/img/nav1_icon_small.png) no-repeat 2% center; padding-left:20px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li2{border:0px; background: url(/img/nav2_icon_small.png) no-repeat 2% center; padding-left:25px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li3{border:0px; background: url(/img/nav3_icon_small.png) no-repeat 2% center; padding-left:20px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li4{border:0px; background: url(/img/nav4_icon_small.png) no-repeat 2% center; padding-left:22px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li5{border:0px; background: url(/img/nav5_icon_small.png) no-repeat 2% center; padding-left:21px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li6{border:0px; background: url(/img/nav6_icon_small.png) no-repeat 2% center; padding-left:25px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li7{border:0px; background: url(/img/nav7_icon_small.png) no-repeat 2% center; padding-left:25px; border-right:1px solid #a7a7a7; margin-right:10px;}
    .btn-group  .li8{border:0px; background: url(/img/nav8_icon_small.png) no-repeat 2% center; padding-left:25px;}

    .btn-group  button:hover{color:#e96739;}




    .main-left .form-group input{padding:2px; border:1px solid #ddd; border-radius:0px; height:30px; }
    .form-inline .form-group input{padding:2px; border:1px solid #ddd; border-radius:0px; height:30px; width:100px;}
    
    .form-inline .form-group textarea{padding:5px; border:1px solid #ddd; border-radius:0px; width:100px;}

    .form-inline .form-group{margin-right:10px; margin-bottom:10px; }

    .form-right {width:100%; }
    .left-texts{text-align:left;}
	


    .tab-form .form-group label{font-size:11px; color:#e96739; width:auto; padding-right:10px; font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}

    .tab-form .btn-primary{ border-radius:0px; border:0px; background:#3dc4ce;}

    .tab-form .btn-primary:hover{  background-color: #249098;
                                   /* Firefox */
                                   -moz-transition: all 0.5s ease-in-out;
                                   /* WebKit */
                                   -webkit-transition: all 0.5s ease-in-out;
                                   /* Opera */
                                   -o-transition: all 0.5s ease-in-out;
                                   /* Standard */
                                   transition: all 0.5s ease-in-out;}

    .form-horizontal .btn-default{ border-radius:0px; border:0px; background:#3dc4ce; color:#fff;}

    .form-horizontal .btn-default:hover{  background-color: #249098;
                                          /* Firefox */
                                          -moz-transition: all 0.5s ease-in-out;
                                          /* WebKit */
                                          -webkit-transition: all 0.5s ease-in-out;
                                          /* Opera */
                                          -o-transition: all 0.5s ease-in-out;
                                          /* Standard */
                                          transition: all 0.5s ease-in-out;}

    .tab-middle-main .form-inline  textarea{width:100px;}	

    .tab-form .tab-middle-main .form-group label{font-size:11px; color:#e96739; width:auto; min-width:85px; text-align:right;padding-right:10px; font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}

    .tab-form .tab-form-right{text-align:none;}
    .tab-form .tab-form-right input{text-align:left; width:50px; font-weight:bold; height:25px; padding-right:10px;}
    .tab-form .tab-form-right label{font-size:11px; color:#e96739; width:auto; text-align:right;padding-right:10px; font-family:'Conv_ProximaNova-Regular_0',Sans-Serif;}
    .tab-form-right-tabs{text-align:right;}

    .tab-form-right-tabs input{text-align:right; width:100px; font-weight:bold; height:25px; padding-right:10px;}

    .tab-form   .tab-form-right .form-group{margin-right:0px; margin-bottom:2px; }



}



@media only screen and (max-width: 360px) {


    #footer{display:none;}
    .flip {display:block;}
    .header-strip .col-xs-12:nth-child(1){text-align:center; background-color:#f3f3f3;}

    .arrow-right {height:80px; background:url(/img/arrow-down.png) no-repeat 50% 45%; width: 190px; margin:0 10px; display:inherit;}
    .box4{margin-top:0px;}
    .box5{margin-top:0px; margin-bottom:100px;}
    .header-nav {float:left;}
    .cenerall{width:190px; margin:0 auto;}
    .footermenu_bottom
    {

        bottom:200px;

    }

    #footer_small {background:#38c3cd; text-align: center; position: fixed;}
    #footer_small ul {list-style: none; margin: 0; padding: 0; float:left;}
    #footer_small ul li {background:url(/img/divider.gif) no-repeat 100% 0;	font-family:'Conv_ProximaNova-Semibold_0',Sans-Serif; min-width:50px; overflow:hidden; float:left;}
    #footer_small ul li a { padding:15px 0; font-size:16px; color:#2b666b; text-align:left; text-indent:-5000px; float:left;}
    #footer_small ul li a:hover {color:#fff; text-decoration: none;}

    #footer_small ul li:nth-child(1) a {background:url(/img/f-icon-1_small.png) no-repeat 5px 14px; padding-left: 0px ; width:50px;}
    #footer_small ul li:nth-child(2) a {background:url(/img/f-icon-2_small.png) no-repeat 10px 14px; padding-left: 0px ; width:50px;}
    #footer_small ul li:nth-child(3) a {background:url(/img/f-icon-3_small.png) no-repeat 10px 14px; padding-left: 0px ; width:50px;}
    #footer_small ul li:nth-child(4) a {background:url(/img/f-icon-4_small.png) no-repeat 10px 14px; padding-left: 0px; width:50px;}
    #footer_small ul li:nth-child(5) a {background:url(/img/f-icon-5_small.png) no-repeat 10px 14px; padding-left: 0px; width:50px;}
    #footer_small ul li:nth-child(6) a {background:url(/img/f-icon-6_small.png) no-repeat 10px 14px; padding-left: 0px; width:50px;}

    #footer_small ul li:nth-child(1) a:hover {background:url(/img/f-icon-1_small_over.png) no-repeat 5px 14px;}
    #footer_small ul li:nth-child(2) a:hover {background:url(/img/f-icon-2_small_over.png) no-repeat 10px 14px;}
    #footer_small ul li:nth-child(3) a:hover {background:url(/img/f-icon-3_small_over.png) no-repeat 10px 14px;}
    #footer_small ul li:nth-child(4) a:hover {background:url(/img/f-icon-4_small_over.png) no-repeat 10px 14px;}
    #footer_small ul li:nth-child(5) a:hover {background:url(/img/f-icon-5_small_over.png) no-repeat 10px 14px;}
    #footer_small ul li:nth-child(6) a:hover {background:url(/img/f-icon-6_small_over.png) no-repeat 10px 14px;}


}

/* Created By Amit*/
.body-white{background:#fff;}
label.required {
    font-weight: bold;
    background: url('/img/icon_mandatory.png') no-repeat top right;
    padding-right:10px;
}

.errors{
    color: #d43f3a;
    font-size: 12px;
    font-weight: bold;
    list-style: none outside none;
    margin-left: -35px;
}
.btn-top-right{margin-bottom: 10px;margin-top: 20px;text-align: right;}

fieldset{  border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: 20px;
    /*margin-left: 23px;
	  margin-top: 12px;
	*/
	margin:12px 31px 0 30px;
    padding: 2%;
    /*width: 96.5%;*/
	background:#fff;}

legend {
    background:#0E4C77;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0 5px 17px;
	background-image:-moz-linear-gradient(center top , #288BBF, #0E4C77);
	
 background-image: -webkit-gradient(linear, left top, left bottom, from(#288BBF), to(#0E4C77));
 background-image: -webkit-linear-gradient(top, #288BBF, #0E4C77);
 background-image: -moz-linear-gradient(top, #288BBF, #0E4C77);
 background-image: -ms-linear-gradient(top, #288BBF, #0E4C77);
 background-image: -o-linear-gradient(top, #288BBF, #0E4C77);
 background-image: linear-gradient(to bottom, #288BBF, #0E4C77);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#288BBF, endColorstr=#0E4C77);
  
	padding:5px 18px;
    width: auto;
}
.error-inner {
    color: #d43f3a;
    font-size: 12px;
    font-weight: bold;
    list-style: none outside none;
    margin-left: 0;
}
.btn{border-radius:0px;}
.btn-info{background-color: #3dc4ce;}
.well {background-color: #f9f9f9;}

/*Common css*/
.p-0{padding:0px;}
.p-10{padding:10px;}
.mb-10{margin-bottom: 10px;}
.mt-20{ margin-top: 20px;}
.mr-10{ margin-right: 10px;}
.mr-20{ margin-right: 20px;}
.font-bold{font-weight: bold;}
.text-r{text-align: right;}
.text-l{text-align: left;}
.f-right{float:right;}
.dnone{display: none;}

/* end By Amit*/

.select-wrapper{
		float: left;
		display: inline-block;
		border: 1px solid #ccc;            
		background: url('/img/dropdown-sprite.png') no-repeat right -26px #fff;
                
		cursor: pointer;
/*                margin-bottom:15px;*/
	}
	.select-wrapper, .select-wrapper select{
		width: 100%;
		height: 31px;
		line-height: 26px;
                margin-bottom: 13px;
	}
	.select-wrapper:hover{
		background: url('/img/dropdown-sprite.png') no-repeat right -26px #fff;
		border-color: #ccc;
	}
	.select-wrapper .holder{
		display: block;
		margin: 0 0px 0 5px;
		white-space: nowrap;            
		overflow: hidden;
		cursor: pointer;
		position: relative;
		color:#000;
	}
	.select-wrapper select{
		margin: 0;
		position: absolute;
                width: 95%;
		z-index: 2;            
		cursor: pointer;
		outline: none;
		opacity: 0;
		/* CSS hacks for older browsers */
		_noFocusLine: expression(this.hideFocus=true); 
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		-khtml-opacity: 0;
		-moz-opacity: 0;
	}
        
         /* login page */
.login_fix{ width:100%;}
.login_window{background:#3093C7; width:100%; padding:0px; width:400px; margin:0 auto; margin-top:0%; background-image:-moz-linear-gradient(center top , #3093C7, #1C5A85);
-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.login_window .logo_container{background:url(/img/back_login.png) repeat; text-align:center; padding:15px 0px;}

.login_window .login_form{padding:20px; padding-bottom:0px;}
.login_window .login_form .form-group label {color:#fff;}
.login_window .login_form .form-group a{font-size:11px; color:#fff; text-decoration:none;}
.login_window .login_form .form-group a:hover{text-decoration:underline;}

.login_window .form-horizontal .btn-default{ border-radius:0px; border:0px; background:#ff6608; color:#fff; padding:5px 15px;}

.login_window .form-horizontal .btn-default:hover{  background-color: #249098;
    /* Firefox */
    -moz-transition: all 0.5s ease-in-out;
    /* WebKit */
    -webkit-transition: all 0.5s ease-in-out;
    /* Opera */
    -o-transition: all 0.5s ease-in-out;
    /* Standard */
    transition: all 0.5s ease-in-out;}
	
  /* login page End */
  
  
 table.dataTable thead > tr > th,table.dataTable tfoot > tr > th {
    padding-left: 5px;
    padding-right: 15px;
    font-size: 12px;
}
#product-list{margin-left:10px;}
.form-control {
    border-radius: 2px; 
	padding:5px;
	
	
}
.talign-right{text-align: right;}

.login-error {
    margin: 30% 0 0 0;
    padding: 0;
    width: 400px;
}
.min-h-95{min-height: 95px!important;}
.min-h-97{min-height: 97px!important;}
.well .col-md-6 .form-group{min-height: 80px !important;}
.well form .col-md-6 .form-group{min-height: 95px !important;}
.margn-right10px{margin-right:10px;}


.alert {margin-top: 5px;}

.dropdown-menu{background: #1f98af;}

.dropdown-menu li{float:none !important;}

.dropdown-menu {
   min-width:130px;
border: 0px !important;
    border-radius: 0px;
    padding: 0px;
    margin-top:10px;
    padding-right: 0px !important;
}

.dropdown-menu li a{
text-indent: 0px !important; background: none !important;
padding: 15px 20px !important;
padding-bottom: 30px !important;
min-width:130px !important;
color:#fff !important;

}

.dropdown-menu li a:hover{
background-color: #fff !important; color: #000 !important;}

.tblHead{ background-color: #ccc;font-size: 10px;}
f-right{}



.time-view{}
.time-view .tree-margin{margin-right:0px;}
.time-view .boxss{width:100px; height:65px; margin:0 auto;  font-size:43px; font-weight:bold; color:#fff; padding-top:2px;}
.time-view  p{ font-size:11px; margin-top:5px;}
.time-view a{color: #fff !important; text-decoration: none;}

.time-view  .view-green{background-color:#76be02;}
.time-view  .view-yellow{background-color:#ffc000;}
.time-view  .view-blue{background-color:#0274e6;}
.time-view  .view-blue-light{background-color:#0094f8;}
.time-view  .view-sky{background-color:#00a8fb;}

.time-view  .view-green:hover{background-color:#66a501;}
.time-view  .view-yellow:hover{background-color:#eeb404;}
.time-view  .view-blue:hover{background-color:#036ad0;}
.time-view  .view-blue-light:hover{background-color:#0182da;}
.time-view  .view-sky:hover{background-color:#058bce;}



.time-view-second{}
.time-view-second .tree-margin{margin-right:0px;}
.time-view-second .boxss{width:50px; height:35px; margin:0 auto;  font-size:23px; font-weight:bold; color:#fff; padding-top:2px;}
.time-view-second  p{ font-size:15px; margin-top:5px;}
.time-view-second a{color: #fff !important; text-decoration: none;}

.time-view-second  .view-green{background-color:#76be02;}
.time-view-second  .view-yellow{background-color:#ffc000;}
.time-view-second  .view-blue{background-color:#0274e6;}
.time-view-second  .view-blue-light{background-color:#0094f8;}
.time-view-second  .view-sky{background-color:#00a8fb;}

.time-view-second  .view-green:hover{background-color:#66a501;}
.time-view-second  .view-yellow:hover{background-color:#eeb404;}
.time-view-second  .view-blue:hover{background-color:#036ad0;}
.time-view-second  .view-blue-light:hover{background-color:#0182da;}
.time-view-second  .view-sky:hover{background-color:#058bce;}
.dash-chart-a-b{width: 50%; min-height: 700px;}
.dash-chart-c{width: 100%; min-height: 700px; margin-top: 20px;}

/*********************malik**********************************/

fieldset{ min-height:140px;}

.tab-content{ background:#C8D7DC; background-image:-moz-linear-gradient(center top , #F2F5F6, #C8D7DC);}
.table tr {
    background: none repeat scroll 0 0 #323C45;
}

.table td, th {
     border: 1px solid #50565B !important;
    color: #B6B6B6;
    font-weight: normal;
    padding: 15px 5px !important;
}

.adminName{float:left; color:#fff; padding:10px 0px 10px 20px}
.form-control{color:#000!important}


.odd td{color:#000 !important;}

.even td{color:#000 !important; background:#e4e4e4 !important;}
.table td, th {
    border: 1px solid #50565b !important;
    color: #b6b6b6;
    font-weight: normal;
    padding: 15px 5px !important;
	border-top:0px !important;
}


.btn {
    border: 1px solid transparent !important;
    border-radius: 3px;
    box-shadow: none;
	font-weight:bold;
}
.form-control::-moz-placeholder {
    color: #626262;
    opacity: 1;
}

.tab-form .form-group label {
    color: #005a8e;
    font-family: "Conv_ProximaNova-Regular_0",sans-serif;
    font-size: 13px;
    padding-right: 10px;
}
.dataTables_wrapper{padding-left:15px; margin-top:10px; padding-top:5px;}



.btn-info {
    background: #feb900 linear-gradient(to bottom, #f7e0a4, #feb900) repeat scroll 0 0;
    border-color: #b57000;
    color: #000;
    font-weight: bold;
}
.btn-info:hover, .btn-info:active, .btn-info.hover {
    background: #d38e00 linear-gradient(to bottom, #f7e0a4, #d38e00) repeat scroll 0 0;
    border-color: #b57000;
    color: #000;
}

.header-nav ul {
    z-index: 9999!important;
}